/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/



$act-off-white: #E6E8ED;
$act-steel-grey: #6D7B8D;
$act-slate-grey: #495A67;
$act-charcoal-grey: #313A44;
$act-ashen-black: #1C232A;
$act-electric-blue: #00A0E9;
$act-amber: #FFBF00;

$brand-col-1 : $act-charcoal-grey;
$brand-col-2 : $act-steel-grey;
$brand-col-3 : $act-slate-grey;
$brand-col-4 : $act-off-white;
$brand-col-5 : $act-ashen-black;
$brand-col-6 : $act-electric-blue;
$brand-col-7 : $act-amber;
$brand-col-8 : $act-slate-grey;
$brand-col-9 : $act-slate-grey;

$col-dark : $act-ashen-black;
$col-light : $act-off-white;
$col-accent : $act-amber;

$col-text : $col-dark;
$col-heading : $brand-col-2;
$col-link :$col-accent;
$body-col: $col-light;

