/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/

$col-act-gray-xxlight : #e5e5e5;

$act-grey : #ccc;
$act-grey-light : #eee;
$act-grey-dark : #666;

$mxb-black: #000;
$mxb-burt-yellow: #FFB801;
$mxb-thick-cream: #F7EFE9;
$mxb-blue-dough: #43ADD1;
$mxb-conifer-green: #243A25;

$brand-col-1 : $mxb-black;
$brand-col-2 : $mxb-thick-cream;
$brand-col-3 : $mxb-burt-yellow;
$brand-col-4 : $mxb-blue-dough;
$brand-col-5 : $mxb-conifer-green;
$brand-col-6 : $act-grey-dark;
$brand-col-7 : $act-grey;
$brand-col-8 : $act-grey-light;
$brand-col-9 : $act-grey-dark;

$col-text : $brand-col-1;
$col-heading : $brand-col-1;
$col-link : $brand-col-2;
$col-accent : $brand-col-3;

