/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/



$act-off-white: #E6E8ED;
$act-steel-grey: #6D7B8D;
$act-slate-grey: #495A67;
$act-charcoal-grey: #313A44;
$act-ashen-black: #1C232A;
$act-electric-blue: #00A0E9;
$act-amber: #FFBF00;

$ssr-primary-red: #d20001;
$ssr-rust-orange: #e66b1f;
$ssr-mustard-yellow: #ffbe1f;
$ssr-deep-charcoal: #292929;
$ssr-ivory-white: #f9f6f2;
$ssr-additional-grey: #7c7973;

$brand-col-1 : $ssr-deep-charcoal;
$brand-col-2 : $ssr-mustard-yellow;
$brand-col-3 : $ssr-rust-orange;
$brand-col-4 : $ssr-ivory-white;
$brand-col-5 : $act-ashen-black;
$brand-col-6 : $ssr-primary-red;
$brand-col-7 : $act-amber;
$brand-col-8 : $ssr-additional-grey;
$brand-col-9 : $act-slate-grey;

$col-dark : $ssr-deep-charcoal;
$col-light :  $ssr-ivory-white;
$col-text : $ssr-deep-charcoal;
$col-heading : $ssr-deep-charcoal;
$col-link : $brand-col-3;
$col-accent : $brand-col-6;

