/*
 *
 */

$act-font-family-sans: bebas-neue-pro, sans-serif;
$act-font-family-serif: mrs-eaves-xl-serif-narrow, serif;
$act-font-family-alt: verveine, sans-serif;
$act-font-family-mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$act-font-family-body: $act-font-family-serif;
$act-font-family-headings: $act-font-family-sans;

