/*
 * Client specific settings that override the defaults
 */
$brand-col-1: #c9aa5d;
$brand-col-2: #c9aa5d;
$brand-col-3: #68736c;
$brand-col-4: #20382e;
$brand-col-5: #183027;
$brand-col-6: #102a21;
$brand-col-7: #f7f5ed;

$act-font-family-body: "proxima-nova", Arial, sans-serif;
$act-font-family-headings: "freight-text-pro", Georgia, serif;

$inuit-wrapper-width: 1448px;
