.o-list-flex{
  display: flex !important;
  margin-left: -$act-unit !important;
  margin-right: -$act-unit !important;
  > *{
      padding: 0 $act-unit !important;
  }
}
[class*="o-list-flex--"]{
 @extend .o-list-flex;
}

.o-list-flex--{
  &wrap-mobile{
    flex-wrap: wrap;
    > *{
      padding-bottom: $act-unit !important;
    }
    @include mq($from : tablet){
      flex-wrap: nowrap;
      > *{
        padding-bottom: 0 !important;
      }
    }
  }
  &flush{
    > * {
      margin: 0 !important;
    }
  }
  &tiny{
    margin: 0 - $act-unit-t;
    > * {
      margin: 0 $act-unit-t;
    }
  }
  &small{
    margin: 0 - $act-unit-s;
    > * {
      margin: 0 $act-unit-s;
    }
  }
  &medium{
    margin: 0 - $act-unit;
    > * {
      margin: 0 $act-unit;
    }
  }
  &large{
    margin: 0 - $act-unit-l;
    > * {
      margin: 0 $act-unit-l;
    }
  }
  &huge{
    margin: 0 - $act-unit-h;
    > * {
      margin: 0 $act-unit-h;
    }
  }
  &stacked{
    //display: none !important;
    @extend .o-list-flex;
    flex-direction: column;
    > *{
      margin-left: 0;
    }
  }
}

.o-list-flex--center{
  @extend .o-list-flex;
  justify-content: center;
}

.o-list-flex--1-1{
  @extend .o-list-flex;
  > * {
    width: 100%;
  }
}

.o-list-flex--1-2{
  @extend .o-list-flex;
  > * {
    width: 50%;
  }
}

.o-list-flex--1-3{
  @extend .o-list-flex;
  > * {
    width: 33.333%;
  }
}

.o-list-flex--1-4{
  @extend .o-list-flex;
  > * {
    width: 25%;
  }
}

.o-list-flex--1-5{
  @extend .o-list-flex;
  > * {
    width: 50%;
  }
}
