/*
  BEM BLOCK .o-wrapper
 */

.o-wrapper {
  display: block;
}

/*
  BEM BLOCK MODIFIER .o-wrapper--
 */

.o-wrapper-- {
  &type {
    display: block
  }
  &flex-col-centre{
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  &site{
    width: $inuit-wrapper-width;
    max-width: 100%;
  }
}

//BEM BLOCK MODIFIER FALLBACK .o-wrapper--

[class*=o-wrapper--] {
  @extend .o-wrapper;
}

/*
  BEM ELEMENTS .o-wrapper__
 */

.o-wrapper__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .o-wrapper--

[class*=o-wrapper__header--] {
  @extend .o-wrapper__header;
}
