.o-btn{
  transition: background 0.3s ease;
  display: inline-block;
  line-height:1;
  width: auto;
  border: none;
  padding: $act-unit-s;
  @include inuit-font-size($inuit-font-size-h5, 1);
  background: $brand-col-1;
  color: #fff;
  text-decoration: none;
}

.o-btn{
  &:hover,&:focus{
    @extend .o-btn;
    color: #fff;
  }
  a{
    text-decoration: none;
  }
}

[class*=o-btn]{
  @extend .o-btn;
}
.o-btn--{
  &h {
    @extend .o-btn;
    padding: $act-unit-h !important;
    @include act-font-size($act-fs-2, 1);
  }
  &l {
    @extend .o-btn;
    padding: $act-unit-l !important;
    @include act-font-size($act-fs-3, 1);
  }
  &m {
    @extend .o-btn;
    padding: $act-unit !important;
    @include act-font-size($act-fs-4, 1);
  }
  &s {
    @extend .o-btn;
    padding: $act-unit-s !important;
    @include act-font-size($act-fs-5, 1);
  }
  &t {
    @extend .o-btn;
    padding: $act-unit-t !important;
    @include act-font-size($act-fs-6, 1);
  }
  &transparent{
    @extend .o-btn;
    background: transparent;
  }
  &rounded-0{
    @extend .o-btn;
    border-radius: 0 !important;
  }
  &rounded {
    @extend .o-btn;
    border-radius: $act-unit;
  }
  &pill{
    border-radius: 9999px;
    padding-left: $act-unit;
    padding-right: $act-unit;
  }

}
