.o-list-flex{
  display: flex;

  > *{
    

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }

  }
}

.o-list-flex--center{
  @extend .o-list-flex;
  justify-content: center;
}