.o-btn{
  display: inline-block;
  line-height: 1;
  width: auto;
  cursor: pointer;
  a{
    text-decoration: none;
  }
}

[class*=o-btn--]{
  @extend .o-btn;
}
.o-btn--{
  &h {
    @extend .o-btn;
    padding: $act-unit-h !important;
    @include act-font-size($act-fs-2, 1);
  }
  &l {
    @extend .o-btn;
    padding: $act-unit-l !important;
    @include act-font-size($act-fs-3, 1);
  }
  &m {
    @extend .o-btn;
    padding: $act-unit !important;
    @include act-font-size($act-fs-4, 1);
  }
  &s {
    @extend .o-btn;
    padding: $act-unit-s !important;
    @include act-font-size($act-fs-5, 1);
  }
  &t {
    @extend .o-btn;
    padding: $act-unit-t !important;
    @include act-font-size($act-fs-6, 1);
  }
  &transparent{
    @extend .o-btn;
    background: transparent;
  }
  &rounded-0{
    @extend .o-btn;
    border-radius: 0 !important;
  }
  &rounded {
    @extend .o-btn;
    border-radius: $act-unit;
  }
  &b1{
    @extend .o-btn;
    background: $brand-col-1;
    border-color: $brand-col-1;
    colour: white;
    a{
      color: white;
    }
  }
  &b2{
    @extend .o-btn;
    background: $brand-col-2;
    border-color: $brand-col-2;
    &:hover{
      background: darken($brand-col-2, 10%);
    }
    a:hover{
      color: white;
    }
  }
  &ghost{
    @extend .o-btn--transparent;
    border: solid 1px;
  }
}
