/*
  BEM BLOCK .o-list-icon
 */

.o-list-icon {
  display: block;
}

/*
  BEM BLOCK MODIFIER .o-list-icon--
 */

.o-list-icon-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .o-list-icon--

[class*=list-icon--] {
  @extend .o-list-icon;
}

/*
  BEM ELEMENTS .o-list-icon__
 */

.o-list-icon__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &list{
    margin-left: 0;
    li{
      counter-increment: li;
      list-style: none;
      position: relative;
      padding-left: $act-unit-l;
      margin-bottom: $act-unit;
      &::before{
        content: counter(li);
        left: 0;
        position: absolute;
        background: black;
        color: $brand-col-3;
        @include size($act-unit-t * 5);
        text-align: center;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
      }
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .o-list-icon--

[class*=list-icon__header--] {
  @extend .o-list-icon__header;
}
