blockquote{
  border-left: solid ;
  padding-left: $act-unit-s;
  text-align: left;
  font-family: $act-font-family-serif;
  margin-left: 0;
  font-weight: 700;
  color: $brand-col-2;
  > *{
    margin-bottom: $act-unit-s;
    line-height: 1.3 !important;
  }
  > :first-child{
    &:before{
      content : open-quote;
      display: inline;
    }
  }
  > :last-child{
    margin-bottom: 0;
    &:after{
      content : close-quote;
      display: inline;
    }
  }

}
