dl{
  margin-bottom: $inuit-base-spacing-unit;
  @extend %clearfix;
}
dt{
  font-weight: 600;
  color: $brand-col-3;
  border-bottom:solid 1px rgba($brand-col-3--light, 0.5);
  margin-bottom: $inuit-base-spacing-unit--small;
}
dd{
  margin-left: 1em;
  padding-left: 0;
  .alignleft{
    margin-left:0 !important;
  }
  .alignright{
    margin-right:0 !important;
  }
  img{
    width:20%
  }
}
