dt{
  font-weight: bold;
}
dd{
  margin-bottom: $act-unit;
}
li{
  padding-left: 1em;
  margin-bottom: 0.5em;
  li{
    margin-bottom: 0.25em;
    font-size: 90%;
    list-style: disc;
  }
  ul{
    margin-top: 0.5em;
  }
}

ol{
  //margin-left: $act-unit;
}
