ul{
  margin-left:0;
  //@include inuit-font-size($small-size, 1.3);
}
li{
 margin-bottom: $inuit-base-spacing-unit--small ;
}
ul ul{
  margin-bottom: 0;
}
ul ul li {
  margin-bottom: 0;
}

.ul--inline{
  li{
    display:inline;
    list-style: none;
    padding-right: 0.5em;
    border-right: solid 1px;
    margin-right: 0.5em;
    &:last-child{
      padding-right: 0;
      border-right: none;
      margin-right: 0;
    }
  }
}