.wpcf7-form {
  max-width: 500px;
  margin: 0 auto;
  background: rgba($brand-col-3--light, 0.5);
  padding: $inuit-base-spacing-unit /2;
  padding-bottom:0;
  box-shadow: $z1-shadow;
  text-align: left;
  @include media-query(desk) {
    padding: $inuit-base-spacing-unit  /2 ;
  }
  .wpcf7-form--fullwidth &{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.wpcf7-form {
  &__fields {
    border: none;
    margin: 0;
    padding: 0 $inuit-base-spacing-unit--small;
    &--full{
      @extend .wpcf7-form__fields;
      width:100% !important;

    }
    .wpcf7-form--fullwidth &{
      @include media-query(lap-and-up) {
        width: 33%;
      }
      &:nth-of-type(1){
        background: rgba(#fff, 0.4);
      }
      &:nth-of-type(2){
        background: rgba(#fff, 0.2);
      }
      &:nth-of-type(3){
        background: rgba(#fff, 0);
      }
    }
  }
  &__label {
    margin-bottom: $inuit-base-spacing-unit--small;
    display: block;
    @include inuit-font-size($small-size);
    small{
      line-height: 1;
    }
  }
  &__input {
    @extend %input-style-1;
    border-color: $brand-col-3--light;
    margin-bottom: 0;
  }
  &__wrapper {
    display: block;
    margin-bottom: $inuit-base-spacing-unit--small;
    @include inuit-font-size($micro-size, 1.5);
  }
  &__help {
    @include inuit-font-size($micro-size, 1.5);
  }
}

.wpcf7-form {
  &__label {
    &--username {
      @extend .wpcf7-form__label;
    }
    &--sub {
      @extend .wpcf7-form__label;
    }
    &--donation {
      @extend .wpcf7-form__label;
      small{
        line-height: 1;
      }
    }
    &--email {
      @extend .wpcf7-form__label;
    }
    &--message {
       @extend .wpcf7-form__label;
     }
    &--address1 {
      @extend .wpcf7-form__label;
    }
    &--address2 {
      @extend .wpcf7-form__label;
    }
    &--tel {
      @extend .wpcf7-form__label;
    }
    &--tel2 {
      @extend .wpcf7-form__label;
    }
    &--name {
      @extend .wpcf7-form__label;
    }
    &--postcode {
      @extend .wpcf7-form__label;
    }
    &--town {
      @extend .wpcf7-form__label;
    }
    &--gift {
      @extend .wpcf7-form__label;
      margin-bottom: 0;
    }
  }
  &__input {
    &--username {
      @extend .wpcf7-form__input;
    }
    &--sub {
      @extend .wpcf7-form__input;

        height: 52px

    }
    &--donation{
      @extend .wpcf7-form__input;
    }
    &--name {
      @extend .wpcf7-form__input;
    }
    &--tel {
      @extend .wpcf7-form__input;
    }
    &--tel2 {
      @extend .wpcf7-form__input;
    }
    &--address1 {
      @extend .wpcf7-form__input;
    }
    &--address2{
      @extend .wpcf7-form__input;
    }
    &--town{
      @extend .wpcf7-form__input;
    }
    &--postcode{
      @extend .wpcf7-form__input;
    }
    &--email {
      @extend .wpcf7-form__input;
    }
    &--message {
      @extend .wpcf7-form__input;
    }
    &--submit {
      @extend .btn--cta3;
      width: 100%;
      margin-top: $inuit-base-spacing-unit--small;
      font-weight: 500;
    }
  }
}

.wpcf7-form {
  &--subscription {
    &__fields {
      @extend .wpcf7-form__fields;
      &--full{
        @extend .wpcf7-form__fields--full;
        width:100% !important;
      }
    }
  }

}
div.wpcf7-response-output{
  margin: 0;
  width: 100%;
  text-align: center;
}

span.wpcf7-not-valid-tip{
  color: #fff;
  background: red;
  padding: 0 1em;
}
input.wpcf7-not-valid{
  border-color: red;
}
