/*
BEM BLOCK .c-main
 */

.c-main{
  @extend .o-site-wrapper--responsive;
  padding-top: $inuit-global-spacing-unit ;
  padding-bottom: $inuit-global-spacing-unit;
  @include mq($from : desktop){
    padding: $inuit-global-spacing-unit-huge !important;
    padding-top: $inuit-global-spacing-unit-large !important;
    padding-bottom: $inuit-global-spacing-unit-huge !important;
  }
  @include mq($from : tablet, $until : desktop){
    padding: 0 !important;
  }
}

/*
BEM BLOCK MODIFIERS .c-main--
 */

[class*="c-main--"]{
  @extend .c-main;
}

.c-main--{
  &service{
    padding: 0 !important;
  }
}