.gallery{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.gallery-item{
  padding: $act-unit-t;
  padding-top: 0;
  margin: 1%;
  margin-top: 0;
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-right: 0;
  }
  .gallery-columns-3 &{
    width: 32%;
  }
}

.search-field{
  max-width: 100%;
}

.wp-block-quote{
  color: $brand-col-2;
  font-weight: bold;
  margin-left: 0;
  padding-left:$act-unit-l;
  margin-top: $act-unit-l;
  margin-bottom: $act-unit-l;
  p{
    @include act-font-size($act-fs-3)
  }
}

.c-island--primary{
  @extend .o-island;
  background: $brand-col-1;
  padding: $act-unit-l;
  color: white;
  margin-bottom: $act-unit;
  border-radius: $act-unit;
  p{
    color: white;
  }
  @include headings(){
    color: white;
    font-family: $act-font-family-sans;
  }
}
.l-site__subsidiary{
  background: $brand-col-7;

}
.l-subsidiary{
  background: transparent;
  padding: $act-unit $act-unit-h;
}
.l-widget-area--subsidiary{
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  display: block;
}
.c-accl-post-list{
  margin-bottom: 0 !important;
}
.c-accl-post-list{
  flex-direction: column;
  @include mq($from : tablet){
    flex-direction: row;
  }
}

.c-accl-post-list__post-thumb{
  width: 100%;
 @include mq($from : tablet){
   width: 33.33%;
 }

}
.c-accl-post-list__post-thumb{
  padding: $act-unit ;
}
.c-accl-post-thumb {
  padding: 0 0 0 0;
  background: $col-light;
  height: 100%;
  margin-bottom: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 6px #00000029;
}
.c-header--subsidiary{
  text-align: center;
}
.c-accl-post-thumb__heading a{
  color: $col-dark;
}

.c-widget--footer .c-nav-menu__list--primary{
  justify-content: flex-start;
  margin-bottom: 0;

}
.l-widget-area--footer-widgets{
  //display: flex;
  //justify-content: space-between;
  flex-direction: row;
  justify-content: space-between;
}

.l-widget-area__widget--footer-widgets:last-child{
  text-align: right;
}
.c-nav-menu__list--social{
  justify-content: flex-end;
}
.c-nav-menu__item--social {
 margin-right: $act-unit;
}
.c-svg-icon__svg{
  width: $act-unit-l * 0.75;
  height: $act-unit-l * 0.75;
}

.c-aside--social-footer{
  .c-widget--footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .c-widget__header--footer{
    margin-right: $act-unit;
  }
  .c-header__heading--footer{
    margin-bottom: 0;
    font-weight: 500;
    @include act-font-size($act-fs-3);
    &:after{
      content: ':';
    }
  }
}
.c-nav-menu__link--social{
  display: block;
}

.c-svg-icon__svg{
  display: block;
}

.wp-block-button__link{
  transition: background 0.3s ease-in-out;
  background: $col-accent;
  color: $col-light;
  &:hover{
    background: darken($col-accent, 5%);
    color: $col-light;
    text-decoration: none;
  }
}

