/*
 *
 */
html {
  font-family: $base-font-family;
  font-weight: 300;
}

@include headings(1, 6) {
  font-family: $heading-font-family;
  font-weight: 900;
  margin-top: 0;
}

h1 {
  @include inuit-font-size($inuit-heading-size-1);
}

h2 {
  @include inuit-font-size($inuit-heading-size-2);
}

h3 {
  @include inuit-font-size($inuit-heading-size-3);
  margin-bottom: $inuit-base-spacing-unit--small;
}

h4 {
  @include inuit-font-size($inuit-heading-size-4);
}

h5 {
  @include inuit-font-size($inuit-heading-size-5);
}

h6 {
  @include inuit-font-size($inuit-heading-size-6);
}

p {
  margin-top: 0;
  strong {
    font-weight: 500;
  }
}

p a,
li a,
dl a{
  @extend %link-style--1;
}

.is-break{
  @extend .clearfix;
  clear: both;
  margin: 0 0 $inuit-base-spacing-unit 0;
  color: transparent;
}

.is-sub-heading{
  margin-bottom: $inuit-base-spacing-unit;
  >*{
    margin: 0 !important;
  }

}

