/*
  BEM BLOCK .l-section
 */

.l-section {
  display: block;
  padding-top: $act-unit;
  position: relative;
    &:before{
      background: red;
      display: block;
      content: "";
      width: 100%;
      height: $act-unit;
      position: absolute;
      left: 0;
      bottom: - $act-unit;
      z-index: 10;
      background: url("assets/images/svg/mxb-wave-horz.svg");
      background-repeat: repeat-x;
      background-size: 3.6%;
    }
  &.has-no-bottom-border:before{
    display: none !important;
  }
  &:last-child{
    //padding-bottom: $act-unit;
  }
  &:last-child:before{
    display: none !important;
  }
  img{
    border-radius: $act-unit;
  }
  h1{
    @include act-font-size($act-fs-m, $modifier: -1)
  }
  h2{
    @include act-font-size($act-fs-1)
  }
}

/*
  BEM BLOCK MODIFIER .l-section--
 */

.l-section-- {
  &type {
    display: block
  }
  &blog-intro{
    background: $brand-col-7;
    @include breakout-band($bgc : $brand-col-7);
    padding: $act-unit $act-unit 0;
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-section--

[class*=l-section--] {
  @extend .l-section;
}

/*
  BEM ELEMENTS .l-section__
 */

.l-section__ {
  &header {
    display: block;
  }

  &header-wrapper{
    @extend %shape-wrapper;
  }
  &header-container{
    @extend %shape-container;
  }
  &header-content{
    @extend %shape-content;
    //width: 650px !important;
    padding-top: $act-unit-l *1.5 !important;
  }
  &heading {
    display: block
  }

  &title {
    display: inline;
  }
  &intro{
    text-align: center;
    margin-bottom: $act-unit-l;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }
  &body{
    @extend .o-box;
    padding: $act-unit-l 0;
  }

  &footer {
    display: block;
    text-align: center;
  }
  &footer-wrapper{
    @extend %shape-wrapper;
  }
  &footer-container{
    @extend %shape-container;
  }
  &footer-content{
    @extend %shape-content;
    font-weight: 700;
  }
  &cols{
    display: flex;
    margin-bottom: $act-unit-l;
  }
  &col{
    &:after{
      .l-section--blog-intro &{
        display: none !important;
      }

    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-section--

[class*=l-section__header--] {
  @extend .l-section__header;
}
.is-col-100{
  > *{
    width: 100%;
  }
}

.is-col-50-50{
  > *{
    @extend .u-1-2;
  }
  > *:first-child{
    padding-right: $act-unit;
  }
  > *:last-child{
    padding-left: $act-unit;
  }
}

.is-col-75-25{
  > *:first-child{
    @extend .u-2-3;
    padding-right: $act-unit-h * 2;
  }
  > *:last-child{
    @extend .u-1-3;
    padding-left: $act-unit-h;
  }
}

.is-col-33-33-33{
  text-align: center;
  margin-left: -$act-unit-l;
  margin-right: -$act-unit-l;
  > *{
    @extend .u-1-3;
    height: auto;
  }
  > *:first-child{

    padding-right: $act-unit-l;
  }
  > *:last-child{
    padding-left: $act-unit-l;
  }
  .l-section__coll-content{
    padding: 0 $act-unit-l;
    font-size: $act-fs-3;
    p{
      margin-bottom: 0;
    }
  }
;
}

%shape-wrapper{
  height: 175px;
  overflow: hidden;
}
%shape-container{
  @include size(1300px, 700px);
  max-width: 100%;
  margin: 0 auto;
  background: $brand-col-2;
  border-radius: 50%;
}
%shape-content{
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: $act-unit * 1.5;
}

//BEM ELEMENT MODIFIER FALLBACK .l-section__footer-content--

[class*=l-section__footer-content--] {
  @extend .l-section__footer-content;
}
.l-section__footer-content--{
  &blog{
    text-align: center;
    padding-top: $act-unit-h;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-section__footer-content--

[class*=l-section__col--] {
  @extend .l-section__col;
}
.l-section__col--{

}

