/*
  BEM BLOCK .l-subsidiary
 */

.l-subsidiary {
  @extend .c-site-wrapper--responsive;
  padding-top: 0;
}

/*
  BEM BLOCK MODIFIER .l-subsidiary--
 */

.l-subsidiary-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-subsidiary--

[class*=subsidiary--] {
  @extend .l-subsidiary;
}

/*
  BEM ELEMENTS .l-subsidiary__
 */

.l-subsidiary__ {
  &header {
    display: block
  }
  &heading {
    display: block
  }
  &title {
    display: inline;
  }
  &link {
    display: inline
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
  &widget-area{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto auto;
    grid-column-gap: 10%;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-subsidiary--

[class*=subsidiary__header--] {
  @extend .l-subsidiary__header;
}


.l-subsidiary__widget-area{
  > *:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
