.l-single-article {
  max-width: $article-max-width;
  margin: 0 auto $inuit-global-spacing-unit-large;
  border-bottom: solid 1px;
  padding-bottom: $inuit-global-spacing-unit;
  > *{
    max-width: 36em;
    margin-left: auto;
    margin-right: auto;
  }
}

.l-single-article__{
  &feature-image {
    margin-bottom: $inuit-global-spacing-unit;
  }
  &header {
    margin-bottom: $inuit-global-spacing-unit;
  }
  &heading {
    @include inuit-font-size($inuit-font-size-h1, 1);
  }
  &title {
    display: block;
    @include inuit-font-size($inuit-font-size-h1, 1);
    margin-bottom: 0;
  }
  &title-link {
    display: block;
    text-decoration: none;
    @include inuit-font-size($inuit-font-size-h1, 1);
  }
  &post-meta {
    display: block;
  }
  &meta {
    display: block;
  }
  &body {
    display: block;
  }
  &footer {
    display: block;
  }

  &comment-link {
    display: block;
   // @include inuit-font-size($inuit-font-size-small-print, 1);
    //position: absolute;
    //padding: $inuit-global-spacing-unit;
    //bottom: 0;
    //right: 0;
  }
}

/*
BEM BLOCK MODIFIERS .l-main__feature-image--
 */

[class*="l-single-article__feature-image--"]{
  @extend .l-single-article__feature-image;
}

.l-single-article__feature-image--{

}

/*
BEM BLOCK MODIFIERS .l-main__feature-image--
 */

[class*="l-single-article__meta--"]{
  @extend .l-single-article__meta;
}

.l-single-article__meta--{
  &single-post{
    //display: none;
  }
}

.l-single-article{
  &--aside__feature-image{
     //@extend .l-single-article__feature-image;
   }
  &--aside__header{
    //@extend .l-single-article__header;
  }
  &--aside__body{
    //@extend .l-single-article__body;
  }
  &--aside__footer{
    //@extend .l-single-article__footer;
  }
  &--aside__comment-link{
    //@extend .l-single-article__comment-link;
  }

  &--quote__feature-image{
    //@extend .l-single-article__feature-image;
  }
  &--quote__header{
    //@extend .l-single-article__header;
  }
  &--quote__body{
    //@extend .l-single-article__body;
  }
  &--quote__footer{
    //@extend .l-single-article__footer;
  }
  &--quote__comment-link{
    //@extend .l-single-article__comment-link;
  }
}

.l-single-article{
  &--video{
    @extend .l-single-article;
    &__header{
      @extend .l-single-article__header;
    }
    &__title{
      @extend .l-single-article__title;
    }
    &__body{
      @include inuit-font-size($inuit-font-size-h5);
    }
    &__feature-image{
      @extend .l-single-article__feature-image;
    }
    &__footer{
      @extend .l-single-article__footer;
    }
    &__post-meta{
      @extend .l-single-article__post-meta;
    }
    &__comment-link{
      @extend .l-single-article__comment-link;
    }

  }
}
