/*
  BEM BLOCK .l-site
  #1 Fixes the horizontal scroll issue with width: 100vw when vertical scroll bars present
  #2 Force the footer to the bottom of short pages
 */

.l-site{
  /* #1 */
  overflow: hidden;

  /* #2 */
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

/*
BEM ELEMENTS .l-site__
 */
.l-site__{
  &masthead{
    transition: background 0s ease-in-out;
    background: $brand-col-6;
    position: relative;
    z-index: 10;
    padding-bottom: $act-unit-l;
    .page-template-default &{
      background: $brand-col-2;
    }
    .single-service &{
      background: $brand-col-1;
      path{
        fill: $brand-col-6;
      }
    }
    [data-mobile=on] &{
      transition: background 0.3s ease-in-out;
      z-index: 9999;
      position: fixed;
      background: $brand-col-1;
      path{
        fill: $brand-col-6;
      }
    }
  }
  &hero{
    //padding-bottom: $act-unit;
    [data-mobile=on] &{
      padding-top: 201px;
      background: $brand-col-6;
    }
  }
  &main{
    padding-top: 0;
    background: $brand-col-6;
    .home &{
      padding-top: 0;
    }
  }
  &off-page-container{
    transition: opacity 0.3s ease-in-out;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: $brand-col-1;
    z-index: 1000;
    opacity: 0;
    padding-top: $act-unit-h * 1.5;
    &[data-state=off]{
      opacity: 0 !important;
      @include inuit-hidden-visually();
    }
    &[data-state=on]{
      opacity: 1;
    }
    @include mq($from : tablet){
      padding-top: $act-unit-h * 2.25;
    }
  }

  &footer{

    /* #2 */
    margin-top: auto;
    background: $brand-col-1;
    color: $brand-col-6;
    text-align: left;
  }
}

[class*=l-site__masthead--]{
  @extend .l-site__masthead;
}

.l-site__masthead{
  &.is-overlay-hero{
    position: relative;
    z-index: 999;
    height: 0;
  }
}

[class*=l-site__off-page-container--]{
  @extend .l-site__off-page-container;
}

.l-site__off-page-container{

}

