/*
  BEM BLOCK .l-main-before
 */

.l-main-before {
  display: block;
  background: #f2f2f2;
}
/*
  BEM BLOCK MODIFIER .l-main-before--
 */

.l-main-before-- {
  &blog {
    padding-top: $act-unit-l;
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-main-before--

[class*=l-main-before--] {
  @extend .l-main-before;
}

/*
  BEM ELEMENTS .l-main-before__
 */

.l-main-before__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block;
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 $act-unit-l;
  }

  &footer {
    display: block
  }
  &widget-area{
    margin: 0 0 $act-unit 0;
    padding: $act-unit;
  }
  &nav-menu{
    display: block;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-main-before--

[class*=l-main-before__header--] {
  @extend .l-main-before__header;
}

.l-main-before__header--{
  &blog{
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 $act-unit-l;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-main-before__content--

[class*=l-main-before__content--] {
  @extend .l-main-before__content;
}


//BEM ELEMENT MODIFIER FALLBACK .l-main-before__widget-area--

 [class*=l-main-before__widget-area--] {
   @extend .l-main-before__widget-area;
 }

//BEM ELEMENT MODIFIER FALLBACK .l-main-before__widget-area--

[class*=l-main-before__nav-menu--] {
  @extend .l-main-before__nav-menu;
}

.l-main-before__nav-menu--{
  &blog{
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 $act-unit-l;
  }
}
