.l-single-article {
  max-width: $article-max-width;
  margin: 0 auto $inuit-global-spacing-unit-large;

  padding-bottom: $inuit-global-spacing-unit;
  position: relative;
  padding-left: $act-unit;
  padding-right: $act-unit;

}

[class*="l-single-article--"]{
  @extend .l-single-article;
}

.l-single-article__{
  &feature-image {
    margin-bottom: - 175px;
    @include mq($from : tablet, $until : desktop){
      margin-bottom: -165px;
    }
  }
  &header {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 700px;
    top: 90px;
    @include mq($from : tablet){
      width: calc(100vw);
      top:auto;
    }
  }

  &header-wrapper{
    @extend %shape-wrapper;
  }
  &header-container{
    @extend %shape-container;
    background: $brand-col-2 !important;
  }
  &header-content{
    @extend %shape-content;
    width: 520px !important;
    padding-top: $act-unit-l *1.5 !important;

  }

  &heading {
    @include inuit-font-size($inuit-font-size-h1, 1);
  }
  &after-header{
    text-align: center;
    position: relative;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: $act-unit-l;
    margin-bottom: $act-unit-l;
    margin-top: 290px;
    @include mq($from : tablet){
      margin-top: 175px;
    }
    &:before{
      display: block;
      content: "";
      width: calc(100% - 24px);
      height: $act-unit;
      position: absolute;
      left: 0;
      bottom: - $act-unit;
      z-index: 10;
      background: url("assets/images/svg/mxb-wave-horz.svg");
      background-repeat: repeat-x;
      background-size: 6%;
    }
  }
  &title {
    display: block;
    @include inuit-font-size($inuit-font-size-h1, 1);
    margin-bottom: 0;
  }
  &title-link {
    display: block;
    text-decoration: none;
    @include inuit-font-size($inuit-font-size-h1, 1);
  }
  &post-meta {
    display: block;
  }
  &body {
    display: block;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: $act-unit;
    a{
      @include a($col : $brand-col-6)
    }
    &:before{
      display: block;
      content: "";
      width: calc(100% - 24px);
      height: $act-unit;
      position: absolute;
      left: 0;
      bottom: - $act-unit;
      z-index: 10;
      background: url("assets/images/svg/mxb-wave-horz.svg");
      background-repeat: repeat-x;
      background-size: 6%;
    }
  }
  &footer {
    display: block;
  }

  &comment-link {
    display: block;
   // @include inuit-font-size($inuit-font-size-small-print, 1);
    //position: absolute;
    //padding: $inuit-global-spacing-unit;
    //bottom: 0;
    //right: 0;
  }
}

/*
BEM BLOCK MODIFIERS .l-main__feature-image--
 */

[class*="l-single-article__feature-image--"]{
  @extend .l-single-article__feature-image;
}

.l-single-article__feature-image--{

}

/*
BEM BLOCK MODIFIERS .l-single-article__body--
*/

[class*="l-single-article__body--"]{
  @extend .l-single-article__body;
}

.l-single-article__feature-image--{

}

.l-single-article{
  &--aside__feature-image{
     //@extend .l-single-article__feature-image;
   }
  &--aside__header{
    //@extend .l-single-article__header;
  }
  &--aside__body{
    //@extend .l-single-article__body;
  }
  &--aside__footer{
    //@extend .l-single-article__footer;
  }
  &--aside__comment-link{
    //@extend .l-single-article__comment-link;
  }

  &--quote__feature-image{
    //@extend .l-single-article__feature-image;
  }
  &--quote__header{
    //@extend .l-single-article__header;
  }
  &--quote__body{
    //@extend .l-single-article__body;
  }
  &--quote__footer{
    //@extend .l-single-article__footer;
  }
  &--quote__comment-link{
    //@extend .l-single-article__comment-link;
  }
}

.l-single-article{
  &--video{
    @extend .l-single-article;
    &__header{
      @extend .l-single-article__header;
    }
    &__title{
      @extend .l-single-article__title;
    }
    &__body{
      @include inuit-font-size($inuit-font-size-h5);
    }
    &__feature-image{
      @extend .l-single-article__feature-image;
    }
    &__footer{
      @extend .l-single-article__footer;
    }
    &__post-meta{
      @extend .l-single-article__post-meta;
    }
    &__comment-link{
      @extend .l-single-article__comment-link;
    }

  }
}
