/*
  BEM BLOCK .l-testimonial-thumb-list
 */

.l-testimonial-thumb-list {
  display: flex;
  margin: 0 auto;
  @include mq($from : tablet, $until : desktop){
    padding: 0 $act-unit-l;
  };
}

/*
  BEM BLOCK MODIFIER .l-testimonial-thumb-list--
 */

.l-testimonial-thumb-list-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-testimonial-thumb-list--

[class*=l-testimonial-thumb-list--] {
  @extend .l-testimonial-thumb-list;
}

/*
  BEM ELEMENTS .l-testimonial-thumb-list__
 */

.l-testimonial-thumb-list__ {
  &header {
    display: block
  }
  &heading {
    display: block
  }
  &title {
    display: inline;
  }
  &link {
    display: inline
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
  &testimonial-thumb{
    width: 400px;
    max-width: 25%;
    border: none;
  }
  &list{
    @extend .o-list-bare;
    margin-bottom: 0;
    @include mq($from: desktop){
      column-count: 2;
      column-gap: $act-unit-l;
    }
  }
  &item{
    @extend .o-list-bare__item;
    padding: 0;
    margin: 0;
    @include mq($from: desktop){
      display: inline-block;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-testimonial-thumb-list--

[class*=l-testimonial-thumb-list__header--] {
  @extend .l-testimonial-thumb-list__header;
}
