/*
BEM BLOCK .l-masthead
 */
.l-masthead{
  border-bottom:none;
  width: 100%;
  @extend .o-wrapper;
  padding: $act-unit;
  padding-top: 0;
  padding-bottom: $act-unit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:after{
    //width: 100%;
  }
  &.has-before-widgets{
    padding-top: 0;
  }
}

/*
BEM BLOCK MODIFIERS .l-masthead--
 */
[class*="l-masthead--"]{
  @extend .l-masthead;
  .is-overlay-hero &{
    @include breakout-band($bgc : linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 80%) );
  }
}

.l-masthead--{
  &front-page{
    background: transparent;
    position: absolute;
    z-index: 9999;
  }
}

/*
BEM ELEMENTS .l-masthead__
 */
.l-masthead__{
  &site-title{
    line-height: 1;
    margin-top: $act-unit-s;
    @include mq($from:desktop){
      margin-top: $act-unit;
      margin-bottom: $act-unit;
    }
  }
  &navigation{
    display: none;
    //@extend .element--band-block-bottom;
    //@extend .is-split-nav;
    @extend .element--abso-layer;
    @include mq($from: desktop){
      display: block;
      margin: $act-unit 0;
    }
  }
  &widget-area{
    width: 100%;
  }
  &branding{
    @extend .element--items-centre;
    //@extend .element--flush-left;
    background: transparent;
    max-width: 100%;
    margin-bottom: 0;
    @include mq($from : desktop){
      max-width: 100%;
    }
  }
}

[class*=l-masthead__widget-area--]{
  @extend .l-masthead__widget-area
}

.l-masthead__widget-area--{
  &masthead-before-widgets{
    @extend .element--abso-layer;
    padding: 0;
  }
}


/*
 * band-block-bottom
 */
.element--band-block-bottom{

  .current-menu-item{
    .c-nav-menu__link{
      color: white;
      background: darken($brand-col-2, 10%);
      font-weight: 500;
    }
  }

  @include mq($from : desktop){
    width: 100%;
    display: flex;
    align-items: flex-start;
    background: $brand-col-2;
    @include breakout-band($bgc : $brand-col-2);
    margin: 0;
  }
  .c-nav-menu{

  }
  .c-nav-menu__link{
    color: #fff;
    &:hover{
      color: white;
      background: darken($brand-col-2, 10%);;
    }

  }
}
/*
 * band-block-top
 */
.element--band-block-top{
  @extend .element--band-block-bottom;
  @include mq($from : desktop){
    order: -1;
  }
}

/*
 * element--items-centre
 */
.element--items-centre{
  width: 100%;
  display: flex;
  justify-content: center;
}

/*
 * element--flush-left
 */
.element--flush-left{
  width: auto;
  margin-right: auto;
}

/*
 * element--abso-layer
 */
.element--abso-layer{
  //width: 100%;
  @extend .o-site-wrapper--m;
  left: 0;
  position: absolute;
  pointer-events: none;
}

.is-split-nav{
  width: 100%;
  .c-nav-menu__list{
    width: 100%;
    justify-content: center;
    > :nth-child(5){
      margin-left: auto;
    }
  }
}
