/*
  BEM BLOCK .l-responses-list
 */

.l-responses-list {
  display: block;
  border-bottom: solid 2px darken($brand-col-7, 10%);
  margin-bottom: $act-unit;
}

/*
  BEM BLOCK MODIFIER .l-responses-list--
 */

.l-responses-list-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-responses-list--

[class*=l-responses-list--] {
  @extend .l-responses-list;
}

/*
  BEM ELEMENTS .l-responses-list__
 */

.l-responses-list__ {
  &header {
    display: block
  }

  &heading {
    display: block;
    color: $brand-col-1;
    font-family: $act-font-family-sans;
    @include act-font-size($act-fs-2)
  }

  &title {
    display: inline;
  }

  &list {
    @extend .o-list-bare;
  }
  &item{
    @extend .o-list-bare__item;
    padding-left: 0;
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-responses-list--

[class*=l-responses-list__header--] {
  @extend .l-responses-list__header;
}
