/*
BEM BLOCK .l-main
 */

.l-main{
  @extend .c-site-wrapper--responsive;
  padding-top: 0;
  padding-left: $act-unit;
  padding-right: $act-unit;

  padding-bottom: $act-unit;
  @include mq($from : desktop){
    padding-top: 0 ;
  }
  &.has-side-bar{
    @include mq($from: tablet) {
      display: flex;
    }
  }
}

/*
BEM BLOCK MODIFIERS .l-main--
 */

[class*="l-main--"]{
  @extend .l-main;
}

.l-main--{
  &service{
    padding: 0 !important;
  }
  &page{
    padding-top: 0;
  }
  &front-page{
    padding-top: $act-unit-l;
  }
}



.l-main__{
  &sidebar{
    background: $brand-col-5;
    padding: $act-unit;

    @include mq($from: tablet) {
      width: 35%;
    }
    @include mq($from: desktop) {
      width: 25%;
    }
  }
  &content{
    padding: 0;
  }

}



.l-main__content{
  .has-side-bar &{

    @include mq($from: tablet) {
      width: 65%;
      padding-right: $act-unit;
    }

    @include mq($from: desktop) {
      width: 75%;
      padding-right: $act-unit-l;
    }
  }
}

.l-main__content--{
  &page{
    .has-side-bar &{
      @include mq($from: desktop){
        padding-right: $act-unit-h;
      }
    }


  }
}
