/*
  BEM BLOCK .l-side-bar
 */

.l-side-bar {
  display: block;
  padding-top: $act-unit-h * 1.5;
  @include mq($from:tablet){
     width: 35%;
   }
  @include mq($from:desktop){
    width: 35%;
  }

}

/*
  BEM BLOCK MODIFIER .l-side-bar--
 */

.l-side-bar-- {
  &type {
    display: block
  }
  &blog{
    padding-top: 0;
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-side-bar--

[class*=l-side-bar--] {
  @extend .l-side-bar;
}

/*
  BEM ELEMENTS .l-side-bar__
 */

.l-side-bar__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-side-bar--

[class*=l-side-bar__header--] {
  @extend .l-side-bar__header;
}


.l-side-bar{
  .has-post-thumb &{
    padding-top: $act-unit;
  }
}
