//.post Block
.l-single-page {
  display: block;
  @include inuit-clearfix();
}

[class*='l-single-page--']{
  @extend .l-single-page;

}

.l-single-page--{
  &single-col-page-centred{
    text-align: center;
  }
}

//.post Elements
.l-single-page__{

  &header{
    margin-bottom: $act-unit-h;
  }

  &heading{
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1;
    &:after{

    }
  }
  &title{
    line-height: 1;
    display: block;
  }

  &feature-image{
    margin-bottom: $inuit-global-spacing-unit;
  }

  &body{
    display: block;
  }

  &footer{
    @include inuit-font-size($inuit-font-size-h5, 1);
  }

  &comment-link{
    @include inuit-font-size($inuit-font-size-h5, 1);
  }
}

[class*='l-single-page--']{
  @extend .l-single-page;
}

[class*='single-page__header--']{
  @extend .l-single-page__header;
}
.l-single-page__header--{
  &single-col-page-800{
    text-align: center;
  }
  &single-col-page-centred{
    text-align: center;
  }
}

[class*='single-page__heading--']{
  @extend .l-single-page__heading;
}

[class*='single-page__feature-image--']{
  @extend .l-single-page__feature-image;
}

[class*='single-page__body--']{
  @extend .l-single-page__body
}
.l-single-page__body--{
  &single-col-page-800{
    max-width: 36em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &page{
    @extend .c-site-wrapper--responsive;
    padding-top: $act-unit-l;
    padding-bottom: $act-unit-l;
    background-color: transparent;
}
}

[class*='single-page__footer--']{
  @extend .l-single-page__footer;
}

[class*='single-page__comment-link--']{
  @extend .l-single-page__comment-link
}




