/*
  BEM BLOCK .l-page-sections
 */

.l-page-sections {
  display: block;
}

/*
  BEM BLOCK MODIFIER .l-page-sections--
 */

.l-page-sections-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-page-sections--

[class*=l-page-sections--] {
  @extend .l-page-sections;
}

/*
  BEM ELEMENTS .l-page-sections__
 */

.l-page-sections__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page-sections--

[class*=l-page-sections__header--] {
  @extend .l-page-sections__header;
}
