/*
  BEM BLOCK .l-section
 */

.l-section {
  display: block;
  //padding-top: $act-unit;
  .page-template-mxb-home &{
    padding-bottom: 175px;
  }

  &.has-footer{
     padding-bottom: 0;
   }
  &.has-title-next{
    //padding-bottom: $act-unit-h * 2 !important;
  }
  &.has-no-title-next{
    padding-bottom: 0;
  }
  &.has-background-image{
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  position: relative;
    &:before{
      background: red;
      display: block;
      content: "";
      width: 100%;
      height: $act-unit;
      position: absolute;
      left: 0;
      bottom: - $act-unit;
      z-index: 10;
      background: url("assets/images/svg/mxb-wave-horz.svg");
      background-repeat: repeat-x;
      background-size: 3.6%;
    }
  &.has-no-bottom-border:before{
    display: none !important;
  }
  &:last-child{
    //padding-bottom: $act-unit;
  }
  &:last-child:before{
    display: none !important;
  }
  img{
    border-radius: $act-unit;
    &.is-icon{
      border-radius: 0;
          }
  }
  h1{
    @include act-font-size($act-fs-m, $modifier: -1)
  }
  h2{
    @include act-font-size($act-fs-1)
  }
}

/*
  BEM BLOCK MODIFIER .l-section--
 */

.l-section-- {
  &type {
    display: block
  }
  &blog-intro{
    background: $brand-col-7;
    @include breakout-band($bgc : $brand-col-7);
    padding: $act-unit 0 0;
    padding-bottom: 175px;

    @include mq($from : tablet){
      padding-bottom: 0;
      //margin-left: - $act-unit-s;
      //margin-right: - $act-unit-s;
    }
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-section--

[class*=l-section--] {
  @extend .l-section;
}

/*
  BEM ELEMENTS .l-section__
 */

.l-section__ {
  &background-image{
  @include  breakout-img()
  }
  &header {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%,0);
    width: 700px;
    @include mq($from : tablet){
      width: calc(100vw);
    }
  }

  &header-wrapper{
    @extend %shape-wrapper;
  }
  &header-container{
    @extend %shape-container;
  }
  &header-content{
    @extend %shape-content;
    //width: 650px !important;
    padding-top: $act-unit-l *1.5 !important;

  }
  &heading {
    display: block
  }

  &title {
    display: inline;
  }
  &intro{
    text-align: center;
    margin-bottom: $act-unit-l;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }
  &body{
    @extend .o-box;
    padding: $act-unit-l 0;
    //padding-top: 0;

    @include mq($from : tablet){
      padding-top: $act-unit-l;
    }
    .has-footer &{
      padding-bottom: 175px;
      @include mq($from : tablet){
        padding-bottom: $act-unit-l;
      }
    }
  }

  &footer {
    display: block;
    text-align: center;
    width: calc(100vw - 24px);
    width: 700px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
    @include mq($from : tablet){
      width: auto;
      margin-left: 0;
      position: static;
      left: auto;
      bottom: auto;
      transform: translate(0);

    }
  }
  &footer-wrapper{
    @extend %shape-wrapper;
  }
  &footer-container{
    @extend %shape-container;
  }
  &footer-content{
    @extend %shape-content;
    font-weight: 700;
  }
  &cols{
    display: flex;
    margin-bottom: $act-unit-l;
    flex-direction: column;
    @include mq($from : tablet){
      &.is-col-33-33-33{
        flex-direction: row;
      }
    }
    @include mq($from : desktop){
      flex-direction: row;
    }
    .is-col-rev &{
      flex-direction: column-reverse;
      @include mq($from : desktop){
        flex-direction: row;
      }
    }
  }
  &col{
    z-index: 1;
    margin-bottom: $act-unit;
    &:last-child{
      margin-bottom: $act-unit;
      .is-col-rev &{
        margin-bottom: 0;
        @include mq($from : desktop){
          margin-bottom: 0;
        }
      }
    }
    &:after{
      .l-section--blog-intro &{
        display: none !important;
      }
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-section--

[class*=l-section__header--] {
  @extend .l-section__header;
}
.is-col-100{
  > *{
    width: 100%;
  }
}

.is-col-50-50{
  > *{
    @extend .u-1-2--desktop;
  }
  > *:first-child{
    @include mq($from : desktop){
      padding-right: $act-unit;
    }

  }
  > *:last-child{

    @include mq($from : desktop){
      padding-left: $act-unit;
    }
  }
}

.is-col-75-25{
  > *:first-child{
    @extend .u-2-3--desktop;
    @include mq($from : desktop){
      padding-right: $act-unit-h * 2;
    }

  }
  > *:last-child{
    @extend .u-1-3--desktop;
    @include mq($from : desktop) {
      padding-left: $act-unit-h;
    }
  }
}

.is-col-33-33-33{
  text-align: center;
  margin-left: -$act-unit-l;
  margin-right: -$act-unit-l;
  > *{
    @extend .u-1-3--tablet;
    height: auto;
    padding-right: $act-unit-l;
    padding-left: $act-unit-l;
    @include mq($from : tablet){
      padding-right: 0;
      padding-left: 0;
    }
  }
  > *:first-child{

    padding-right: $act-unit-l;
    padding-left: $act-unit-l;
    @include mq($from : tablet){
      padding-left: 0;
    }
  }
  > *:last-child{
    padding-right: $act-unit-l;
    padding-left: $act-unit-l;
    @include mq($from : tablet){
      padding-right: 0;
    }
  }
  .l-section__coll-content{

    font-size: $act-fs-3;
    @include mq($from : desktop){
      padding: 0 $act-unit-l;
    }
    p{
      margin-bottom: 0;
    }
  }
;
}

%shape-wrapper{
  height: 200px;
  overflow: hidden;
  .header-is-transparent &{
    height: auto;
  }
  @include mq($from : tablet){
    height: $act-unit-h * 1.75;
  }
  @include mq($from : desktop){
    height: 175px;
  }
}
%shape-container{
  @include size(1300px, 600px);
  max-width: 100%;
  margin: 0 auto;
  background: transparent;
  border-radius: 50%;
  .header-is-transparent &{
    height: auto;
    width: auto;
  }
  @include mq($from : tablet){
    @include size(1300px, 700px);
  }
}
%shape-content{
  width: 400px;
  max-width: calc(100vw - 72px);
  margin: 0 auto;
  padding-top: $act-unit * 1.5;
  .header-is-transparent &{
    padding-top: 0 !important;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-section__footer-content--

[class*=l-section__footer-content--] {
  @extend .l-section__footer-content;
}
.l-section__footer-content--{
  &blog{
    text-align: center;
    padding-top: $act-unit-h;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-section__footer-content--

[class*=l-section__col--] {
  @extend .l-section__col;
}
.l-section__col--{
  &1{
    position: relative;
    height: auto;
    &:after{
      background: red;
      display: none;
      content: "";
      width: $act-unit;
      height: $act-unit;
      position: absolute;
      right: - $act-unit-s;
      top: 0;
      height: 100%;
      background: url("assets/images/svg/mxb-wave.svg");
      background-repeat: repeat-y;
      background-size: 40%;
      @include mq($from : tablet){
        .is-col-33-33-33 &{
          display: block;
        }

      }
      @include mq($from : desktop){
        display: block;
      }
      .is-col-50-50 &{
        right: - $act-unit-s;
      }
      .is-col-100 &{
        display: none !important;
      }
      .has-no-borders &{
        display: none !important;
      }
    }
  }
  &3{
    position: relative;
    height: 100%;
    &:after{
      background: red;
      display: none;
      content: "";
      width: $act-unit;
      height: $act-unit;
      position: absolute;
      left: - $act-unit-t;
      //transform: translate(50%);
      top: 0;
      height: 100%;
      background: url("assets/images/svg/mxb-wave.svg");
      background-repeat: repeat-y;
      background-size: 40%;
      background-position-x: 50%;
      .has-no-borders &{
        display: none !important;
      }
      @include mq($from : tablet){
        .is-col-33-33-33 &{
          display: block;
        }
      }
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-section__footer-content--

[class*=l-section__footer-container--] {
  @extend .l-section__footer-container;
}
.l-section__footer-container--{
  &blog{
    background: $brand-col-2;
  }

}

.l-section.is-equal-height{
  height: auto;

  .l-section__cols{
    height: auto;
  }
  .l-section__col{
    height: auto;
  }
  .l-section__coll-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}




