.l-footer{
  display: block;
  background: #fff;
  text-align: center;
}

//BEM BLOCK MODIFIER FALLBACK .l-footer--

[class*=l-footer--] {
  @extend .l-footer;
}


.l-footer__{
  &content{
    @extend .c-site-wrapper--responsive;
    padding: $act-unit;
    padding-left: $act-unit-s;
    padding-right: $act-unit-s;
    margin: 0 auto;
    background: transparent;
    @include mq($from: tablet){
      padding-left: $act-unit-l;
      padding-right: $act-unit-l;
    }
    @include mq($from: desktop){
      padding-left: $act-unit-h;
      padding-right: $act-unit-h;
    }
    padding-bottom: 0;
  }
  &company-logo{
    display: block;
    max-width: 200px;
    margin: 0 auto $inuit-global-spacing-unit;
  }
  &site-info{
    @extend .c-site-wrapper--responsive;
    @include inuit-font-size($inuit-font-size-h6, 1);
    text-align: left;
    padding: $inuit-global-spacing-unit;
    padding-left: $act-unit;
    padding-right: $act-unit;
    background: transparent;
    color: white;
    a{
      color: white;
    }
  }
  &widget-area{
    @extend .c-site-wrapper--responsive;
    padding-top: $act-unit;
    padding-bottom: $act-unit;
    background-color: transparent;
  }
  &widgets{
    border-bottom: solid 1px white;
    padding-bottom: $act-unit-l;
    width: 100%;
    @include mq($from : tablet){
      display: flex;
      flex-wrap:wrap ;
    }
  }
  &widget{

  }
  &site-info{
    background: #fff;
    @include breakout-band($bgc : #fff);
    color: #000;
    @include act-font-size($act-fs-5);
    text-align: center;
    a{
      color: #000;
      text-decoration: underline !important;
      white-space: nowrap;
    }
  }
}

.l-footer{
  a{
    text-decoration: none;
    &:hover{
      color: darken($col-link, 20%);
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-footer__widget-area--

[class*=l-footer__widget-area--] {
  @extend .l-footer__widget-area;
}



