/*
  BEM BLOCK .l-post-thumb-list
 */

.l-post-thumb-list {
  display: block;
  @include inuit-clearfix();
  padding: $act-unit-h $act-unit;
}

/*
  BEM BLOCK MODIFIER .l-post-thumb-list--
 */

.l-post-thumb-list-- {
  &grid-3 {
    flex-wrap: wrap;
  }
  &feature-list{
    flex-direction: column;
    max-width: 1440px;
  }
  &testimonial{
    padding: 0;
  }
  &blog{
    padding-top: $act-unit;
    padding-bottom: $act-unit;
  }


}

//BEM BLOCK MODIFIER FALLBACK .l-post-thumb-list--

[class*=l-post-thumb-list--] {
  @extend .l-post-thumb-list;
}

/*
  BEM ELEMENTS .l-post-thumb-list__
 */

.l-post-thumb-list__ {
  &header {
    display: block
  }
  &heading {
    display: block
  }
  &title {
    display: inline;
  }
  &link {
    display: inline
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
  &post-thumb{
  margin: 0;
    //padding: $act-unit-l;
    height: 100%;
  }
  &list{
    display: flex;
    margin: 0 -$act-unit;
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: center;
    @extend .o-list-bare

  }
  &item{
    @extend .o-list-bare__item;
    width: calc(33% - 45px);
    text-align: center;
    padding-left: 0;
    margin: 0;

    @include mq($from: tablet){
      margin: 0 $act-unit-s;
    }
    @include mq($from: desktop){
      margin: 0 $act-unit;
    }
  }
  &media-box{
    //height: 100%;
    //position: absolute;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-post-thumb-list__header--

[class*=l-post-thumb-list__header--] {
  @extend .l-post-thumb-list__header;
}

//BEM ELEMENT MODIFIER FALLBACK .l-post-thumb-list__list--

[class*=l-post-thumb-list__list--] {
  @extend .l-post-thumb-list__list;
}

.l-post-thumb-list__list--{
  &column{
    flex-direction: column;
  }
  &case-study{
    margin: 0 -$act-unit-l;
  }
  &testimonial{
    margin: 0 -$act-unit;
  }
  &stuff{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &blog{
    margin-left: - $act-unit !important;
  }
  &slides{
    display: block;
  }
  &tax-collection{
    margin: - $act-unit-l;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-post-thumb-list__item--

[class*=l-post-thumb-list__item--] {
  @extend .l-post-thumb-list__item;
}

.l-post-thumb-list__item--{
  &service{
    height: 33.333vw;
    &:first-child{
      background: $brand-col-1;
    }
    &:last-child{
      background: $brand-col-3;
    }
    &:nth-child(2){
      background: $brand-col-5;
    }
  }
  &column{
    width: 100%;
  }
  &case-study{
    padding: 0 ;
    width: calc(25% - 48px);
  }
  &testimonial{
    padding: 0;
  }
  &blog{
    margin-bottom: $act-unit * 1.5;
    margin-left: $act-unit !important;
  }
  &slides{
    width: 100%;
    min-height: 100%;
  }
  &tax-collection{
    width: calc(25% - 48px);
  }
  &cat-pod{
    padding: 0 ;
    width: calc(25% - 48px);
  }
}


.l-post-thumb-list__post-thumb{
  .l-post-thumb-list--grid-3 &{

  }
}
