.l-single-article {
  @include inuit-clearfix();
}

[class*="l-single-article"]{
  @extend .l-single-article;
}


.l-single-article__{
  &feature-image {
    margin-bottom: $inuit-global-spacing-unit;
  }
  &header {
    margin-bottom: $inuit-global-spacing-unit;
    padding: 0 $act-unit-h * 1.5;

  }
  &heading {
    @include inuit-font-size($inuit-font-size-h1, 1);
  }
  &title {
    display: block;
    @include inuit-font-size($inuit-font-size-h1, 1);
    margin-bottom: 0;
  }
  &title-link {
    display: block;
    text-decoration: none;
    @include inuit-font-size($inuit-font-size-h1, 1);
  }
  &post-meta {
    display: block;
  }
  &body {
    display: block;
    padding: $act-unit-l $act-unit-h * 1.5 $act-unit-h;
  }
  &footer {
    display: block;
  }

  &comment-link {
    display: block;
   // @include inuit-font-size($inuit-font-size-small-print, 1);
    //position: absolute;
    //padding: $inuit-global-spacing-unit;
    //bottom: 0;
    //right: 0;
  }
}

/*
BEM BLOCK MODIFIERS .l-main__feature-image--
 */

[class*="l-single-article__feature-image--"]{
  @extend .l-single-article__feature-image;
}

.l-single-article__feature-image--{

}

/*
BEM BLOCK MODIFIERS .l-main__body--
 */

[class*="l-single-article__body--"]{
  @extend .l-single-article__body;
}

.l-single-article__body--{

}

