/*
  BEM BLOCK .l-off-page-container
 */


.l-off-page-container {
  display: block;
  position: relative;
}

/*
  BEM BLOCK MODIFIER .l-off-page-container--
 */

.l-off-page-container-- {
  &type {
    display: block
  }
  &mobile-navigation{
    display: block;
    @include mq($from: tablet){
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }

}

//BEM BLOCK MODIFIER FALLBACK .l-off-page-container--

[class*=l-off-page-container--] {
  @extend .l-off-page-container;
}

/*
  BEM ELEMENTS .l-off-page-container__
 */

.l-off-page-container__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &logo-widget{
    display: none;
    position: absolute;
    top: -$act-unit-h;
    width: 100%;
    text-align: center;
    padding: $act-unit-s;
    z-index: 999;
  }
  &nav-menu{
    padding: $act-unit;
  }
  &widget-area{
    padding: $act-unit;
    color: $brand-col-6;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-off-page-container__header--

[class*=l-off-page-container__header--] {
  @extend .l-off-page-container__header;
}

//BEM ELEMENT MODIFIER FALLBACK .l-off-page-container--

[class*=l-off-page-container__nav-menu--] {
  @extend .l-off-page-container__nav-menu;
}

.l-off-page-container__nav-menu--{
  &mobile{
    //@extend .c-site-wrapper--responsive;
    //padding-top: $act-unit-l;
    //padding-bottom: $act-unit-l;
    padding-left: $act-unit-l;
    background: transparent;
  }
}


