/*
BEM BLOCK .l-single-service
 */
.l-single-service {
  max-width: $article-max-width;
  margin: 0 auto;


}

.l-single-service--{
  &layout5050{
    @include mq($from : tablet){
      display: grid;
      grid-template-columns: [left] 50% [right] 50%;
      grid-template-rows: [head] $inuit-global-spacing-unit-huge [body] 1fr;
    }
  }
}

/*
BEM BLOCK ELEMENTS .l-single-service__
 */

.l-single-service__{

  &feature-image{
    margin-bottom: $act-unit-l;
    padding: 0 $act-unit
  }

  &header{
    display: block;
    padding: 0 $inuit-global-spacing-unit;
    margin-bottom:$act-unit;

  }

  &heading{
    margin-bottom: 0;
    @include inuit-font-size($inuit-font-size-h1, 1);
    font-weight: 500;
  }

  &title{
    display: block;
  }

  &content{
    display: block;
    max-width: 100%;
    > p{
      width: 39em;
      max-width: 100%;
    }
  }

  &footer{
    @include inuit-font-size($inuit-font-size-h6, 1);
  }

  &comment-link{
    @include inuit-font-size($inuit-font-size-h6, 1);
  }
}

.l-single-service__feature-image-- {
  &layout5050 {
    @extend .l-single-service__feature-image ;
    grid-column-start: left;
    grid-row-start: head;
    grid-row-end: 3;
    margin-bottom: $inuit-global-spacing-unit-small;
    @include mq($from: tablet) {
      margin-bottom: 0;
    }
  }
}

.l-single-service__header-- {
  &layout5050 {
    @extend .l-single-service__header;
    text-align: center;
    grid-row-start: 1;
    grid-column-start: right;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

[class*="l-single-service__content--"]{
  @extend .l-single-service__content;
}
