/*
  BEM BLOCK .l-widget-area
 */

.l-widget-area {
  display: block;
  position: relative;
}

/*
  BEM BLOCK MODIFIER .l-widget-area--
 */

.l-widget-area-- {
  &content-before-widgets {

    @include act-font-size($act-fs-5, 1);

    @include mq($from:desktop){
      display: flex;
      justify-content: flex-end;
      > *:first-child{
        margin-right: auto;
      }
    }

  }
  &subsidiary{
    @include mq($from:desktop){
      display: grid;
      grid-template-columns: calc(50% - $act-unit ) calc(50% - $act-unit);
      grid-template-rows: auto auto;
      grid-column-gap: $act-unit-l;
      grid-row-gap: $act-unit;
    }
    a{
      color: $brand-col-3;
    }
  }
  &footer-widgets{
    display: flex;
    flex-wrap: wrap;
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-widget-area--

[class*=l-widget-area--] {
  @extend .l-widget-area;
}

/*
  BEM ELEMENTS .l-widget-area__
 */

.l-widget-area__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &footer {
    display: block
  }
  &widget{

    display:block;
    padding: 0 $act-unit-s;
    margin-bottom: $act-unit;
    @include mq($from:desktop){
      margin-bottom: 0;
    }
  }
}




//BEM ELEMENT MODIFIER FALLBACK .l-widget-area--

[class*=l-widget-area__widget--] {
  @extend .l-widget-area__widget;
}



//BEM ELEMENT MODIFIER FALLBACK .l-widget-area__widget--

[class*=l-widget-area__header--] {
  @extend .l-widget-area__header;
}

  //BEM ELEMENT MODIFIER FALLBACK .l-widget-area__widget--

  [class*=l-widget-area__widget--] {
    @extend .l-widget-area__widget;
  }


    .l-widget-area__widget-- {
      &masthead-before-widgets {
        padding-right: $act-unit-h;
        @include mq($from: desktop) {
          padding-right: 0;
        }
      }
      &sidebar-widgets{
        margin-bottom: $act-unit;
        padding-bottom: $act-unit;
        border-bottom: solid 1px;
      }
      &footer-widgets {
        @include inuit-font-size($inuit-font-size-h6, $inuit-global-line-height / 1.5);
        margin-bottom: $inuit-global-spacing-unit;
        @extend .u-1-2--tablet;
        @include mq($from: tablet) {
          padding-left: $inuit-global-spacing-unit;
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          @include mq($from: tablet, $until: desktop) {
            padding-left: 0;
            width: 100% !important;
          }

          &sidebar-widgets {
            margin-bottom: $act-unit;
            padding-bottom: $act-unit;
            border-bottom: solid 1px;
          }

          &footer-widgets {
            @include inuit-font-size($inuit-font-size-h6, $inuit-global-line-height / 1.5);
            margin-bottom: $inuit-global-spacing-unit;
            @extend .u-1-4--tablet;
            @include mq($from: tablet) {
              padding-left: $inuit-global-spacing-unit;
            }

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              @include mq($from: tablet, $until: desktop) {
                padding-left: 0;
                width: 100% !important;
              }
            }
          }

          &post-thumb-list {
            grid-column-start: 1;
            grid-column-end: 3;
          }
        }
      }
    }
