/*
  BEM BLOCK .l-post-loop
 */

.l-post-loop {
  display: block;
}

/*
  BEM BLOCK MODIFIER .l-post-loop--
 */

.l-post-loop-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-post-loop--

[class*=l-post-loop--] {
  @extend .l-post-loop;
}

/*
  BEM ELEMENTS .l-post-loop__
 */

.l-post-loop__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &post{
    border-bottom: solid 1px $brand-col-3;
    margin-bottom: $act-unit-l;
    padding-bottom: $act-unit;
  }
  &cta{
    margin-bottom: $act-unit-l;
    padding-bottom: $act-unit;
  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-post-loop--

[class*=l-post-loop__header--] {
  @extend .l-post-loop__header;
}
