//.post Block
.l-single-page {
  display: block;
  @include inuit-clearfix();
  padding: $act-unit-h $act-unit;
}

[class*='l-single-page--']{
  @extend .l-single-page;

}

.l-single-page--{
  &single-col-page-centred{
    text-align: center;
  }
  &service{
    &.has-sidebar{
      display: grid;
      grid-template-columns: 66% 34%;
    }
  }
  &page{
    padding-top: 0;
    padding-bottom: 0;
  }
  &single-stuff{
    @include mq($from : desktop){
      display: grid;
      grid-template-columns: 50% 50%;
      //grid-template-rows: auto auto auto auto auto auto;
      grid-column-gap: $act-unit;
    }

  }
}

//.post Elements
.l-single-page__{

  &header{
    margin-bottom: $inuit-global-spacing-unit-large /2;
  }

  &heading{
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1;
    &:after{

    }
  }
  &title{
    line-height: 1;
    display: block;
  }

  &feature-image{
    margin-bottom: $inuit-global-spacing-unit;
  }

  &body{
    display: block;



    .has-sidebar > &{
      padding-right: $act-unit-h;
    }
  }

  &footer{
    @include inuit-font-size($inuit-font-size-h5, 1);
  }

  &aside{
    .has-sidebar > &{
      padding-left: $act-unit;
      padding-right: $act-unit-h * 1.5;
    }
    ul{
      border-left: solid 4px $brand-col-2;
      list-style: none;
      margin-left: 0;
      padding-left: $act-unit-l;
    }
    li{
      list-style: none;
      margin-bottom: $act-unit;
      padding-left: 0;
    }
  }

  &comment-link{
    @include inuit-font-size($inuit-font-size-h5, 1);
  }
}

[class*='l-single-page--']{

}

[class*='l-single-page__header--']{
  @extend .l-single-page__header;
}
.l-single-page__header--{
  &single-col-page-800{
    text-align: left;
    width: 40em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: $act-unit-l;
    margin-bottom: $act-unit-l;
    &:before{
      display: block;
      content: "";
      width: calc(100% - 24px);
      height: $act-unit;
      position: absolute;
      left: 0;
      bottom: - $act-unit;
      z-index: 10;
      background: url("assets/images/svg/mxb-wave-horz.svg");
      background-repeat: repeat-x;
      background-size: 6%;
    }
  }
  &single-col-page-centred{
    text-align: center;
  }
  &service{
    .has-sidebar > &{
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  &single-stuff{
    grid-column-start: 2;
  }
  &single-case-study{
    margin-bottom: $act-unit-l;
  }
}

[class*='l-single-page__heading--']{
  @extend .l-single-page__heading;
}

[class*='l-single-page__feature-image--']{
  @extend .l-single-page__feature-image;
}

.l-single-page__feature-image--{
  &single-stuff{
    grid-row: 1 / 3;
    grid-column: 1/2;
    padding-right: $act-unit;
    position: relative;
    padding-bottom: $act-unit-l;
    margin-bottom: $act-unit-l;
    &:before{
      display: block;
      content: "";
      width: calc(100% - 24px);
      height: $act-unit;
      position: absolute;
      left: 0;
      bottom: - $act-unit;
      z-index: 10;
      background: url("assets/images/svg/mxb-wave-horz.svg");
      background-repeat: repeat-x;
      background-size: 6%;
    }
  }
}

[class*='l-single-page__body--']{
  @extend .l-single-page__body
}
.l-single-page__body--{
  &single-col-page-800{
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    h3{
      @include act-font-size($act-fs-1)
    }
  }
  &page{

    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }
  &service{
    @extend .l-single-page__body--page;
    padding-top: 0;
  }
  &single-case-study{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: $act-unit-h;
    padding-bottom: $act-unit-h;
    margin-bottom: $act-unit-h;
    &:before{
      display: block;
      content: "";
      width: calc(100% - 24px);
      height: $act-unit;
      position: absolute;
      left: 0;
      bottom: auto;
      top: 0;
      z-index: 10;
      background: url("assets/images/svg/mxb-wave-horz.svg");
      background-repeat: repeat-x;
      background-size: 6%;
    }
    &:after{
      display: block;
      content: "";
      width: calc(100% - 24px);
      height: $act-unit;
      position: absolute;
      left: 0;
      bottom: 0;

      z-index: 10;
      background: url("assets/images/svg/mxb-wave-horz.svg");
      background-repeat: repeat-x;
      background-size: 6%;
    }
  }
  &single-stuff{
    grid-column: 2 / 2;
    grid-row: 2 / 6;
  }

}

[class*='l-single-page__footer--']{
  @extend .l-single-page__footer;
}

.l-single-page__footer--{
  &single-stuff{
    grid-row: 3;
    grid-column: 1;
    padding-right: $act-unit;
  }
  &single-case-study{
    @include act-font-size($act-fs-4)
  }
}

[class*='l-single-page__aside--']{
  @extend .l-single-page__aside;
}

[class*='l-single-page__comment-link--']{
  @extend .l-single-page__comment-link
}


