/*
  BEM BLOCK .l-sidebar
 */

.l-sidebar {
  display: block;
  padding-top: $act-unit-h * 1.5;
  width: 25%;
}

/*
  BEM BLOCK MODIFIER .l-sidebar--
 */

.l-sidebar-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-sidebar--

[class*=l-sidebar--] {
  @extend .l-sidebar;
}

/*
  BEM ELEMENTS .l-sidebar__
 */

.l-sidebar__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &wrapper{
    border: solid 1px $brand-col-5;
    padding: $act-unit;
    border-radius: $act-unit-s;
    margin-bottom: $act-unit;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-sidebar--

[class*=l-sidebar__header--] {
  @extend .l-sidebar__header;
}

//BEM ELEMENT MODIFIER FALLBACK .l-sidebar__wrapper--

[class*=l-sidebar__wrapper--] {
  @extend .l-sidebar__wrapper;
}

