/*
  BEM BLOCK .l-content
 */

.l-content {
  display: block;
}

/*
  BEM BLOCK MODIFIER .l-content--
 */

.l-content-- {
  &service{
    //display: flex
  }
  &single-post{
    //display: flex
    padding-bottom: $act-unit-h;
  }

}

//BEM BLOCK MODIFIER FALLBACK .l-content--

[class*=l-content--] {
  @extend .l-content;
}

/*
  BEM ELEMENTS .l-content__
 */

.l-content__ {
  &header {
    display: block;
    margin-bottom: $act-unit-l * 1.5;
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &posts-nav{

    padding: 0 $act-unit;
  }
  &pagination{
    padding-top: $act-unit-l;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-content--

[class*=l-content__header--] {
  @extend .l-content__header;
}
