/*
 *
 */

$act-font-family-sans: "aktiv-grotesk",sans-serif;
$act-font-family-serif: sans-serif;
$act-font-family-alt: "co-text",sans-serif;
$act-font-family-mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$act-font-family-headings: "aktiv-grotesk-condensed";

