/*
 *
 */
// High-level base settings.
$inuit-base-font-size:          24px;
$inuit-base-line-height:        28.8px;
$inuit-base-text-color:         #333; 
$inuit-base-background-color:   #fff;

$milli-size: 18px;
