/*
 *
 */
// High-level base settings.
$inuit-base-font-size:          18px;
$inuit-base-font-size--lap:     24px;
$inuit-base-font-size--desk:     27px;
$inuit-base-line-height:        32.4px;
$inuit-base-text-color:         $brand-col-1--dark;
$inuit-base-background-color:   #fff;

$milli-size: 18px;
