/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/

$col-act-gray-xxlight : #e5e5e5;

$act-grey : #ccc;
$act-grey-light : #eee;
$act-grey-dark : #666;

$lla-gold : #CBB149;
$lla-pale-grey : #E2E2E2;
$lla-slate-grey : #323232;

$brand-col-1 : black;
$brand-col-2 : $lla-gold;
$brand-col-3 : $lla-pale-grey;
$brand-col-4 : $lla-slate-grey;
$brand-col-5 : lighten($lla-pale-grey, 5%);
$brand-col-6 : $act-grey-dark;
$brand-col-7 : $act-grey;
$brand-col-8 : $act-grey-light;
$brand-col-9 : $act-grey-dark;

$col-text : $brand-col-1;
$col-heading : $brand-col-2;
$col-link : $brand-col-2;
$col-accent : $brand-col-3;

