/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/

$col-act-gray-xxlight : #e5e5e5;

$ofm-gold : #c3922e;
//$ofm-golden : #0E2326;
$ofm-golden : #ebbb10;
$ofm-cream : #eed688;

$ofm-gun-grey : #40444D;

$brand-col-1 : $ofm-gold;
$brand-col-2 : $ofm-gun-grey;
$brand-col-3 : $ofm-cream;

