/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/

$col-act-gray-xxlight : #e5e5e5;

$phx-black : #151D1D;
$phx-slate : #343C3C;
$phx-burnt : #312222;
$phx-burnt-mushroom : #3D3737;
$phx-red: #D60707;
$phx-blue: #0B64A8;

$brand-col-1 : lighten($phx-slate, 70%);
$brand-col-2 : $phx-black;
$brand-col-3 : $phx-burnt;
$brand-col-4 : $phx-burnt-mushroom;
$brand-col-5 : $phx-slate;
$brand-col-6 : $phx-blue;
$brand-col-7 : $phx-red;
$brand-col-8 : $phx-blue;
$brand-col-9 : $phx-blue;

