/*
 *
 */

$base-font-family : "josefin",sans-serif;
$alt-font-family : 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
$heading-font-family : "coquette",sans-serif;

