/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/

$col-scc-gray-xxlight : #f1f1f1;
$col-scc-gray : #474b4c;
$col-scc-orange : #d47a1c;
$col-scc-teal : #0b556d;

$brand-col-1 : $col-scc-orange;
$brand-col-2 : $col-scc-teal;

