/*
  BEM BLOCK .c-service-menu
 */

.c-service-menu {
  display: block;
}


/*
  BEM BLOCK MODIFIER .c-service-menu--
 */

.c-service-menu-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-service-menu--

[class*=service-menu--] {
  @extend .c-service-menu;
}

/*
  BEM ELEMENTS .c-service-menu__
 */

.c-service-menu__ {
  &header {
    display: block
  }
  &heading {
    display: block
  }
  &title {
    display: inline;
  }
  &link {
    display: inline
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
  &list{
    @extend .o-list-bare;
    display: flex;
    flex-wrap: wrap;
  };
  &item{
    @extend .o-list-bare__item;
    margin-bottom: $act-unit * 1.5;

    @extend .u-1-1--mobile;
    @extend .u-1-2--tablet;
    @extend .u-1-3--desktop;
    @extend .u-1-3--wide;
    padding: 0 $act-unit-s * 1.5;
  }
  &service-thumb{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-service-menu--

[class*=service-menu__header--] {
  @extend .c-service-menu__header;
}