/*
  BEM BLOCK .c-widget
 */

.c-widget {
  display: block;
  p:last-child{
    margin-bottom: 0;
  }
  header:last-child{
    margin-bottom: 0;
      }
}

/*
  BEM BLOCK MODIFIER .c-widget--
 */

.c-widget-- {
  &type {
    display: block;
  }
  &footer {
    color: white;
    @include act-font-size($inuit-font-size-h5, 1.5);
  }
  &sidebar{
    @include act-font-size($inuit-font-size-h5);
    ul{
      @extend .o-list-bare;
      margin-bottom: 0;
    }
  }
  &masthead-before {
    color: white;
    text-align: left;
    @include act-font-size($milli-size, 1.5);
    padding: $act-unit-t 0;
    margin-bottom: $act-unit;
    @include mq($from : tablet){
      text-align: right;
    }

  }
  &masthead-after{
    color: white;
    text-align: center;
  }
  &footer-before{
    img{
      object-position: center;
    }
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-widget--

[class*=c-widget--] {
  @extend .c-widget;
}

/*
  BEM ELEMENTS .c-widget__
 */

.c-widget__ {
 &container{
   @include breakout-band($bgc : darken($brand-col-1, 10%));
    display: block;

 }

  &title{

  }
  &header{
    display: block;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-widget--

[class*=c-widget__container--] {
  @extend .c-widget__container;
}

.c-widget__container--{
  &menu-primary{
    background-color: #ccc;
  }
}

[class*=c-widget__title--]{
  @extend .c-widget__title !optional;
}

.c-widget__title--{
  &footer{
    display: block;
    margin-bottom:$act-unit-t;
    color: white;
  }
  &subsidiary{
    background: $brand-col-2;
    color: white;
    padding: $act-unit-t $act-unit-s;
    .l-widget-area__widget--next-step &{
      padding: $act-unit;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-widget__header--

[class*=c-widget__header--] {
  @extend .c-widget__header;
}

.hide-title{
  .c-widget__header{
    display: none;
  }
}
