/*
  BEM BLOCK .c-header
 */

.c-header {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-header--
 */

.c-header-- {
  &type {
    display: block
  }
  &page{
    @extend .c-header--blocky;
    background: $brand-col-3;
    @include breakout-band($bgc : $brand-col-3);
  }
  &sidebar{
    @extend .c-header--blocky;
    background: $brand-col-5;
    padding: $act-unit-s !important;
  }
  &page-sidebar{
    @extend .c-header--sidebar;
  }
  &subsidiary{
    @extend .c-header--blocky;
    background: $brand-col-5;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-header--

[class*=c-header--] {
  @extend .c-header;
}

/*
  BEM ELEMENTS .c-header__
 */

.c-header__ {
  &header {
    display: block;

  }

  &heading {
    display: block;
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-header__heading--

[class*=c-header__heading--] {
  @extend .c-header__heading;
}

.c-header__heading--{
  &page{

  }
  &sidebar{

  }
}

.c-header--{
  &blocky{
    padding: $act-unit;

    .c-header__heading{
      color: white;
      margin-bottom: 0;
    }

  }
}
