/*
  BEM BLOCK .c-product-gallery
 */

.c-product-gallery {
  display: flex;
  justify-content: center;
  background: $col-light;
  .woocommerce-product-gallery{
    float: none !important;
    width: 100% !important;
  }
  .zoomImg{
    background: #fff;
  }
}

/*
  BEM BLOCK MODIFIER .c-product-gallery--
 */

.c-product-gallery-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-product-gallery--

[class*=c-product-gallery--] {
  @extend .c-product-gallery;
}

/*
  BEM ELEMENTS .c-product-gallery__
 */

.c-product-gallery__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-product-gallery--

[class*=c-product-gallery__header--] {
  @extend .c-product-gallery__header;
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .zoomImg{
  background: $col-light;
}
