/*
BEM BLOCK .c-site-title
 */

.c-site-title{
  display: block;
  margin: 0;
  width: 300px;
  height: 60px;
  max-width:100%;

}

/*
BEM BLOCK MODIFIERS .c-site-title
 */

[class*="site-title--"]{
  @extend .c-site-title;
}

.c-site-title--{
  &page{
     margin-left: auto;
     margin-right: auto;
     @include mq($from: tablet){
       margin-left: 0;
       margin-right: 0;
     }
   }
  &text{
    @include size(auto);
    font-family: $act-font-family-serif;
    font-weight: 600;
    display: block;
    @include act-font-size($inuit-font-size-h1,1);
    @include mq($from: tablet){
      @include size(auto);
    }
  }
  &front-page{

  }
  &upload{
    @include mq($from : tablet){
      min-height:60px;
    }
  }
}

/*
BEM ELEMENTS .c-site-title
 */

.c-site-title__{
  &heading{
    line-height:1;
  }
  &link{
    @include act-font-size($inuit-font-size-h1,1);
    display: block;
    color: white;
    text-decoration: none;
    &:hover,&:focus{
      color: white;
    }
  }
  &img{
    display: block;
  }
}

.c-site-title__img{
  .c-site-title--front-page &{
    display: none;

  }
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt{
  background-color: $brand-col-3;
}
