/*
BEM BLOCK .c-feature-image
 */
.c-feature-image{
  position: relative;
}

/*
BEM BLOCK .c-feature-image--
*/

[class*='c-feature-image--']{
  @extend .c-feature-image;
}

.c-feature-image--{
  &service{

    height: 100%;
  }

  &blog{
    &.is-default-image{
     min-height: $act-unit-l;
    }
    .l-post-thumb-list__item--blog:nth-child(5n + 1) &{
      @include colour-cast($color : $brand-col-1, $opacity : 0.8);
      &:hover{
        @include colour-cast($color : $brand-col-1, $opacity : 0);
      }
    }
    .l-post-thumb-list__item--blog:nth-child(5n + 2) &{
      @include colour-cast($color : $brand-col-2, $opacity : 0.8);
      &:hover{
        @include colour-cast($color : $brand-col-2, $opacity : 0);
      }
    }
    .l-post-thumb-list__item--blog:nth-child(5n + 3) &{
      @include colour-cast($color : $brand-col-3, $opacity : 0.8);
      &:hover{
        @include colour-cast($color : $brand-col-3, $opacity : 0);
      }
    }
    .l-post-thumb-list__item--blog:nth-child(5n + 4) &{
      @include colour-cast($color : $brand-col-4, $opacity : 0.8);
      &:hover{
        @include colour-cast($color : $brand-col-4, $opacity : 0);
      }
    }
    .l-post-thumb-list__item--blog:nth-child(5n + 5) &{
      @include colour-cast($color : $brand-col-5, $opacity : 0.8);
      &:hover{
        @include colour-cast($color : $brand-col-5, $opacity : 0);
      }
    }
  }

}

 /*
BEM ELEMENTS.c-feature-image__
 */

.c-feature-image__{

  &img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &button{

  }

}
[class*="c-feature-image__img--"]{
  @extend .c-feature-image__img;
}

.c-feature-image__img--{
  &project{
    @include breakout-img();
    max-height: 40vw;
  }
  &post{
    @include breakout-img();
    max-height: 30vw;
  }
  &blog{
    filter: saturate(0);
    transition: filter 0.3s ease-in-out;
    &:hover,&:focus,&:active{
      filter: saturate(100%);
    }


  }
}
