/*
  BEM BLOCK .c-post-slide
 */

.c-post-slide {
  display: block;
  height: 100%;
}

/*
  BEM BLOCK MODIFIER .c-post-slide--
 */

.c-post-slide-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-post-slide--

[class*=c-post-slide--] {
  @extend .c-post-slide;
}

/*
  BEM ELEMENTS .c-post-slide__
 */

.c-post-slide__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline;
  }

  &content {
    display: block;
    width: 100%;
    padding: $act-unit 0 ;
    @include mq($from: tablet){
      width: 50%;
    }
  }

  &footer {
    display: block
  }
  &feature-image{
    width: 100%;
    @include mq($from: tablet){
      width: 50%;
    }

  }

}

//BEM ELEMENT MODIFIER FALLBACK .c-post-slide--

[class*=c-post-slide__header--] {
  @extend .c-post-slide__header;
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-slide__link--

[class*=c-post-slide__link--] {
  @extend .c-post-slide__link;
}

.c-post-silde__link--{
  &slide{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    height: 100%;
    @include mq($from: tablet){
      flex-direction: row;
    }
  }
}


