/*
BEM BLOCK .c-main
 */

.c-main{
  @extend .c-site-wrapper--responsive;
  padding-top: $inuit-global-spacing-unit !important;

  padding-bottom: $inuit-global-spacing-unit !important;
  @include mq($from : desktop){
    padding-top: $act-unit-l !important;
  }
  &.has-side-bar{
    @include mq($from: tablet) {
      display: flex !important;
    }
  }
}

.c-main__{
  &sidebar{
    background: $brand-col-5;
    padding: $act-unit;

    @include mq($from: tablet) {
      width: 35%;
    }
    @include mq($from: desktop) {
      width: 25%;
    }
  }
  &content{
    padding: 0;
  }

}

/*
BEM BLOCK MODIFIERS .c-main--
 */

[class*="c-main--"]{
  @extend .c-main;
}

.c-main--{
  &service{
    padding: 0 !important;
  }
  &list-page{
    padding-top: 0 !important;
    margin-top: -$act-unit-h;
    position: relative;
    z-index: 999;
    background: transparent !important;
  }
  &image-list-page{
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    max-width: none;
  }
}

[class*="c-main__content--"]{
  @extend .c-main__content;
}

.c-main__content--{
  &faq-page{
    width: $act-unit-h * 9;
    max-width: 100%;
    margin: 0 auto;
  }
}

.c-main__content{
  .has-side-bar &{

    @include mq($from: tablet) {
      width: 65%;
      padding-right: $act-unit;
    }

    @include mq($from: desktop) {
      width: 75%;
      padding-right: $act-unit-l;
    }
  }
}