
.c-burger{
  position: absolute;
  left:  $act-unit-h * 1.25;
  top: $act-unit-l *1.25;
  z-index: 1;
  @include act-font-size($act-fs-6);
  pointer-events: all;
}
.c-burger__btn{
  cursor: pointer;
  border: 0;
  padding: 0;
  transition: right 0.3s 0s cubic-bezier(0.6, 0.72, 0.38, 1.08);
  background: transparent;
  &[data-state=on]{
    //transition: right 0.3s 0.1s cubic-bezier(0.6, 0.72, 0.38, 1.08);
    //right: 14rem;
  }
  @include mq($from : desktop){
    //display: none;
  }
}

.c-burger__label{
  @include act-font-size($act-fs-6);
  color: $brand-col-1;
  text-transform: uppercase;
  display: none;
  .c-burger__btn[data-state=on] &{
    color: $brand-col-1;
  }
}

.c-burger__bars{
  position: relative;
  @include size(40px, 26px);
  margin-bottom: $act-unit-s;

}

.c-burger__bar {
  transition: transform 0.1s linear;
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: $brand-col-1;
  .c-burger__btn[data-state=on] &{
    background-color: $brand-col-2;
  }

}
.c-burger__bar--tl{
  @extend .c-burger__bar;
  transform-origin: 0px 50%;
  top: 0;
  left: 0;
  [data-state=on] &{
    transform: rotate(45deg) translate(3px, -5px);
  }
}
.c-burger__bar--tr{
  @extend .c-burger__bar;
  transform-origin: 100% 50%;
  top: 0;
  right: 0;
  [data-state=on] &{
    transform: rotate(-45deg) translate(-3px, -5px);
  }
}
.c-burger__bar--m{
  @extend .c-burger__bar;
  transform-origin: 1.1em 0.1em;
  top: 50%;
  transform: translate(0 , - 50%);
  width: 100% !important;
  margin-top: 0;
  [data-state=on] &{
    transform: scale(0, 1);
  }
}
.c-burger__bar--bl{
  @extend .c-burger__bar;
  transform-origin: 0px 50%;
  bottom: 0;
  left: 0;
  [data-state=on] &{
    transform: rotate(-45deg) translate(3px, 6px);
  }
}
.c-burger__bar--br{
  @extend .c-burger__bar;
  transform-origin: 100% 50%;
  bottom: 0;
  right: 0;
  [data-state=on] &{
    transform: rotate(45deg) translate(-3px, 6px);

  }
}
