/*
  BEM BLOCK .c-notice
 */

.c-notice {
  display: block;
  padding-left: $act-unit-l;
  position: relative;
  margin-bottom: $act-unit;
  h4{
    margin-bottom: 0;
    color: $brand-col-4;
  }
}

/*
  BEM BLOCK MODIFIER .c-notice--
 */

.c-notice-- {
  &type {
    display: block
  }
  &info{
    &:before{
      font-family: $act-font-family-mono;
      content: 'i';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0,-50%);
      background: $brand-col-4;
      color: white;
      line-height: 1.5em;
      width: 1.5em;
      border-radius: 1.5em;
      text-align: center;
    }
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-notice--

[class*=c-notice--] {
  @extend .c-notice;
}

/*
  BEM ELEMENTS .c-notice__
 */

.c-notice__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-notice--

[class*=c-notice__header--] {
  @extend .c-notice__header;
}
