/*
  BEM BLOCK .c-widget
 */

.c-widget {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-widget--
 */

.c-widget-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-widget--

[class*=c-widget--] {
  @extend .c-widget;
}

/*
  BEM ELEMENTS .c-widget__
 */

.c-widget__ {
 &container{

    display: block;
 }

  &title{
    display: none;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-widget--

[class*=c-widget__container--] {
  @extend .c-widget__container;
}

.c-widget__container--{
  &menu-primary{
    display: none;
    background-color: #ccc;
    @include breakout-band($bgc : darken($brand-col-1, 10%));
    @include mq($from : desktop){
      display: block;
    }
  }
  &menu-mobile{
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 0 $act-unit-s;
  }
}

[class*=c-widget__title--]{
  @extend .c-widget__title !optional;
}