
.c-burger{
  cursor: pointer;
  position: fixed;
  right:  $act-unit;
  top: $act-unit-s;
  z-index: 99999;
  @include mq ($from: desktop){
    position: absolute;
    top: 37px;
  }
}
.c-burger__btn{
  cursor: pointer;
  border: 0;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 0;
  transition: right 0.3s 0s cubic-bezier(0.6, 0.72, 0.38, 1.08);
  background: transparent;
  &[data-state=on]{
    //transition: right 0.3s 0.1s cubic-bezier(0.6, 0.72, 0.38, 1.08);
    //right: 14rem;
  }
}

.c-burger__label{
  @include act-font-size($act-fs-6);
  color: $brand-col-1;
  text-transform: uppercase;
  .home &{
    color: #fff;
  }
}

.c-burger__bars{
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  width: 42px;
  height: 36px;
}

.c-burger__bar {
  transition: transform 0.1s linear;
  position: absolute;
  width: 13px;
  height: 2px;
  background-color: $brand-col-1;
  .home &{
    background-color: #fff;
  }
}
.c-burger__bar--tl{
  @extend .c-burger__bar;
  transform-origin: 6px 0px;
  top: 13px;
  right: 21px;
  [data-state=on] &{
    transform: rotate(45deg) translate(0.3em, 0);
  }
}
.c-burger__bar--tr{
  @extend .c-burger__bar;
  transform-origin: 7px 0px;
  top: 13px;
  left:  21px;
  [data-state=on] &{
    transform: rotate(-45deg) translate(-0.3em, 0);
  }
}
.c-burger__bar--m{
  @extend .c-burger__bar;
  transform-origin: 1.1em 0.1em;
  top: 22px;
  left: 8px;
  width: 26px !important;
  margin-top: -0.1em;
  [data-state=on] &{
    transform: scale(0, 1);
  }
}
.c-burger__bar--bl{
  @extend .c-burger__bar;
  transform-origin: 7px 3px;
  top:27px;
  right: 21px;
  [data-state=on] &{
    transform: rotate(-45deg) translate(0.3em, 0);
  }
}
.c-burger__bar--br{
  @extend .c-burger__bar;
  transform-origin: 6px 3px;
  top:27px;
  left: 21px;
  [data-state=on] &{
    transform: rotate(45deg) translate(-0.3em, 0);

  }
}
