/*
  BEM BLOCK .c-media-box
 */

.c-media-box {
  display: block;
  display: flex;
  border-radius: $act-unit;
  @include act-font-size($act-fs-2);
  flex-direction: column;
  @include mq($from : tablet){
    flex-direction: row;
  }
}

/*
  BEM BLOCK MODIFIER .c-media-box--
 */

.c-media-box-- {
  &type {
    display: block
  }
  &slide{
    height: 100%;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-media-box--

[class*=c-media-box--] {
  @extend .c-media-box;
  padding: $act-unit-l;
  background: $brand-col-6;
}

/*
  BEM ELEMENTS .c-media-box__
 */

.c-media-box__ {
  &image{
    @extend .u-1-2--tablet;
    padding-right: 0;
    margin-bottom: $act-unit-l;
    @include mq($from : tablet){
      padding-right: $act-unit-l;
      margin-bottom: 0;
    }
  }
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    @extend .u-1-2--tablet;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &footer {
    display: block
  }
  &btn-group{
    > *{
      margin-left: $act-unit;
    }
    > :first-child{
      margin-left: 0;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-media-box--

[class*=c-media-box__header--] {
  @extend .c-media-box__header;
}
