/*
  BEM BLOCK .c-options-table
 */

.c-options-table {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-options-table--
 */

.c-options-table-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-options-table--

[class*=c-options-table--] {
  @extend .c-options-table;
}

/*
  BEM ELEMENTS .c-options-table__
 */

.c-options-table__ {
  &header {
    display: block;
  }
  &heading {
    display: block;
  }
  &title {
    display: inline;
  }
  &link {
    display: inline
  }
  &table{
    @extend .o-table;
    @extend .o-table--small;
    //border-right: solid 1px $brand-col-1;
    border-left:none;
    //background: $brand-col-6;
  }
  &th{
    @include act-font-size($inuit-font-size-h6);

    color: white;
    border-bottom: solid 1px white !important;
    border-left: none;
    background:   $brand-col-2  ;
    width: 50%;
    @include mq($from : tablet){
      width: 300px;
      max-width: 300px;
    }
  }
  &tr{
    //border-bottom: solid 1px $brand-col-1;
    > *{
      display: none;
      @include mq($from: tablet){
        display: table-cell;
      }
    }
     > *:nth-child(1){
        display: table-cell;
      }
    > [data-state=on]{
      display: table-cell;
    }
  }
  &td{
    text-align: center;
    border-bottom: solid 1px;
    vertical-align: top;
  }
  &label{
    text-align: center;
  }
  &label-price{
    color: white;
    background: $brand-col-2;
    width: auto;
    display: inline-block;
    padding: 0 $act-unit-s;
    @include act-font-size($inuit-font-size-h1);
  }
  &content {
    display: block
  }
  &cross{
    opacity: 0.25;
  }
  &check{
    display: block;
  }
  &note{
    @include act-font-size($inuit-font-size-small, 1);
    display: block;
  }
  &footer {
    display: block
  }
  &col{
    display: table-column;
    //border-left: solid 1px;
    width: 50%;
    @include mq($from: tablet){
      width: 25%;
    }
  }
  &text{
    line-height: 1;
  }
  &buy{
    .add_to_cart_button {
      background: $brand-col-2 !important;
      color: white !important;
      margin-bottom: $act-unit-s !important;
    }
    .add_to_cart_inline{
      border: none !important;
    }
    .added_to_cart{
      @extend .c-btn--n;
      background: $brand-col-4;
      &:hover{
        background: darken($brand-col-4, 5%);
      }
    }
  }
  &select-bundle-link{
    @extend .c-btn--l;
    background: $brand-col-1;
    font-weight: 700;
    color: $brand-col-2;
    &:hover{
      background: green !important;
    }
  }
  &control{
    text-align: center;
    @extend .o-box--tiny;
    background: #fafafa;
    @include mq($from: tablet){
      display: none;
    }
  }
  &control-btn{
    background: #eee;
    padding: $act-unit-s;
    cursor: pointer;
  &:hover, &:focus, &[data-state=on]{
    background: #ddd;
  }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-options-table--

[class*=c-options-table__header--] {
  @extend .c-options-table__header;
}

[class*=c-options-table__col--] {
  @extend .c-options-table__col;
}
.c-options-table__col--{
  &op2{
    //background-color: $brand-col-5;
  }
  &head{
border-left: none ;
  }
}

[class*=c-options-table__td--] {
  @extend .c-options-table__td;
}

.c-options-table__td--{
  &empty{
    background: transparent;
    border: none;
  }
  &op2{
    @include mq($from : tablet){
      background: $brand-col-6;
    }

  }
}

[class*=c-options-table__th--] {
  @extend .c-options-table__th;
}

.c-options-table__th--{
  &thead{
    background: transparent;
    border: none;
    color: $brand-col-1;
    @include act-font-size($inuit-font-size-h4);
    //padding-bottom: $act-unit-l !important;
  }
  &op2{
    background: $brand-col-6;
  }
}

[class*=c-options-table__note--] {
  @extend .c-options-table__note;
}

.c-options-table__note--{
  &select-bundle{
    color: $brand-col-1 !important;
    padding: $act-unit-s $act-unit-t;
    a{
      color: $brand-col-1 !important;
    }
  }
}

