/*
  BEM BLOCK .c-nav-menu
 */

.c-nav-menu {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-nav-menu--
 */

.c-nav-menu-- {
  &primary {
   @include act-font-size($inuit-font-size-h5, 1.3);
    text-transform: uppercase;
    display: none;
    @include mq($from : desktop){
      display: block;
    }
    //justify-content: center;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-nav-menu--

[class*=c-nav-menu--] {
  @extend .c-nav-menu;
}

/*
  BEM ELEMENTS .c-nav-menu__
 */

.c-nav-menu__ {
 &list{
   @extend .o-list-bare;
   margin-bottom: 0;
 }
  &item{
    position: relative;
    padding-left:0;
  }
  &link{
    text-decoration: none;
    @include act-font-size($inuit-font-size-h5,1);
  }
  &sub-menu{
    position: absolute;
    left: -99999px;
    display: none;
    top: 100%;
    margin-left: 0;
    z-index: 999;
    background: darken($brand-col-1, 5%);
    padding: $act-unit-t;
    .menu-item-has-children:hover &{
      left: 0;
      display: block;
    }
  }

  &list-submenu{
     @extend .o-list-bare ;
     margin: 0;
   }
  &item-submenu{
    margin-bottom: $act-unit-s;
    padding-left: 0 !important;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__list--

[class*=c-nav-menu__list--] {
  @extend .c-nav-menu__list;
}

.c-nav-menu__list--{
  &primary{
  @extend .o-list-flex--center;
  justify-content: center;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__item--

[class*=c-nav-menu__item--] {
  @extend .c-nav-menu__item !optional;
}

.c-nav-menu__item--{
  &primary{
    margin-right: $act-unit-t;
    margin-left: $act-unit-t;
  }
  &hero{
    margin-right: $act-unit;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__item--

[class*=c-nav-menu__item-submenu--] {
  @extend .c-nav-menu__item-submenu !optional;
}


//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__link--

[class*=c-nav-menu__link--] {
  @extend .c-nav-menu__link !optional;
}

.c-nav-menu__link--{
  &primary{
    padding:$act-unit-t / 2;
    display: block;
    color: $brand-col-1;
    font-weight: 500;
    &:hover{
      color: $brand-col-2;
      text-decoration: none;
    }
    .current-menu-item &{
      color: $brand-col-2;
    }
  }
  &mobile{
    padding:$act-unit-t 0 $act-unit-s;
    display: block;
    color: $brand-col-1;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: solid 1px $brand-col-3;
    &:hover{
      color: $brand-col-1;
      background-color: transparent;
      border-bottom: solid 1px $brand-col-1;
    }
    &:focus{
      color: $brand-col-1;
      background-color: transparent;
      border-bottom: solid 1px $brand-col-1;
    }
  }
  &secondary{
    @extend .o-btn--brand-2;
    @extend .o-btn--rounded;
    text-transform: uppercase;
    font-weight: 500;
  }
  &hero{
    color: white;
  }
  &services{
    color: $brand-col-4;
    font-weight: 500;
    @extend .o-btn--transparent;
    margin-bottom: $act-unit-s;
    &:hover{
      @extend .o-btn--brand-2;
    }
    .current-menu-item &{
      @extend .o-btn--brand-2;
    }
  }
}

.c-nav-menu__link--{
  &mobile{
    margin-bottom: $act-unit-s;
  }
}

//BEM ELEMENT CONTEXT .c-nav-menu--primary

.c-nav-menu--primary{
  .mobile-nav-widgets &{
    display: block;
  }
}
.c-nav-menu__list{
  .mobile-nav-widgets &{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .is-flex-menu &{
    display: flex;
  }
}
.c-nav-menu__item{
  .mobile-nav-widgets &{
    margin-left:0;
    margin-right: 0;
    margin-bottom:$inuit-global-spacing-unit;
  }
}


//BEM ELEMENT ATTRIBUTES .is- .has-
.c-nav-menu__list{
  .is-six-item-split &{
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto auto;

    .c-nav-menu__item--primary:nth-child(4){
      grid-column-start: 5;
    }
  }
  .is-flex-centered &{
    justify-content: center;
  }
  .is-flex-start &{
    justify-content: center;
  }
  .is-flex-end &{
    justify-content: center;
  }
}

.c-nav-menu__item{
  &.is-disc-icon{
    margin: 0 $act-unit-t;
  }
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-right: 0;
  }
}

.c-nav-menu__sub-menu{

}
