/*
  BEM BLOCK .c-member-thumb
 */

.c-member-thumb {
  display: block;
  @include act-font-size($act-fs-5)
}

/*
  BEM BLOCK MODIFIER .c-member-thumb--
 */

.c-member-thumb-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-member-thumb--

[class*=c-member-thumb--] {
  @extend .c-member-thumb;
}

/*
  BEM ELEMENTS .c-member-thumb__
 */

.c-member-thumb__ {
  &header {
    display: block;
    margin-bottom: $act-unit-t;
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &content{
    @include act-font-size($act-fs-5);
    margin-bottom: $act-unit-s;
  }
  &feature-image{
    margin-bottom: $act-unit;
  }
  &detail{
    margin-bottom: $act-unit-t;
  }
  &detail-label{
    @include act-font-size($act-fs-6);
    font-weight: bold;

  }
  &detail-value{
    @include act-font-size($act-fs-6);

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-member-thumb--

[class*=c-member-thumb__header--] {
  @extend .c-member-thumb__header;
}

//BEM ELEMENT MODIFIER FALLBACK .c-member-thumb--

[class*=c-member-thumb__detail--] {
  @extend .c-member-thumb__detail;
}

//BEM ELEMENT MODIFIER FALLBACK .c-member-thumb--

[class*=c-member-thumb__detail-label--] {
  @extend .c-member-thumb__detail-label;
}

.c-member-thumb__detail-label--position{
  //display: block;
}

//BEM ELEMENT MODIFIER FALLBACK .c-member-thumb--

[class*=c-member-thumb__detail-value--] {
  @extend .c-member-thumb__detail-value;
}



