/*
  BEM BLOCK .c-cta
 */

.c-cta {
  display: block;
  @extend .o-box;
  background: $col-accent;
  color: #fff;
  margin-bottom: $act-unit-l;
  margin-top: $act-unit-l;
}

/*
  BEM BLOCK MODIFIER .c-cta--
 */

.c-cta-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-cta--

[class*=c-cta--] {
  @extend .c-cta;
}

/*
  BEM ELEMENTS .c-cta__
 */

.c-cta__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block;
    @include act-font-size($act-fs-3)
  }

  &footer {
    display: flex
  }
  &btn{
    margin-right: $act-unit;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-cta--

[class*=c-cta__header--] {
  @extend .c-cta__header;
}
