/*
BEM BLOCK .c-site-title
 */

.c-site-title{
  display: block;
  margin: 0;
  width: 300px;
  height: 60px;
  max-width:100%;

}

/*
BEM BLOCK MODIFIERS .c-site-title
 */

[class*="c-site-title--"]{
  @extend .c-site-title;
}

.c-site-title__heading--{
  &page{
     margin-left: auto;
     margin-right: auto;
     @include mq($from: tablet){
       margin-left: 0;
       margin-right: 0;
     }
   }
  &text{
    @include size(auto);
    font-family: $act-font-family-serif;
    font-weight: 600;
    display: block;
    margin-bottom: 0;
    @include act-font-size($inuit-font-size-h1, $modifier: 0);
    @include mq($from: tablet){
      @include size(auto);
    }
  }
}

/*
BEM ELEMENTS .c-site-title
 */

.c-site-title__{
  &heading{
    line-height:1;
  }
  &link{
    @include act-font-size($inuit-font-size-h1, $modifier: 1);
    display: block;
    color: white;
    text-decoration: none;
    &:hover,&:focus{
      color: white;
    }
  }
  &img{
    display: block;
  }
  &description-heading{
    margin-bottom: 0;
    color: white;
    font-family: $act-font-family-sans;
    font-weight: 500;
    @include act-font-size($inuit-font-size-h4, $modifier: 1);
  }
}

