/*
  BEM BLOCK .c-members-thumb
 */

.c-members-thumb {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-members-thumb--
 */

.c-members-thumb-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-members-thumb--

[class*=c-members-thumb--] {
  @extend .c-members-thumb;
}

/*
  BEM ELEMENTS .c-members-thumb__
 */

.c-members-thumb__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-members-thumb--

[class*=c-members-thumb__header--] {
  @extend .c-members-thumb__header;
}
