/*
  BEM BLOCK .c-widget
 */

.c-widget {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-widget--
 */

.c-widget-- {
  &type {
    display: block;
  }
  &footer {
    color: white;
    @include act-font-size($inuit-font-size-h6, 1.5);
  }
  &sidebar{
    @include act-font-size($inuit-font-size-h5);
    ul{
      @extend .o-list-bare;
      margin-bottom: 0;
    }
  }
  &masthead-before {
    color: white;
    text-align: right;
    @include act-font-size($milli-size, 1.5);
    padding: $act-unit-t 0;
    margin-bottom: $act-unit;
  }
  &masthead-after{
    color: white;
    text-align: center;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-widget--

[class*=c-widget--] {
  @extend .c-widget;
}

/*
  BEM ELEMENTS .c-widget__
 */

.c-widget__ {
 &container{
   @include breakout-band($bgc : darken($brand-col-1, 10%));
    display: block;

 }

  &title{

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-widget--

[class*=c-widget__container--] {
  @extend .c-widget__container;
}

.c-widget__container--{
  &menu-primary{
    background-color: #ccc;
  }
}

[class*=c-widget__title--]{
  @extend .c-widget__title !optional;
}

.c-widget__title--{
  &footer{
    display: block;
    margin-bottom:$act-unit-t;
    color: white;
  }
}