/*
  BEM BLOCK .c-post-thumb
 */

.c-post-thumb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  text-align: center;
   > :last-child{
    margin-top: auto;
  }
}

/*
  BEM BLOCK MODIFIER .c-post-thumb--
 */

.c-post-thumb-- {
  &type {
    display: block
  }
  &feature-service{
    text-align: left;
    border: none;
    background-color: #eee;
    border-radius: 0;
    padding-left: $act-unit-h;
    padding-right: 0;
    max-width: 1440px;
  }
  &menu-item{
    position: relative;
  }
  &blog{
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
  }
  &case-study-thumb{
    text-align: left;
    justify-content: flex-start;

  }
  &testimonial{
    text-align: left;
    background: $brand-col-2;
    color: $brand-col-1;
    border-radius: $act-unit;
    padding: $act-unit;
    padding-bottom: $act-unit;
    p{
      color: $brand-col-5;
    }
    span{
      color: $brand-col-5;
    }
    cite{
      color: $brand-col-5;
      @include act-font-size($act-fs-5);
      font-style: normal;
    }

  }
  &slide{
    text-align: left !important;
  }
  &tax-collection{
    justify-content: flex-start;
    &>:last-child{
      margin-top: 0;
    }
  }

}

//BEM BLOCK MODIFIER FALLBACK .c-post-thumb--

[class*=c-post-thumb--] {
  @extend .c-post-thumb;
}

/*
  BEM ELEMENTS .c-post-thumb__
 */

.c-post-thumb__ {
  &feature-image{
    display: block;
  }
  &header {
    display: block
  }
  &heading {
    display: block;
    @include act-font-size($inuit-font-size-h3)
  }
  &title {
    display: inline;
  }
  &link {
    display: block;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      color: $brand-col-2 !important;
    }
  }
  &thumb-link{
    color: $brand-col-1;
    &:hover{
      color: $brand-col-1;
    }
  }
  &content {
    display: block;
  }
  &footer {
    display: block;
    text-align: left;
  }
  &link-title{
    color: black;
  }
  &post-icon{
    margin-bottom: $act-unit-l * 1;
  }
  &post-icon-img{
    height: 150px !important;
  }
  &excerpt{
    //margin-top: auto;
    @include act-font-size($inuit-font-size-h4);
    text-align: left;
  }
  &link-more{
    @include a($brand-col-1);
    margin-top: auto;
    font-weight: 700;
  }
  &wrapper{
    display: block;
  }
  &overlay-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &thumb-link{
    text-decoration: none;
  }
  &container{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb--

[class*=c-post-thumb__header--] {
  @extend .c-post-thumb__header;
}

.c-post-thumb__header--{
  &blog{
    padding-bottom: $act-unit-t;
  }
  &slide{
    @extend .u-1-2--desktop;

  }
}

[class*=c-post-thumb__wrapper--] {
  @extend .c-post-thumb__wrapper;
}

.c-post-thumb__wrapper--{
  &feature-list{
    width: 500px;
    max-width: 100%;
  }

}

.c-post-thumb__heading--{
  &feature-list{
    font-weight: 700;
    @include act-font-size($inuit-font-size-h1);
  }
}

.c-post-thumb__excerpt--{
  &feature-list{
    @include act-font-size($inuit-font-size-h5);
  }
  &blog{
    margin-top: 0;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb--

[class*=c-post-thumb__header--] {
  @extend .c-post-thumb__header;
}

.c-post-thumb__header--{
  &testimonial{
    margin-top: auto;
  }
  &blog{
    margin-bottom: $act-unit;
  }
}

.c-post-thumb__content--{
  &menu-item{
    position: absolute;
    top:50%;
    width: 100%;
    transform: translate(0, -50%);
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb__feature-image--

[class*=c-post-thumb__feature-image--] {
  @extend .c-post-thumb__feature-image;
}

.c-post-thumb__feature-image--{
  &overlay{
    position: relative;
    &:after{
      transition: background 0.3s ease-in-out;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(#000, 0.4);
      z-index: 1;
      top:0;
      left: 0;
    }
  }
  &case-study-thumb{
    //@extend .c-post-thumb__feature-image--overlay;
    margin-bottom: $act-unit;
  }
  &blog{
    margin-bottom: $act-unit;
  }
  &tax-collection{
    margin-bottom: $act-unit;
  }
  &cat-pod{
    margin-bottom: $act-unit;
  }
  &stuff{
    margin-bottom: $act-unit;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb__thumb-link--

[class*=c-post-thumb__thumb-link--] {
  @extend .c-post-thumb__thumb-link;
}

.c-post-thumb__thumb-link--{
  &case-study-thumb{
    margin-top: 0 !important;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb__more-link--

[class*=c-post-thumb__link-more--] {
  @extend .c-post-thumb__link-more;
}

.c-post-thumb__link-more--{
  &cat-pod{
    text-align: left;

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb__container--

[class*=c-post-thumb__container--] {
  @extend .c-post-thumb__container;
}

.c-post-thumb__container--{
  &case-study{

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb__excerpt--

[class*=c-post-thumb__excerpt--] {
  @extend .c-post-thumb__excerpt;
}

.c-post-thumb__excerpt--{
  &cat-pod{
    margin-top: 0;
    margin-bottom: auto;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb__footer--

[class*=c-post-thumb__footer--] {
  @extend .c-post-thumb__footer;
}

.c-post-thumb__footer--stuff{
  @extend .o-list-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}


