/*
<div class="c-btn">
    <a class="c-btn__link href="xxx">
       <span class="c-btn__label >Click Me</span>
    </a>
</div>

  BEM BLOCK .c-btn

 */

.c-btn {
  @extend .o-btn;
  &:hover, &:focus{
    @extend .c-btn;
    filter: brightness(90%);
  }
  &:active{
    filter: brightness(80%);
  }
}

/*
  BEM BLOCK MODIFIER .c-btn--
 */

.c-btn--{
  &type {
    display: block
  }
  &primary{
    @extend .o-btn--m;
    @extend .o-btn--b1;
    &[class*=__item]{
      padding: 0 !important;
      //background: red;
      a{
        @extend .o-btn--m
      }
    }
  }
  &secondary{
    @extend .o-btn--m;
    border: solid;
    color: $brand-col-1;
    background: transparent;
    &[class*=__item]{
      padding: 0 !important;
      //background: red;
      a{
        @extend .o-btn--m;
        color: $brand-col-1;
      }
    }
  }

}

//BEM BLOCK MODIFIER FALLBACK .c-btn--

[class*=c-btn--] {
  @extend .c-btn;
}

/*
  BEM ELEMENTS .c-btn__
 */

.c-btn__ {
  &link {
    display: block;
  }
  &label{
    display: inline-block;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-btn__link--

[class*=c-btn__link--] {
  @extend .c-btn__link;
}

.c-btn__link--{

}

//BEM ELEMENT MODIFIER FALLBACK .c-btn__label--

[class*=c-btn__label--] {
  @extend .c-btn__label;
}

.c-btn__label--{

}
