/*
  BEM BLOCK .c-product
 */

.c-product {
  display: block;
  @include mq($from: tablet){
    display:grid !important;
    grid-template-columns: 1fr 1fr;
    column-gap: $act-unit-l;
  }

}

/*
  BEM BLOCK MODIFIER .c-product--
 */

.c-product-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-product--

[class*=c-product--] {
  @extend .c-product;
}

/*
  BEM ELEMENTS .c-product__
 */

.c-product__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block;
  }
  &summary{
    margin-bottom: $act-unit-l;
  }
  &summary-after{
    margin-top: $act-unit-l;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &product-badge{
    position: absolute;
    @include size(100px);
    z-index: 10;
    @include mq($from : desktop){
    @include size(120px);
    }
  }
  &feature-image{
    position: relative;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-product--

[class*=c-product__header--] {
  @extend .c-product__header;
}

/*Shame*/
.product_title{
  text-align: center;
  @include mq($from : tablet){
    text-align: left;
  }
}


.woocommerce div.product form.cart .button {
  vertical-align: middle;
  float: none;
  width: 100%;
  @include mq($from : tablet){
    width: auto;
  }
}


.is-position-top-right{
  &.c-product__product-badge{
    right: - $act-unit-s;
    top: - $act-unit-s;

  }
}

.is-position-bottom-right{
  &.c-product__product-badge{
    right: - $act-unit-s;
    bottom: 225px;

  }
}

.is-position-bottom-left{
  &.c-product__product-badge{
    left: - $act-unit-s;
    bottom: 225px;

  }
}

.is-position-top-left{
  &.c-product__product-badge{
    left: - $act-unit-s;
    top: - $act-unit-s;
    .sale &{
      left: 120px;
    }
  }
}


