/*
  BEM BLOCK .c-shout-box
 */

.c-shout-box {
  display: block;
  display: flex;
}

/*
  BEM BLOCK MODIFIER .c-shout-box--
 */

.c-shout-box-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-shout-box--

[class*=c-shout-box--] {
  @extend .c-shout-box;
}

/*
  BEM ELEMENTS .c-shout-box__
 */

.c-shout-box__ {
  &header {
    display: block
  }

  &heading {
    display: block;
    @include act-font-size($act-fs-k)
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &col{
    @extend .u-1-2;
    padding: 0 $act-unit-l;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }
  &image{
    position: relative;
    padding-bottom: $act-unit;
    margin-bottom: $act-unit ;
    &:after{
      display: block;
      content: "";
      width: calc(100% - 24px);
      height: $act-unit;
      position: absolute;
      left: 0;
      bottom: 0;

      z-index: 10;
      background: url("assets/images/svg/mxb-wave-horz.svg");
      background-repeat: repeat-x;
      background-size: 6%;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-shout-box--

[class*=c-shout-box__header--] {
  @extend .c-shout-box__header;
}
