/*
  BEM BLOCK .c-widget-area
 */

.c-widget-area {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-widget-area--
 */

.c-widget-area-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-widget-area--

[class*=c-widget-area--] {
  @extend .c-widget-area;
}

/*
  BEM ELEMENTS .c-widget-area__
 */

.c-widget-area__ {
  &widget {
    display: block
  }
  &heading {
    display: block
  }
  &title {
    display: inline;
  }
  &link {
    display: inline
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-widget-area--

[class*=c-widget-area__widget--] {
  @extend .c-widget-area__widget;
}

.c-widget-area__widget--{
  &masthead-before-widgets{
    @include breakout-band($bgc : $brand-col-3);
    padding-right: $act-unit-h;
    @include mq($from : desktop){
      padding-right: 0;
    }
  }
  &sidebar-widgets{
    margin-bottom: $act-unit;
    padding-bottom: $act-unit;
    border-bottom: solid 1px;
  }
  &footer-widgets{
    margin: auto;
    text-align: left !important;
    a{
      color: white;
      &:hover{
        color: $brand-col-1;
      }
    }
    @include inuit-font-size($inuit-font-size-h6, $inuit-global-line-height / 1.5 );
    margin-bottom:$inuit-global-spacing-unit;
    @extend .u-1-4--tablet;
    @include mq($from: tablet){
      padding-left:$inuit-global-spacing-unit ;
    }
    &:first-child{
      padding-left:0;
      margin-top: $act-unit;
    }
    &:last-child{
      @include mq($from : tablet, $until: desktop){
        padding-left:0 ;
        width: 100% !important;
      }
    }
  }


}
