/*
BEM BLOCK .c-hero
 */
.c-hero{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  height: 100vh;
  position: relative;
}

/*
BEM ELEMENTS .c-hero__
 */
.c-hero__{
  &container{
    height: 100%;
  }
  &image{
    width:100%;
    height: 100%;
    position: absolute;
  }
  &img{

  }
  &body{
    //display: none !important;
    position: relative;
    width: 100%;
    color: white;
    max-height:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
  }
  &content{
    display: inline-block;
    padding: $act-unit-s;
    text-align: center;
    max-width: 100%;
    width: 1000px;
    * {
      color: white;
    }
  }
 &menu{
  @extend .o-list-inline;
  text-align: center;
   display: flex;
 }
  &logo{
    text-align: center;
    max-height:100%;
    height: 100%;
    padding: $act-unit;
    height: 400px;
  }
  &logo-img{
    display: block;
    margin: 0 auto;
    max-height:100%;

  }
}

[class*=c-hero__body--]{
  @extend .c-hero__body;
}
.c-hero__body--{
  &full-browser-width{
    //display: none !important;
  }
}

.c-image--background{
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: saturate(10%);
}
