/*
  BEM BLOCK .c-btn
 */

.c-btn {
  @extend .o-btn;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  &.is-loading{
    cursor: default;
    pointer-events: none;
  }
}

/*
  BEM BLOCK MODIFIER .c-btn--
 */

.c-btn--{
  &type {
    display: block
  }
  &primary{
    @extend .c-btn;
    text-align: center;
    color: $col-light !important;
    background: $col-accent;
    @include act-font-size($act-fs-4,1);
    font-weight: bold;
    padding-left: $act-unit ;
    padding-right: $act-unit ;
    margin-bottom: $act-unit;
    &:hover, &:active, &:focus {
      background: darken($col-accent, 10%);
      color: $col-light !important;
    }
    @include mq($from : tablet){
      line-height: 1;
    }
    a{
      color: $col-light;
    }

  }
  &secondary{
    @extend .c-btn;
    //@extend .c-btn--ghost;
    color: $col-light;
    @include act-font-size($act-fs-4,1);
    //font-weight: bold;
    padding-left: $act-unit ;
    padding-right: $act-unit ;
    &:hover, &:active, &:focus {
      background: darken($col-accent, 10%);
      color: $col-light;
    }
    a{
      color: $col-light;
    }
  }
  &add-to-cart{

  }
  &nav-btn{
    background: transparent;
    a{
      @extend .c-btn--primary;
      padding: $act-unit-s $act-unit!important;
      margin-bottom: 0;
      @include act-font-size($act-fs-5,1)
    }
    &.current_page_item a{
      @extend .c-btn--primary;
      padding: $act-unit-s $act-unit!important;
      margin-bottom: 0;
      @include act-font-size($act-fs-5,1)
      cursor: default;
    background: darken($col-accent, 10%)
    }
  }
  &n{
    @extend .c-btn;
    padding: $inuit-global-spacing-unit-tiny  $inuit-global-spacing-unit-small;
    @include act-font-size($act-fs-4, 1);
    text-transform: none;
  }
  &ghost{
    background: transparent !important;
    border: solid 1px;
    &.o-btn--brand-1{
      &:hover{
        background: rgba($brand-col-1, .8) !important;
      }
    }
    &.o-btn--brand-2{
      &:hover{
        background: rgba($brand-col-2, .8) !important;
      }
    }
  }
  &product-cta{
    @extend .c-btn--primary;
    font-weight: normal;
    @include act-font-size($act-fs-5);
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-top: $act-unit-s;
    margin-bottom: 0;

  }
  &add-to-cart{
    @extend .c-btn--primary;
    margin-bottom: $act-unit-t;
    width: 100%;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-btn--

[class*=c-btn--] {
  @extend .c-btn;
}

/*
  BEM ELEMENTS .c-btn__
 */

.c-btn__ {
  &header {
    display: block
  }
  &heading {
    display: block
  }
  &title {
    display: inline;
  }
  &link {
    display: inline
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-btn--

[class*=c-btn__header--] {
  @extend .c-btn__header;
}
