/*
  BEM BLOCK .c-header
 */

.c-header {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-header--
 */

.c-header-- {
  &type {
    display: block
  }
  &page{
    text-align: center;
    @include breakout-band($brand-col-2);
    padding: $act-unit 0 $act-unit-l;
  }
  &service{
    padding: 0;
    text-align: center;
    @extend .c-header--page;
    &:after{
      width: 0;
      height: 80px;
      border: solid 2px $brand-col-2;
      margin: 0 auto;
      position: static;
    }
  }
  &service-intro{
    @extend .c-header--page;
    @include breakout-band($brand-col-1);
  }
  &project{
    @extend .c-header--page;
    @include breakout-band($brand-col-6);
  }
  &slide{
    text-align: center;
    &:after{
      content : '';
      display: block;
      @include size(3px, 100px);
      background: $brand-col-1;
      margin: 0 auto $act-unit;
    }
  }
  &product-box-feature-list{
    color: $brand-col-6;
  }

}

//BEM BLOCK MODIFIER FALLBACK .c-header--

[class*=c-header--] {
  @extend .c-header;
}

.c-header--{
  &service{
    //color: $brand-col-6;
  }
  &thumb-service{
    color: $brand-col-6;
  }
}

/*
  BEM ELEMENTS .c-header__
 */

.c-header__ {
  &header {
    display: block;
  }

  &heading {
    display: block;
   font-size: 3vw;
    //text-decoration: none !important;
  }
  &sub-heading{
    font-size: 2vw;
    .c-header__header--slide &{
      text-decoration: underline;
    }
  }

  &title {
    display: inline;
    text-decoration: none !important;
  }

  &link {
    display: inline;
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &post-icon{
      @include size($act-unit-h);
      fill: $brand-col-1;
      margin: 0 auto $act-unit;
    }
  &post-icon-img{
    display: block;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-header__heading--

[class*=c-header__heading--] {
  @extend .c-header__heading;
}

.c-header__heading--{
  &page{
    text-decoration: underline;
    @include act-font-size($act-fs-g);
    font-weight: 900;
  }
  &service{
    @extend .c-header__heading--page;
    @include act-font-size($act-fs-1);
    text-decoration: none;
    font-weight: 900;
  }
  &service-intro{
    @extend .c-header__heading--page;
    color: $brand-col-6 !important;
  }
  &project{
    @extend .c-header__heading--page;
  }
  &sidebar{
    @include act-font-size($act-fs-4);
    margin-bottom: $act-unit-s;
  }
  &main-before{
    @include act-font-size($act-fs-4);
    margin-bottom: $act-unit-s;
  }
  &footer{
    @include act-font-size($act-fs-4);
    margin-bottom: $act-unit-t;
  }
  &mobile-nav-after{
    @include act-font-size($act-fs-4);
    margin-bottom: $act-unit-t;
    color: $brand-col-6;
  }
  &product-box{
    color: $brand-col-1;
    font-family: $act-font-family-sans;
    font-weight: 700;
    text-transform: uppercase;
    @include act-font-size($act-fs-4);
  }
  &product-box-feature-list{
    @extend .c-header__heading--product-box;
    @include act-font-size($act-fs-6);
    color: $brand-col-6;
    font-weight: 500;
    text-transform: none;
  }
  &thumb-service{
    color: $brand-col-6;
  }
}




//BEM ELEMENT MODIFIER FALLBACK .c-header__title--

[class*=c-header__title--] {
  @extend .c-header__title;
}

//BEM ELEMENT MODIFIER FALLBACK .c-header__link--

[class*=c-header__link--] {
  @extend .c-header__link;
}

.c-header__link--{
  &slide{

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-header__post-icon--

[class*=c-header__post-icon--] {
  @extend .c-header__post-icon;
}

.c-header__post-icon--{
  &product-box{
    @include size($act-unit-h * 1.25)
  }
  &thumb-service{
    fill: $brand-col-6;
    @include size(10vw);
    margin-bottom: $act-unit-l;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-header__post-icon--

[class*=c-header__post-icon-img--] {
  @extend .c-header__post-icon-img;
}

.c-header__post-icon-img--{
  &service-intro{
    fill: $brand-col-6;
  }
}


//BEM ELEMENT MODIFIER FALLBACK .c-header__sub-heading--

[class*=c-header__sub-heading--] {
  @extend .c-header__sub-heading;
}

.c-header__sub-heading--{
&service-intro{
  color: $brand-col-6;
}
  &product-box{
    @include act-font-size($act-fs-5);
    font-family: $act-font-family-sans;
    font-weight: 500;
  }

}


/*
 * .c-header extendable styles
 */

.c-header--left-block{
  @include breakout-band($bgc : $brand-col-3, $pos : 'left');
  background: $brand-col-3;
  color: white;
  padding: $act-unit;
}
