/*
  BEM BLOCK .c-service-thumb
 */

.c-service-thumb {
  display: block;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

/*
  BEM BLOCK MODIFIER .c-service-thumb--
 */

.c-service-thumb-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-service-thumb--

[class*=c-service-thumb--] {
  @extend .c-service-thumb;
}

/*
  BEM ELEMENTS .c-service-thumb__
 */

.c-service-thumb__ {
  &feature-image{
    @include colour-cast($color : #17347c, $opacity :0.4, $darken : 0, $mode : overlay);
  }
  &header {
    display: block;
    position: relative;
  }
  &meta{
    position: absolute;
    right: 0;
    bottom: $act-unit-l;
    background: $brand-col-2;
    color: white;
    padding: $act-unit-s;
    padding-right: $act-unit-l;
    @include act-font-size($inuit-font-size-h6,1);
    z-index: 10;
  }
  &heading {
    display: block;
    margin:0;
    position: absolute;
    top: $act-unit-l; 
    background: $brand-col-1;
    padding: $act-unit-s;
    padding-left: $act-unit-l;
    max-width: 90%;
    @include act-font-size($inuit-font-size-h5,1.2);
    z-index: 10;
  }
  &title {
    display: inline;
    @include act-font-size($inuit-font-size-h5,1.2);
    color: white;
  }
  &link {
    display: inline
  }
  &content {
    display: block;
    padding: $act-unit;
    background: $col-bg-tint;
    flex: 1 0 auto;
    @extend .o-box;
    p{
      @include act-font-size($inuit-font-size-h6, 1.3)
    }

  }
  &footer {
    display: block
  }
  &img{

    max-width: 100% !important;
    width: 100%;
    height: auto;
  }
  &link{
    margin: 0;
  }
  &link-title{
    @include act-font-size($inuit-font-size-h4,1);
    color: white;
  }
  &content{
    @include act-font-size($inuit-font-size-h5,1.4);
  }

}

//BEM ELEMENT MODIFIER FALLBACK .c-service-thumb--

[class*=c-service-thumb__header--] {
  @extend .c-service-thumb__header;
}