/*
BEM BLOCK .c-masthead
 */
.c-masthead{
  border-bottom:none;
  width: 100%;
  @extend .o-wrapper;
  padding: $act-unit;
  padding-bottom: $act-unit;
  @include inuit-clearfix();
  display: flex;
  flex-direction: column-reverse;
  @include mq($from : desktop){
    display: block;
    padding-bottom: 0;
  }
}

/*
BEM BLOCK MODIFIERS .c-masthead--
 */
[class*="c-masthead--"]{
  @extend .c-masthead;
}

.c-masthead--{
  &front-page{
    background: transparent;
    position: absolute;
    z-index: 9999;
  }
}

/*
BEM ELEMENTS .c-masthead__
 */
.c-masthead__{
  &navigation{
    @extend %off-page--curtain;
  }
&masthead-before-widgets{
  @include act-font-size($inuit-font-size-h4);
  text-align: center;
  margin-bottom:0;
  margin-top:$act-unit-s;
  @include mq($from : mobile){
    @include act-font-size($inuit-font-size-h2);
  }
  @include mq($from : tablet){
    padding-right:$act-unit-l;
  }
  @include mq($from : desktop){
    @include act-font-size($inuit-font-size-h4);
    padding-right:0;
    float: right;
    margin-top:0;
  }
}
  &branding{
    background: transparent;

    @include mq($from : desktop){
      margin-bottom: $act-unit;
    }
  }
}