/*
  BEM BLOCK .c-nav-menu
 */

.c-nav-menu {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-nav-menu--
 */

.c-nav-menu-- {
  &primary {
   @include act-font-size($act-fs-6, 1.3);
    height: 100%;

    //@include breakout-band($brand-col-2);
    //margin: 0 auto;

  }
  &secondary {
    @include act-font-size($inuit-font-size-h5, 1.3);
  }
  &social{
    //margin-top: $act-unit-l;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-nav-menu--

[class*=c-nav-menu--] {
  @extend .c-nav-menu;
}

/*
  BEM ELEMENTS .c-nav-menu__
 */

.c-nav-menu__ {
 &list{
   //@extend .o-list-bare;
   margin-bottom: 0;
   justify-content: flex-end;
   margin: 0;
   padding: 0;
   list-style: none;
 }
  &item{
    position: relative;
    padding: 0;
  }
  &link{
    text-decoration: none;
    pointer-events: all !important;
  }
  &sub-menu{
    &:before{
      content: '';
      display: block;
      position: absolute;
      @include size(0px);
      border: solid 10px #fff;
      border-color: white transparent white transparent;
      border-top-style: none;

      left: 20px;
      top: -10px;
      background: transparent;
      color: #fff;
    }
    position: absolute;
    left: -99999px;
    display: none;
    top: calc(100% + 24px);
    margin-left: 0;
    z-index: 999;
    background: white;
    padding: $act-unit-t;
    .menu-item-has-children:hover &{
      left: 0;
      display: block;
    }
    &:hover{
      left: 0 !important;
      display: block !important;
    }
  }
  &sub-menu-list{
    //@extend .o-list-bare ;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &sub-menu-item{

    margin-bottom:0;
    padding-left: 0 !important;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &sub-menu-link{
    //color: white;
    @include act-font-size(15px);
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1px $act-unit-s;
    white-space: nowrap;
    color: $col-scc-gray;
    &:hover{
      @extend .c-nav-menu__sub-menu-link;
      color: white;
      background: darken($brand-col-2, 10%);
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__list--

[class*=c-nav-menu__list--] {
  @extend .c-nav-menu__list;
}

.c-nav-menu__list--{
  &primary{
  //@extend .o-list-flex--center;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &pagination{
    //@extend .o-flex-split--last;
  }
  &social{
    //@extend .o-list-flex;
    justify-content: center;
  }
  &footer{
    display: flex;
    flex-direction: row;
  }
  &mobile{
    //@extend .o-list-flex--stacked;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__item--

[class*=c-nav-menu__item--] {
  @extend .c-nav-menu__item !optional;
}

.c-nav-menu__item--{
  &primary{
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  &hero{
    margin-right: $act-unit;
  }
  &social{
    margin-right: $act-unit-l;
    margin-left: 0;
  }
  &footer{
    margin-left: $act-unit;
  }
  &stacked{
    margin-bottom: $act-unit-s;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &mobile{
    @extend .c-nav-menu__item--stacked;
  }
  &image{
    display: inline-block;
  }
  &homepage-service{
    margin-bottom: $act-unit-l;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__link--

[class*=c-nav-menu__link--] {
  @extend .c-nav-menu__link !optional;
}

.c-nav-menu__link--{
  &primary{
    @include act-font-size(15px);
    padding: 0 $act-unit-t $act-unit;
    display: block;
    background: transparent;
    font-weight: 500;
    color: $col-scc-gray;
    margin-bottom: - $act-unit;

    &:hover{
      color: $brand-col-1;
    }
    .is-overlay-hero &{
      color:white;
    }
    .c-nav-menu__item:last-child &{
    }
    .current-menu-item &{
      background: transparent;
      font-weight: 500;
      .is-overlay-hero &{
        color: darken(white, 5%);
      }
    }

  }
  &secondary{
    //@extend .o-btn;
    //@extend .o-btn--rounded;
    //@extend .o-btn--brand-2;
    text-transform: uppercase;
    font-weight: 500;
  }
  &mobile{
    //@extend .c-nav-menu__link--blocky;
  }
  &blocky{
    padding:$act-unit-s;
    display: block;
    background-color: darken($brand-col-3, 15%);
    &:hover{
      color: white;
      background-color: darken($brand-col-3, 20%);
    }
    &:focus{
      color: white;
      background-color: darken($brand-col-3, 20%);
    }
  }
  &homepage-service{
    &:hover{
      .c-post-thumb__image:after{
        background: rgba(#000, 0.2);
      }
    }
  }
  &hero{
    //@extend .c-btn--primary;
  }
}


//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__sub-menu--

[class*=c-nav-menu__sub-menu--] {
   @extend .c-nav-menu__sub-menu !optional;
 }

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__sub-menu-list--

[class*=c-nav-menu__sub-menu-list--] {
  @extend .c-nav-menu__sub-menu-list !optional;
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__sub-menu-item--

[class*=c-nav-menu__sub-menu-item--] {
  @extend .c-nav-menu__sub-menu-item !optional;
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__sub-menu-link--

[class*=c-nav-menu__sub-menu-link--] {
  @extend .c-nav-menu__sub-menu-link !optional;
}

.c-nav-menu__link{

  .has-label &{
    display: flex;
    align-items: center;
  }
   > :last-child{
     .has-label & {
       margin-left: $act-unit-s;
     }
     .is-icon-pos-right &{
       margin-left: 0;
       margin-right: $act-unit-s;
     }
  }
  .is-icon-pos-right &{
    flex-direction: row-reverse;
  }

}


