/*
BEM BLOCK .c-feature-image
 */
.c-feature-image{
  position: relative;
}

/*
BEM BLOCK .c-feature-image--
*/

[class*='c-feature-image--']{
  @extend .c-feature-image;
}

.c-feature-image--{
  &service{
    height: 100%;
  }
  &case-study{
    border-radius: $act-unit;
    overflow: hidden;
  }
  &shout-box{

  }
  &case-study-thumb{
    border-radius: $act-unit;
    overflow: hidden;
    aspect-ratio: 2/3;
  }
  &single-post{
    @include breakout-img();
    position: relative;
  }
  &cat-pod{
    padding-top: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  &stuff{
    background: #fff;
    border-radius: $act-unit;
    overflow: hidden;
    aspect-ratio: 3/2;
  }
  &intro-header{
    border-radius: $act-unit;
    overflow: hidden;
    aspect-ratio: 1/1;
  }

}

 /*
BEM ELEMENTS.c-feature-image__
 */

.c-feature-image__{

  &img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  &caption{
    display: none;
  }

  &button{

  }

}

[class*=c-feature-image__img--] {
  @extend .c-feature-image__img;
  border-radius: $act-unit;
}

.c-feature-image__img--{
  &shout-box{
    margin-bottom: $act-unit-l;
  }
  &case-study{
    @include size(100%, 100%, $important : true);
  }
  &case-study-thumb{
    @include size(100%, 100%, $important : true);
  }
  &blog{
    border-radius: $act-unit;
    //height: 240px;
    //max-height: 16vw;
    aspect-ratio: 3/2;
  }
  &mxb-media{
    @extend .c-feature-image__img--blog
  }
  &tax-collection{
    @include mq($from : tablet){
      aspect-ratio: 2/3;
    }
  }
  &cat-pod{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    aspect-ratio: 1/1
  }
  &single-post{
    border-radius: 0;
    height: 160px;
    max-height: 60vh;

    @include mq($from : tablet){
      height: 100%;
    }
  }
}



