/*
BEM BLOCK .c-masthead
 */
.c-masthead{
  border-bottom:none;
  width: 100%;
  @extend .o-wrapper;
  padding: $act-unit;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: white;
  &:after{
    width: 100%;
  }
  &.has-before-widgets{
    padding-top: 0;
  }
}

/*
BEM BLOCK MODIFIERS .c-masthead--
 */
[class*="c-masthead--"]{
  @extend .c-masthead;
  .is-overlay-hero &{
    @include breakout-band($bgc : linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 80%) );
  }
}

.c-masthead--{
  &front-page{
    background: transparent;
    position: absolute;
    z-index: 9999;
  }
}

/*
BEM ELEMENTS .c-masthead__
 */
.c-masthead__{
  &site-title{
    line-height: 1;
    margin-top: $act-unit-s;
    @include mq($from:desktop){
      margin-top: $act-unit;
      margin-bottom: $act-unit;
    }
  }
  &navigation{
    display: none;

    @include mq($from : desktop){
      width: 100%;
      display: flex;
      align-items: flex-start;
      @include breakout-band($brand-col-2);
    }
  }
  &widget-area{
    width: 100%;
  }
  &branding{
    background: transparent;
    width: auto;
    max-width: 100%;
    margin-right: auto;
    margin-bottom: 0;
    @include breakout-band($bgc : white);
    @include mq($from : desktop){
      max-width: 100%;
    }
  }
}

[class*=c-masthead__widget-area--]{
  @extend .c-masthead__widget-area
}
