/*
  BEM BLOCK .c-post-thumb
 */

.c-post-thumb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  text-align: center;
  padding: $act-unit;
  padding-top: $act-unit-l * 1.5;
  border: solid 1px $brand-col-5;
  border-radius: $act-unit-s;
  //background: white;
}

/*
  BEM BLOCK MODIFIER .c-post-thumb--
 */

.c-post-thumb-- {
  &type {
    display: block
  }
  &feature-service{
    text-align: left;
    border: none;
    background-color: #eee;
    border-radius: 0;
    padding-left: $act-unit-h;
    padding-right: 0;
    max-width: 1440px;
  }
  &image-menu{
    display: block;
    //@include colour-cast($color: $brand-col-3, $opacity : 0.1);
    position: relative;
    padding:0;
    border:none;
    border-radius: 0;
    &:hover{
      //@include colour-cast($color:$brand-col-3, $opacity : 0);
    }
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-post-thumb--

[class*=c-post-thumb--] {
  @extend .c-post-thumb;
}

/*
  BEM ELEMENTS .c-post-thumb__
 */

.c-post-thumb__ {
  &header {
    display: block
  }
  &heading {
    display: block;
    @include act-font-size($inuit-font-size-h3)
  }
  &title {
    display: inline;
  }
  &link {
    display: block;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      color: $brand-col-2 !important;
    }
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
  &link-title{
    color: black;
  }
  &post-icon{
    margin-bottom: $act-unit-l * 1;
  }
  &post-icon-img{
    height: 150px !important;
  }
  &excerpt{
    margin-top: auto;
    @include act-font-size($inuit-font-size-h5);
  }
  &more-link{
    color: $brand-col-2;
    text-decoration: none;
    @extend .o-btn--transparent;
    @extend .o-btn--rounded;
    &:hover{
      @extend .o-btn;
    }
  }
  &wrapper{
    display: block;
  }
  &img{
  display: block;
  }
  &image-link{
    display: block;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb__header--

[class*=c-post-thumb__header--] {
  @extend .c-post-thumb__header;
}

.c-post-thumb__header--{
  &image-menu{
    //position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    padding:  0;
    text-align: center;
    z-index: 2;
    transform: translate(0,0%);
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb__header--

[class*=c-post-thumb__heading--] {
  @extend .c-post-thumb__heading;
}

.c-post-thumb__heading--{
  &image-menu{
    font-weight: 500;
    margin: 0;
    display: block;
    background: transparent !important;
    padding: $act-unit-t $act-unit-t;
    text-transform: uppercase;
    text-align: center;
    @include act-font-size($inuit-font-size-h2,1);
  }
}

[class*=c-post-thumb__wrapper--] {
  @extend .c-post-thumb__wrapper;
}

.c-post-thumb__wrapper--{
  &feature-list{
    width: 500px;
    max-width: 100%;
  }
}

.c-post-thumb__heading--{
  &feature-list{
    font-weight: 700;
    @include act-font-size($inuit-font-size-h1);
  }
}

.c-post-thumb__excerpt--{
  &feature-list{
    @include act-font-size($inuit-font-size-h5);
  }
}

[class*=c-post-thumb__img--] {
  @extend .c-post-thumb__img;
}

.c-post-thumb__img--{
  &image-menu{
    transition: filter 0.5s ease;
    display: block;
    max-width: 100%;
    max-height:100%;
    width: 600px;
    height: auto;
   //filter: saturate(20%);
    border-radius: 50% !important;
    .c-post-thumb:hover &{
      //filter:saturate(50%);
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb__header--

[class*=c-post-thumb__image-link--] {
  @extend .c-post-thumb__image-link;
}

.c-post-thumb__image-link--{
  &image-menu{
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;

  }
}

