/*
  BEM BLOCK .c-post-thumb
 */

.c-post-thumb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  text-align: center;
}

/*
  BEM BLOCK MODIFIER .c-post-thumb--
 */

.c-post-thumb-- {
  &type {
    display: block
  }
  &feature-service{
    text-align: left;
    border: none;
    background-color: #eee;
    border-radius: 0;
    padding-left: $act-unit-h;
    padding-right: 0;
    max-width: 1440px;
  }
  &menu-item{
    position: relative;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-post-thumb--

[class*=c-post-thumb--] {
  @extend .c-post-thumb;
}

/*
  BEM ELEMENTS .c-post-thumb__
 */

.c-post-thumb__ {
  &header {
    display: block
  }
  &heading {
    display: block;
    @include act-font-size($inuit-font-size-h3)
  }
  &title {
    display: inline;
  }
  &link {
    display: block;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      color: $brand-col-2 !important;
    }
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
  &link-title{
    color: black;
  }
  &post-icon{
    margin-bottom: $act-unit-l * 1;
  }
  &post-icon-img{
    height: 150px !important;
  }
  &excerpt{
    margin-top: auto;
    @include act-font-size($inuit-font-size-h5);
  }
  &more-link{
    color: $brand-col-2;
    text-decoration: none;
    @extend .o-btn--transparent;
    @extend .o-btn--rounded;
    &:hover{
      @extend .o-btn;
    }
  }
  &wrapper{
    display: block;
  }
  &overlay-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb--

[class*=c-post-thumb__header--] {
  @extend .c-post-thumb__header;
}

[class*=c-post-thumb__wrapper--] {
  @extend .c-post-thumb__wrapper;
}

.c-post-thumb__wrapper--{
  &feature-list{
    width: 500px;
    max-width: 100%;
  }

}

.c-post-thumb__heading--{
  &feature-list{
    font-weight: 700;
    @include act-font-size($inuit-font-size-h1);
  }
}

.c-post-thumb__excerpt--{
  &feature-list{
    @include act-font-size($inuit-font-size-h5);
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb--

[class*=c-post-thumb__header--] {
  @extend .c-post-thumb__header;
}

.c-post-thumb__content--{
  &menu-item{
    position: absolute;
    top:50%;
    width: 100%;
    transform: translate(0, -50%);
  }
}



