/*
  BEM BLOCK .c-post-thumb
 */

.c-post-thumb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  text-align: left;
}

/*
  BEM BLOCK MODIFIER .c-post-thumb--
 */

.c-post-thumb-- {
  &type {
    display: block
  }
  &feature-service{
    text-align: left;
    border: none;
    background-color: #eee;
    border-radius: 0;
    padding-left: $act-unit-h;
    padding-right: 0;
    max-width: 1440px;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-post-thumb--

[class*=c-post-thumb--] {
  @extend .c-post-thumb;
}

/*
  BEM ELEMENTS .c-post-thumb__
 */

.c-post-thumb__ {
  &header {
    display: block;
    text-align: left;
  }
  &heading {
    display: block;
    @include act-font-size($inuit-font-size-h3)
  }
  &title {
    display: inline;
  }
  &link {
    display: block;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      color: $brand-col-2 !important;
    }
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
  &post-icon{
    margin-bottom: $act-unit-l * 1;
  }
  &post-icon-img{
    height: 150px !important;
  }
  &excerpt{
    //margin-top: auto;
    @include act-font-size($inuit-font-size-h5);
    @include mq($from:desktop){
      @include act-font-size($inuit-font-size-h6);
    }
  }
  &more-link{
    color: $brand-col-2;
    text-decoration: none;
    @extend .o-btn--transparent;
    @extend .o-btn--rounded;
    &:hover{
      @extend .o-btn;
    }
  }
  &wrapper{
    display: block;
  }
  &feature-image{
    @include size(100%,120px);
    margin-bottom: $act-unit-s;
    img{
      @include size(100%,120px, true);
      object-fit: cover;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb--

[class*=c-post-thumb__header--] {
  @extend .c-post-thumb__header;
}

[class*=c-post-thumb__wrapper--] {
  @extend .c-post-thumb__wrapper;
}

.c-post-thumb__wrapper--{
  &feature-list{
    width: 500px;
    max-width: 100%;
  }
}

.c-post-thumb__heading--{
  &feature-list{
    font-weight: 700;
    @include act-font-size($inuit-font-size-h1);
  }
  &home-post{
    @include act-font-size($inuit-font-size-h2);
  }
}

.c-post-thumb__excerpt--{
  &feature-list{
    @include act-font-size($inuit-font-size-h5);
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-post-thumb__link--

[class*=c-post-thumb__link--] {
  @extend .c-post-thumb__link;
}

.c-post-thumb__link--{
  &title{
    position: relative;
    padding-right: $act-unit;
    &:after{
      content : '\02771';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 0;
    }

  }
}
