@mixin brand-title(){
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &:before{
    content: '';
    width: 100%;
    height: 3px;
    background: $brand-col-1;
    display: block;
    position: absolute;
    top: 50%;
  }
  > *{
    text-align: center;
    font-size: $inuit-heading-size-2;
    position: relative;
    z-index: 2;
    background: #fff;
    display: inline-block;
    margin: 0 auto;
    padding: 0 $inuit-base-spacing-unit;
  }
}