.after-content{
   &--archive{
     @include breakout-band();
   }
  &--service{
    @include breakout-band();
  }
 }

.after-content--archive{

    &__content{
      width: 50%;
      max-width: 600px;
      margin: 0 auto;
    }

}
.after-content--service{

  &__content{
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
  }

}