.comment-form{
  padding: 0 $inuit-base-spacing-unit--small;
  max-width: 800px;
  margin: 0 auto;
}

.comment-form{
  &__notes{
    margin-bottom: $inuit-base-spacing-unit;
    padding: $inuit-base-spacing-unit--small / 2 $inuit-base-spacing-unit--small;
    background: #fff;
    @include inuit-font-size($milli-size);
  }
  &__comment{
    margin-bottom: $inuit-base-spacing-unit--small;
  }

  textarea{
    border: solid 5px rgba($col-scc-gray, 0.2);
    padding: $inuit-base-spacing-unit--small /2 $inuit-base-spacing-unit--small;
    @include inuit-font-size($small-size);
    width: 100%;
  }
  input:not([type=submit]){
    border: solid 5px rgba($col-scc-gray, 0.2);
    padding: $inuit-base-spacing-unit--small /2 $inuit-base-spacing-unit--small;
    @include inuit-font-size($small-size);
    width: 100%;
  }

  label{
    display: block;
    @include inuit-font-size($small-size);
  }
  p{
    margin-bottom: $inuit-base-spacing-unit--small;
  }

}
.comment-form__submit-wrapper{
  @extend .cf;
  padding: $inuit-base-spacing-unit--small 0;
}
.comment-form__submit{
  @extend .btn--cta1;
  display: inline-block;
  float: right;
}