.content{

}
.content{
  &__title{
    text-align: center;
  }
  &__header{
    font-weight: 100;
    @include inuit-font-size($inuit-heading-size-2);
    color: $brand-col-1;
  }
}

.content{
  &--feature-cats{

    @include mq($from:tablet){
      display: flex;
    }

  }
  &--archive{

    @include mq($from:desktop){
      width: 75%;
      margin: 0 auto;
      max-width: 800px;
    }

  }
}
