.content{
  width:100%;
}
.content{
  &--tile{
    @extend .content;
  }
  &--our-work{
    @extend .content;
  }
  &--archive-tile{
    display: flex;
    &.is-empty{
      display: block;
      padding-top: $inuit-base-spacing-unit;
    }
  }
  &--archive-our-work{
    display: flex;
  }
}