.drawer{
  border-bottom:solid 2px $brand-col-1;
  margin-bottom: $inuit-base-spacing-unit;
}

.drawer__title{
  transition: all 0.3s ease;
  background: $brand-col-1;
  padding: $inuit-base-spacing-unit--small / 2 $inuit-base-spacing-unit--small;
  margin-bottom: $inuit-base-spacing-unit--small / 4;
  color: #fff;
  cursor: pointer;

  position: relative;
  &:after{
    transition: all 0.3s ease;
    content:'';
    @include size(24px);
    position: absolute;
    right: $inuit-base-spacing-unit;
    top: 50%;
    transform: translate(0,-50%);
    background-image: url('assets/images/svg/plus--white.svg');
    background-size: 24px;
  }
  &:hover{
    margin-bottom: $inuit-base-spacing-unit--small / 2;
    &:after{
      opacity: 1;
    }
  }
  &[data-state=on]{
    margin-bottom: $inuit-base-spacing-unit / 2;
    &:after{
      opacity: 1;
      transform: translate(0,-50%) rotateZ(45deg) ;
    }
  }
}

.drawer__content{
  transition: all 0.3s ease;
  &[data-state=off]{
    max-height: 0;
    overflow: hidden;
  }
  &[data-state=on]{
    max-height: 30em;
    overflow: hidden;
  }
}