.event{
  padding-bottom: $inuit-base-spacing-unit;
  box-shadow: $z2-shadow;
}
.event{
  &__header{
    margin-bottom: $inuit-base-spacing-unit--small;
    border: none;
  }
  &__title{
    margin: 0;

    background: $brand-col-2--light;
    background-image: url('assets/images/svg/calendar--white.svg');
    background-repeat: no-repeat;
    background-position: 97.6% 85% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column-reverse;

    @include media-query(lap-and-up){
      padding-right: $inuit-base-spacing-unit * 2.5;
      flex-wrap: nowrap;
      background-position: 97.6% center ;
      flex-direction: row;
    }
  }
  &__link{
    transition: all 0.3s ease;
    color: #fff;
    text-decoration: none;

    padding:$inuit-base-spacing-unit--small;
    display: block;
    letter-spacing: 1px;
    &:hover{
      color: #fff;
      background: darken($brand-col-2--dark, 2.5%);
    }
    &--false{
      @extend .event__link;
      &:hover{
        color: #fff;
        background: $brand-col-2;
      }
    }
  }
  &__info {
    display: block;
    background: $brand-col-1--light;
    color: #fff;
    padding: $inuit-base-spacing-unit--small / 2 $inuit-base-spacing-unit--small;

    margin-bottom: $inuit-base-spacing-unit--small;
  }
  &__time{
    font-weight: 600;
    @include inuit-font-size($inuit-heading-size-6);
  }
  &__date{
    padding:$inuit-base-spacing-unit--small / 2 $inuit-base-spacing-unit--small ;
    color: #fff;
    font-family: $base-font-family;
    background: $brand-col-1;
    width: 100%;
    @include inuit-font-size($inuit-heading-size-6);
    @include media-query(lap-and-up){
      width: auto;
      padding:$inuit-base-spacing-unit--small $inuit-base-spacing-unit;
    }

  }
  &__label{
    @include inuit-font-size($inuit-heading-size-6);
  }
  &__description{
    margin: 0;
  }

  &__address{
    display: block;
    @include inuit-font-size($milli-size);
    padding:$inuit-base-spacing-unit--small $inuit-base-spacing-unit--small ;
    clear: both;
    address{
      margin-bottom: 0;
      background: rgba($brand-col-3--light, 0.5);
      padding: 0 $inuit-base-spacing-unit--small / 2 ;
      font-style: normal;
      display: inline-block;
    }

  }
  &__excerpt{
    display: block;
    padding:$inuit-base-spacing-unit--small / 2 $inuit-base-spacing-unit--small ;
    .wp-post-image{
      @include media-query(lap-and-up){
        float: right;
      }
      margin:0 auto $inuit-base-spacing-unit--small;

    }
  }
  &__read-more{
    display: block;
    padding:$inuit-base-spacing-unit--small / 2 $inuit-base-spacing-unit--small ;
  }
  &__more-link{
    @extend %link-style--read-more;
  }
  &__map-container{
    transition: all 0.3s ease;
    overflow: hidden;
    &[data-state=off]{
      max-height: 0;
    }
    &[data-state=on]{
      max-height: 250px;
    }
  }
  &__map{
    display: block;
    padding:$inuit-base-spacing-unit--small / 2 $inuit-base-spacing-unit--small ;
    clear: both;
    margin-top: $inuit-base-spacing-unit;

  }
  &__control{
   display: flex;
    justify-content: flex-end;
  }
}