/*
  BEM BLOCK .feature-list
 */

.feature-list {
  display: block;
  @include inuit-font-size($inuit-font-size-h1);
}

/*
  BEM BLOCK MODIFIER .feature-list--
 */

.feature-list-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .feature-list--

[class*=feature-list--] {
  @extend .feature-list;
}

/*
  BEM ELEMENTS .feature-list__
 */

.feature-list__ {
  &header {
    display: block
  }
  &heading {
    margin-bottom:0;
    @include inuit-font-size($inuit-font-size-h1);
    display: inline-block;
    color: $brand-col-2;
  }
  &title {
    display: inline;
  }
  &list{
    margin: 0;
  }
  &item{
    list-style-position: inside;
    padding-bottom: $inuit-global-spacing-unit;
    margin-bottom: $inuit-global-spacing-unit;
    border-bottom: solid 1px $brand-col-1;
    color: $brand-col-1;
  }
  &link {
    display: inline
  }

  &body {
    display: block;
    @include inuit-font-size($inuit-font-size-h4);
    @extend .o-box;
    padding: 0;
    color: $brand-col-2;
  }
  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .feature-list--

[class*=feature-list__header--] {
  @extend .feature-list__header;
}