.footer{

  padding: $inuit-base-spacing-unit 0 0;
  text-align: center;
}

.footer{

  &__content{
    max-width: $site-container-width;
    margin: 0 auto;
    padding-bottom: $inuit-base-spacing-unit;
    @include inuit-font-size($small-size);
    line-height: 1.3;
  }
  &__site-info{
    @include inuit-font-size($micro-size);
    background: $col-scc-gray;
    color: #fff;
    padding: $inuit-base-spacing-unit--small 0;
    p{
      margin-bottom: 0 !important;
    }
    a{
      color: $brand-col-3--light;
      &:hover{
       color: lighten($brand-col-3--light,10%);
      }
    }
  }
  ul, p{
    margin-bottom: $inuit-base-spacing-unit--small;
  }
}