.footer{
  padding-top:$inuit-global-spacing-unit-large;
}

.footer{
  &__content{
    max-width: $site-container-width;
    margin: 0 auto;
    padding: $inuit-global-spacing-unit-large 0 $inuit-global-spacing-unit-large;
    border-top:solid 3px white;
  }
  &__company-logo{
    display: block;
    max-width: 200px;
    margin: 0 auto $inuit-global-spacing-unit;
  }
  &__site-info{
    @include inuit-font-size($inuit-heading-size-6, 1);
    text-align: center;
    padding: $inuit-global-spacing-unit;
    background: black;
    color: white;
    a, a:visited{
      color:white;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    };
  }
}
