/*
  BEM BLOCK .footer-widgets
 */

.footer-widgets {
  display: flex;
  flex-wrap: nowrap;
}

/*
  BEM BLOCK MODIFIER .footer-widgets--
 */

.footer-widgets-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .footer-widgets--

[class*=footer-widgets--] {
  @extend .footer-widgets;
}

/*
  BEM ELEMENTS .footer-widgets__
 */

.footer-widgets__ {
  &widget {
    width: 100%;
  }
  &heading {
    display: block
  }
  &title {
    display: inline;
  }
  &link {
    display: inline
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .footer-widgets--

[class*=footer-widgets__header--] {
  //@extend .footer-widgets__header;
}