.footer{
  display: block;

}

.footer__{
  &content{
    @extend .o-site-wrapper--responsive;
    margin: 0 auto;
    background: $brand-col-2;
    @include mq($from : tablet){
      display: flex;
    }
  }
  &company-logo{
    display: block;
    max-width: 200px;
    margin: 0 auto $inuit-global-spacing-unit;
  }
  &site-info{
    @include inuit-font-size($inuit-font-size-h6, 1);
    text-align: center;
    padding: $inuit-global-spacing-unit;
    background: black;
    color: white;
  }
  &widget{
    @include inuit-font-size($inuit-font-size-h6, $inuit-global-line-height / 1.5 );
    margin-bottom:$inuit-global-spacing-unit;
    @extend .u-1-3--tablet;
    @include mq($from: tablet){
      padding-left:$inuit-global-spacing-unit ;
    }

    &:first-child{
      padding-left:0 ;
    }
  }
}
