.gallery{
    margin-bottom: $inuit-base-spacing-unit;
}
.gallery__slides{
  margin: 0 0 $inuit-base-spacing-unit--small   0;
}

/* cell inherit height from carousel */
.gallery__slide{
  //height: 100%;
  width: 100%;
  margin: 0;
  top: 50%;
  transform: translate(0,-50%);

}

.gallery__image{
  //height: 100%;
  width: 100%;
}

.gallery__img{
  height: 100%;
  max-height: 60vh;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.gallery__controller {
  //height: 150px;
  height: 10vh;
  margin-bottom: $inuit-base-spacing-unit--small;
}

.gallery__thumb {
  transition: opacity 0.3s ease;
  margin: 0 $inuit-base-spacing-unit--small / 2;
  opacity: 0.6;
  &.is-nav-selected{
    opacity: 1;
    &:hover{
      opacity: 1;
    }
  }
  &:hover{
    opacity: .7;
  }
}

.gallery__thumb-image{
  height: 100%;
}

.gallery__thumb-img{
  height: 100%;
  width: auto;
  max-height: 10vh;
  margin: 0 auto;
  display: block;
  .is-nav-selected &{
    border: solid 1px $brand-col-2;
  }
}

.gallery__controller .flickity-prev-next-button{
  display: none;
}
//[data-type=Traditional]{
//  display: none !important;
//}