/*
BEM BLOCK .hero
 */
.hero{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  height: 100vh;
  position: relative;
}

/*
BEM ELEMENTS .hero__
 */
.hero__{
  &container{
    height: 100%;
  }
  &background{
    width:100%;
    height: 100%;
    //position: absolute;
  }
  &background-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: saturate(10%);
  }
  &body{
    position: relative;
    width: 100%;
    color: white;
    max-height:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
  }
  &content{
    display: inline-block;
    padding: $act-unit-s;
    text-align: center;
    max-width: 100%;
    width: 1000px;
    * {
      color: white;
    }
  }
 &menu{
  @extend .o-list-inline;
  text-align: center;
   display: flex;
 }
  &logo{
    text-align: center;
    max-height:100%;
    height: 100%;
    padding: $act-unit;
    height: 400px;
  }
  &logo-img{
    display: block;
    margin: 0 auto;
    max-height:100%;

  }

}
