.hero{
 @include colour-cast($brand-col-1, 0.2, 0);

 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 width: 100vw;
 position: relative;
}

.hero{

 &__container{
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  @include media-query(lap-and-up){
   top: 35%;
  }
 }
 &__content{
  color: #fff;
 }

 &__menu{
  @extend .list-inline;

  text-align: center;
  max-width: 350px;
  margin: 0 auto 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 $inuit-base-spacing-unit;

  @include media-query(lap-and-up){
   flex-direction: row;
   padding: 0;
  }
 }
 &__menu-item{
  width: 100%;
 }
 &__logo{
  max-width: 300px;
  margin: 0 auto $inuit-base-spacing-unit;
 }

 &__logo-img{
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
 }
 &__link {
  @extend .btn;
  font-size: $inuit-heading-size-6;
  width: 100%;
  @include media-query(lap-and-up){
   width:auto;
  }
  .hero__menu-item:last-child &{
   @include btn-brand1;
  }
  .hero__menu-item:first-child &{
   @include btn-ghost;
   margin-bottom: $inuit-base-spacing-unit;
   @include media-query(lap-and-up){
    margin-bottom:0;
   }
  }
 }

}
