/*
BEM BLOCK .hero
 */
.hero{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 100vh;
  position: relative;
}

/*
BEM ELEMENTS .hero__
 */
.hero__{
  &container{
    height: 100%;
  }
  &background{
    width:100%;
    height: 100%;
    position: absolute;
  }
  &background-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: saturate(10%);
  }
  &body{
    @extend .o-wrapper;
    padding: $act-unit-h;
    padding-bottom: $act-unit-t;
    padding-top: $act-unit-t !important;
    position: relative;
    width: 100%;
    color: white;
    max-height:100%;
    height:100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
  }
  &content{
    display: inline-block;
    padding: 0;
    text-align: left;
    max-width: 100%;
    width: 800px;
    * {
      color: white;
    }
  }
   &menu{
    @extend .o-list-inline;
    text-align: center;
     display: flex;
   }
  &logo{
    text-align: center;
    max-height:100%;
    height: 100%;
    padding: $act-unit;
    height: 400px;
  }
  &logo-img{
    display: block;
    margin: 0 auto;
    max-height:100%;

  }

}

[class*="hero__body--"]{
  @extend .hero__body;
}

.hero__body--{
  &list-page{
    padding-top: $act-unit-l;
    padding-bottom: $act-unit-l * 2;
  }

}
