.island {
  @extend .u-1-of-3-desk;
  background: $brand-col-3;
  display: flex;
  flex-direction: column;
}

.island {

  &__feature-image{
    margin-bottom: $inuit-base-spacing-unit--small;
  }
  &__header{
    padding: 0 $inuit-base-spacing-unit;
  }
  &__title{
    @include inuit-font-size($inuit-heading-size-1,1);
    margin-bottom: 0;
  }
  &__body{
    padding: 0 $inuit-base-spacing-unit;
  }
  &__cta{
    padding: $inuit-base-spacing-unit 0;
    align-self: center;
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: flex-end;
  }
  &__btn{

  }

}

.island {

  &--charity {

    @extend .island;


    &__feature-image{
      @extend .island__feature-image;
    }
    &__header{
      @extend .island__header;
    }
    &__body{
      @extend .island__header;
    }
    &__cta{
      @extend .island__cta;
    }
    &__btn{
      @extend .island__btn;
    }
    &__title{
      @extend .island__title;
    }

  }
}