.main{
  max-width: $site-container-width;
  margin: 0 auto;
  padding:$inuit-global-spacing-unit;
  padding-bottom:0;

  body.home &{
    color: #fff;
    padding-bottom:$inuit-global-spacing-unit;
  }
}

[class*="main--"]{
  @extend .main;
}
