.masthead{
  max-width: $site-container-width;
  margin: 0 auto;
  padding: 0 $inuit-base-spacing-unit $inuit-base-spacing-unit;
}
.masthead{
  &__navigation{
    //@extend %off-page--curtain;
  }
  &__widget-area{
    width: 100%;
    margin: 0 auto;
    max-width: $site-container-width;
    height: $inuit-base-spacing-unit;
    background: #2f2d35;
  }
}