.masthead{
  @extend .site-container;
  padding: $inuit-global-spacing-unit $inuit-global-spacing-unit;
  border-bottom:solid $inuit-global-spacing-unit #2f2d35;
}
.masthead{
  &__navigation{
    @extend %off-page--curtain;
  }
  &__widget-area{
    display: none;
    width: 100%;
    margin: 0 auto;
    max-width: $site-container-width;
    height: $inuit-global-spacing-unit;
    background: #2f2d35;
  }
}