/*
  BEM BLOCK .post-author
 */

.post-author {
  display: block;
}

/*
  BEM BLOCK MODIFIER .post-author--
 */

.post-author-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .post-author--

[class*=post-date--] {
  @extend .post-author;
}

/*
  BEM ELEMENTS .post-author__
 */

.post-author__ {
  &header {
    display: block
  }
  &heading {
    display: block
  }
  &title {
    display: inline;
  }
  &link {
    display: inline
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
  &list{
    @extend .post-meta__list;
  }
  &item{
    @extend .post-meta__item;
  }
  &label{
    @extend .post-meta__label;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .post-author--

[class*=post-date__header--] {
  @extend .post-author__header;
}