/*
  BEM BLOCK .post-tags
 */

.post-tags {
  display: block;
}

/*
  BEM BLOCK MODIFIER .post-tags--
 */

.post-tags-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .post-tags--

[class*=post-date--] {
  @extend .post-tags;
}

/*
  BEM ELEMENTS .post-tags__
 */

.post-tags__ {
  &header {
    display: block
  }
  &heading {
    display: block
  }
  &title {
    display: inline;
  }
  &link {
    display: inline
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
  &list{
    @extend .post-meta__list;
  }
  &item{
    @extend .post-meta__item;
  }
  &label{
    @extend .post-meta__label
  }
}

//BEM ELEMENT MODIFIER FALLBACK .post-tags--

[class*=post-date__header--] {
  @extend .post-tags__header;
}