/*
  BEM BLOCK .sidebar-widgets
 */

.sidebar-widgets {
  display: block;
}

/*
  BEM BLOCK MODIFIER .sidebar-widgets--
 */

.sidebar-widgets-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .sidebar-widgets--

[class*=sidebar-widgets--] {
  @extend .sidebar-widgets;
}

/*
  BEM ELEMENTS .sidebar-widgets__
 */

.sidebar-widgets__ {
 &widget{
   margin-bottom: $act-unit;
   padding-bottom: $act-unit;
   border-bottom: solid 1px;
 }
}

//BEM ELEMENT MODIFIER FALLBACK .sidebar-widgets--

[class*=sidebar-widgets__widget--] {
  @extend .sidebar-widgets__widget;
}