.navigation--primary{
//  display: none;

}

.navigation--primary{
  &__list{
    @extend .o-list-inline;
    text-align: center;
  }
  &__item{
    padding:0 $inuit-global-spacing-unit-tiny;
    @extend .o-list-inline__item;
  }
  &__link{
    transition: background 0.3s ease;
    color: white;
    text-decoration: none;
    padding: $inuit-global-spacing-unit-tiny;
    @include inuit-font-size($inuit-heading-size-6);
    font-weight:100;
    background: rgba($brand-col-1--dark, 0);
    &:hover{
      background: rgba($brand-col-1--dark, 0.3);
    }
  }
}
