.post {
  border-bottom: solid 1px $brand-col-3;
  padding-bottom: $inuit-global-spacing-unit;
  margin-bottom: $inuit-global-spacing-unit-large;
  &.sticky{
    background: $brand-col-2;
    padding: $act-unit;
  }
}

.post__{

  &feature-image {
    margin-bottom: $inuit-global-spacing-unit;
  }
  &header {
    margin-bottom: $inuit-global-spacing-unit;

  }
  &heading {
    @include inuit-font-size($inuit-font-size-h2, 1);
    display: n;
  }
  &title {
    //border-bottom: solid 1px;
    display: block;
    @include inuit-font-size($inuit-font-size-h2, 1);
    margin-bottom: 0;
  }
  &title-link {
    display: block;
    text-decoration: none;
    @include inuit-font-size($inuit-font-size-h2, 1);
  }

  &post-meta {
    display: block;
    @include inuit-font-size($inuit-font-size-h6, 1);
  }
  &body {

  }
  &footer {
    display: none;
  }
  &read-more{
    @extend .c-btn;
    @extend .c-btn--n;
    margin-bottom: $act-unit-s;
  }
  &comment-link {
    @include inuit-font-size($act-fs-6 , 1);
    display: block;
  }
}
