//.post Block
.post {
  border-bottom: solid 1px $brand-col-1;
  padding-bottom: $inuit-global-spacing-unit;
  margin-bottom: $inuit-global-spacing-unit-large;
  position: relative;
  &:after{
    content: '';
    @include size(0.5em);
    background: $brand-col-1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%)
                rotateZ(45deg);
  }
}

//.post Elements
.post__{

  &header{
    margin-bottom: $inuit-global-spacing-unit-large /2;
    position: relative;
  }

  &heading{
    @include inuit-font-size($inuit-font-size-h2);
    margin-bottom: 0;
    margin-left: 1.5em;
    &:after{

    }
  }

  &heading-link{
    text-decoration: none;
  }

  &feature-image{
    margin-bottom: $inuit-global-spacing-unit;
  }

  &post-meta{
    display: block;
  }

  &body{
    @include inuit-font-size($inuit-font-size-h4);
  }

  &footer{
    @include inuit-font-size($inuit-font-size-h5, 1);
  }

  &comment-link{
    @include inuit-font-size($inuit-font-size-h5, 1);
  }
}

[class*='post--']{
  @extend .post;
}

[class*='post__header--']{
  @extend .post__header;
}

[class*='post__heading--']{
  @extend .post__heading;
}

[class*='post__heading-link--']{
  @extend .post__heading-link;
}

[class*='post__feature-image--']{
  @extend .post__feature-image;
}

[class*='post__post-meta--']{
  @extend .post__post-meta
}

[class*='post__body--']{
  @extend .post__body
}

[class*='post__footer--']{
  @extend .post__footer;
}

[class*='post__comment-link--']{
  @extend .post__comment-link
}


