.post{
  //background: #fff;
  //display: flex;
  //flex-wrap: wrap;
  //flex-direction: column;
  //width: 1000px;
  //height: 500px;
  //overflow: hidden;
  //box-shadow: $z1-shadow;
  border-bottom:solid 1px;
  padding-bottom:$inuit-global-spacing-unit;
  margin-bottom:$inuit-global-spacing-unit-large;

  &__feature-image{
    margin-bottom: $inuit-global-spacing-unit;
  }
  &__header{
    margin-bottom: $inuit-global-spacing-unit;

  }
  &__heading{
    @include inuit-font-size($inuit-font-size-h2, 1);
  }
  &__title{
    //border-bottom: solid 1px;
    display: block;
    @include inuit-font-size($inuit-font-size-h2, 1);
    margin-bottom: 0;
  }
  &__title-link{
    display: block;
    text-decoration: none;
    @include inuit-font-size($inuit-font-size-h2, 1);
  }

  &__post-meta{
    display: block;
    @include inuit-font-size($inuit-font-size-h6, 1);
    //padding: $inuit-global-spacing-unit-small /2 0 ;
  }
  &__body{
    //width: 50%;
    //padding: 0 $inuit-global-spacing-unit-large;
  }
  &__footer{
    //width: 50%;
    //padding: 0 $inuit-global-spacing-unit-large;
    //align-self: flex-end;
    //flex-grow: 1;
    //position: relative;
    @include inuit-font-size($inuit-small-print, 1);
  }
  &__comment-link{
    @include inuit-font-size($inuit-small-print, 1);
    //position: absolute;
    //padding: $inuit-global-spacing-unit;
    //bottom: 0;
    //right: 0;
  }

  &--aside__feature-image{
     //@extend .post__feature-image;
   }
  &--aside__header{
    //@extend .post__header;
  }
  &--aside__body{
    //@extend .post__body;
  }
  &--aside__footer{
    //@extend .post__footer;
  }
  &--aside__comment-link{
    //@extend .post__comment-link;
  }

  &--quote__feature-image{
    //@extend .post__feature-image;
  }
  &--quote__header{
    //@extend .post__header;
  }
  &--quote__body{
    //@extend .post__body;
  }
  &--quote__footer{
    //@extend .post__footer;
  }
  &--quote__comment-link{
    //@extend .post__comment-link;
  }
}

.post{
  &--video{
    &__header{
      @extend .post__header;
    }
    &__title{
      @extend .post__title;
    }
    &__body{
      @include inuit-font-size($inuit-font-size-h5);
    }
    &__feature-image{
      @extend .post__feature-image;
    }
    &__footer{
      @extend .post__footer;
    }
    &__post-meta{
      @extend .post__post-meta;
    }
    &__comment-link{
      @extend .post__comment-link;
    }

  }
}