.single-article {
  max-width: $article-max-width;
  margin: 0 auto $inuit-global-spacing-unit-large;
  border-bottom: solid 1px;
  padding-bottom: $inuit-global-spacing-unit;
}

.single-article__{

  &feature-image{
    margin-bottom: $inuit-global-spacing-unit;
  }
  
  &header{
    margin-bottom: $inuit-global-spacing-unit-large /2;
    position: relative;
  }

  &heading{
    margin-bottom: $inuit-global-spacing-unit-large /2;
    padding-left: 1.3em;
    &:after{
      //display: block;
      //width: 50%;
      //content: '';
      //border-bottom:solid 1px;
    }
  }

  &title{
    display: inline;
  }

  &post-meta{
    padding: $inuit-global-spacing-unit-large /2 0 ;
  }
  
  &body{
    display: block;
    //width: 50%;
    //padding: 0 $inuit-global-spacing-unit-large;
  }
  
  &footer{
    @include inuit-font-size($inuit-font-size-h6, 1);
    //width: 50%;
    //padding: 0 $inuit-global-spacing-unit-large;
    //align-self: flex-end;
    //flex-grow: 1;
    //position: relative;
  }
  
  &comment-link{
    @include inuit-font-size($inuit-font-size-h6, 1);
    //position: absolute;
    //padding: $inuit-global-spacing-unit;
    //bottom: 0;
    //right: 0;
  }
}

[class*='post--']{
  @extend .post;
}

[class*='single-article__header--']{
  @extend .single-article__header;
}

[class*='single-article__heading--']{
  @extend .single-article__heading;
}

[class*='single-article__title--']{
  @extend .single-article__title;
}

[class*='single-article__feature-image--']{
  @extend .single-article__feature-image;
}

[class*='single-article__post-meta--']{
  @extend .single-article__post-meta
}

[class*='single-article__body--']{
  @extend .single-article__body
}

[class*='single-article__footer--']{
  @extend .single-article__footer;
}

[class*='single-article__comment-link--']{
  @extend .single-article__comment-link
}


.single-article{
  &--video{
    @extend .single-article;
    &header{
      @extend .single-article__header;
    }
    &title{
      @extend .single-article__title;
    }
    &body{
      @include inuit-font-size($inuit-font-size-h5);
    }
    &feature-image{
      @extend .single-article__feature-image;
    }
    &footer{
      @extend .single-article__footer;
    }
    &post-meta{
      @extend .single-article__post-meta;
    }
    &comment-link{
      @extend .single-article__comment-link;
    }

  }
}