.single-page{
 padding:$inuit-global-spacing-unit-large 0;
}

.single-page{
 &__body{

  @include mq($from:tablet){
   width: 75%;
   max-width: 800px;
   margin: 0 auto;
  }
 }
}

[class*=single-page__body--]{
 @extend .single-page__body;
}

.single-page__body--{
 &full-width{
  width: 100%;
  max-width:none;
 }
}
