.single-service{

}


.single-service{
  &__header{
    margin-bottom:$inuit-base-spacing-unit--large;
  }
  &__title{
    @include brand-title();
  }
  &__category{
    text-align: center;
    display: block;
    @include inuit-font-size($inuit-heading-size-6);
    text-transform: uppercase;
    color: $brand-col-1;
  }
  &__body{
    display: flex;
    margin-bottom: $inuit-base-spacing-unit--large;
  }
  &__content{
    width: 100%;
    @include media-query(lap-and-up){
      width: 50%;
      padding-right:$inuit-base-spacing-unit--large;
    }
    .has-no-content-image &{
      @include media-query(lap-and-up){
        width: 75%;
        padding-right:0;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
  &__content-image{
    width: 100%;
    @include media-query(lap-and-up) {
      width: 50%;
      padding-left: $inuit-base-spacing-unit--large;
    }
  }

  &__img{
    max-width: 100%;
  }
}

