/*
BEM BLOCK .site
 */
.site{

}

/*
BEM ELEMENTS .site__
 */
.site__{
  &masthead{
    background: $brand-col-1;
  }
  &main{

  }
  &mobile-nav-widgets{
    transition: opacity 0.3s ease-in-out;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: $brand-col-2;
    z-index: 1000;
    opacity: 0;
    padding-top: $act-unit;
    &[data-state=off]{
      opacity: 0 !important;
      @include inuit-hidden-visually();
    }
    &[data-state=on]{
      opacity: 1;
    }
    @include mq($from : desktop){
      display: none !important;
    }
  }

  &footer{
    background: transparent;
  }
}