.site-title{
  display: block;
  margin: $inuit-global-spacing-unit 0;
  width: 340px;
  height: 20px;
  max-width:100%;
}

.site-title__{
  &link{
    display: block;
  }
  &logo--img{
    display: block;
  }
}

[class*=site-title--]{
  @extend .site-title;
}
