.site-title{
  display: block;
  margin: 0;
  width: 300px;
  max-width:100%;
}

.site-title__{
  &link{
    display: block;
  }
  &logo--img{
    display: block;
  }
}

[class*=site-title--]{
  @extend .site-title;
}
