.site{

}

.site__{
  &masthead{
    //background: $brand-col-1;
  }
  &hero{
    height: 80vh;
  }
  &main{
    //background: white;

    //body.home &{
    //  background: $brand-col-1;
    //  margin-bottom:$inuit-global-spacing-unit;
  }
  &footer{
    background: #ccc;
  }
}

.site__navigation--off-page {
  position: fixed;
  overflow: auto;
  top: 0;
  right: -400px;
  right: -20rem;
  height: 100%;
  width: 400px;
  width: 20rem;
  background: $brand-col-1;
  transition: right 0.4s cubic-bezier(0.6, 0.72, 0.38, 1.08);
  z-index: 9999;
  padding: $act-unit-h $act-unit-l 0 $act-unit-l;
  &[data-state=on]{
    right: -0rem;
  }
}