.site{

}

.site{
  &__masthead{
    background: $brand-col-1;
  }
  &__main{
    background: white;
    margin-bottom:$inuit-base-spacing-unit; 
    body.home &{
      background: $brand-col-1;
    }
  }
  &__footer{
    background: $igloo-blue--xdark;
  }
}