.subsidiary{
  max-width:$site-container-width;
  margin: 0 auto;
  color: #fff;
  padding-bottom: $inuit-base-spacing-unit--large;
}

.subsidiary{
  &__island{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 $inuit-base-spacing-unit--small;
    @include media-query(lap-and-up){
      margin: 0;
    }
  }
}