.subsidiary{
  max-width: $site-container-width;
  margin: 0 auto;
  padding:0;
  display: flex;
  flex-wrap: wrap;

  @include media-query(lap-and-up){
    padding:$inuit-base-spacing-unit;
  }
}

.subsidiary{
   &__widget{
     &:first-child{
       width: 100%;
     }
   }
  &__intro{
    margin-bottom:$inuit-base-spacing-unit;
  }
  &__title{
    @include brand-title();
  }

}