/*
  BEM BLOCK .widget
 */

.widget {
  display: block;
}

/*
  BEM BLOCK MODIFIER .widget--
 */

.widget-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .widget--

[class*=widget--] {
  @extend .widget;
}

/*
  BEM ELEMENTS .widget__
 */

.widget__ {
  &header {
    display: block
  }
  &heading {
    display: block
  }
  &title {
    display: block;
    margin-bottom: $inuit-global-spacing-unit-tiny;
    font-weight: normal;
  }
  &link {
    display: inline
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .widget--

[class*=widget__header--] {
  @extend .widget__header;
}

[class*=widget__title--] {
  @extend .widget__title;
}