.widget_act_tax_info{

  padding: 0 $inuit-global-spacing-unit;
  //margin-bottom:$inuit-global-spacing-unit;
  margin: 0 auto $inuit-global-spacing-unit;
  max-width: 100%;
  @include mq($from:desktop){
    width: 50%;
  }
}

.widget--subsidiary{
  border-bottom: solid 3px $brand-col-1;
  .subsidiary__widget:first-child &{
    border-bottom: none;
  }
}

.widget_act_tax_info{

  & > *{
    height: 100%;
  }
  &__term{
    padding: $inuit-global-spacing-unit 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

  }
  &__image{
    width: 140px;
    margin: 0 auto $inuit-global-spacing-unit;
  }
  &__title{
    width: 100%;
  }
  &__heading{
    text-transform: uppercase;
  }
  &__description{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
  &__footer{


  }
  &__menu{
    @extend .o-list-inline;
    display: flex;
    justify-content:space-around;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    @include mq($from:tablet){
      flex-wrap: nowrap;
    };

  }
  &__menu-item{
    //display: block !important;
    width: 100%;
    &:first-child {
      margin-bottom: $inuit-global-spacing-unit;
      @include mq($from:tablet) {
        margin-bottom: 0;
      }
    }

  }
  &__menu-link{
    @extend .c-btn;
    @extend .c-btn--s;;
    width: 100%;
    @include inuit-font-size($inuit-heading-size-6);
    text-transform: uppercase;
    width: 140px;

  }
}

.widget_act_tax_info__menu-link{
  &--more{
    @extend .widget_act_tax_info__menu-link;
    @include btn-ghost($brand-col-1, $brand-col-1, false, 3px, $brand-col-1, 0.05 );
    white-space: nowrap;
  }
  &--contact{
    @extend .widget_act_tax_info__menu-link;
    @include btn-brand1;
    box-shadow: none;
  }
}
