{% extends 'base.twig' %}

{% block hero %}
{% endblock %}



{% block content %}


  <div class="l-product-list">
    <ul class="l-product-list__list">
    {% for post in products %}
      <li class="l-product-list__item">
        {% include ["inc/tease-product.twig"] %}
      </li>
    {% endfor %}
    </ul>
  </div>

  {% do action('woocommerce_after_shop_loop') %}

{% endblock  %}

{% block belowContent %}
{% endblock %}
