%btn{
  @extend .btn;
}
.btn--cta1{
  @extend .btn;
  background: $brand-col-1;
  border-color: $brand-col-1;
  @include inuit-font-size(18px);
  width: 270px;
  white-space: pre;
  margin-bottom: $inuit-base-spacing-unit;
  &:last-child{
    margin-bottom: 0;
  }
  @include media-query(lap-and-up){
    margin-bottom: 0;
  }
}