{% extends "base-blank.twig" %}

{% block content %}
	<h1 class="u-fw-700 u-fs-g" >404</h1>
	<p class="u-fw-700 u-fs-g" >Uh-oh... here be pirates!</p>
	<p class="u-fw-700 u-fs-2" >The page you are looking for is lost in Davey Jones's Locker.<br>Could be it be time to go <a href="/">home</a>!</p>
	<ul>
		<li>Or you can <a href="/shop">buy my book</a>.</li>
		<li>Or you can goto <a href="/blog">the blog</a>.</li>
	</ul>


{% endblock %}
