{% extends "base.twig" %}

{% block hero %}
{% endblock %}

{% block feature %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block before_content %}
  <h1 class="main__title--tile"><span>Tile Gallery</span></h1>
 {%  include 'inc/tile-filters.twig' %}
{% endblock %}

{% block content %}
{% if posts is empty %}
  <p>There are currently no tiles on our website. <a href="/contact">Contact us</a> for more information about our range of tiles.</p>

{% else %}
  {% for post in posts %}
    {% set postFormat = fn('get_post_format', post)? '-'~fn('get_post_format', post) : '' %}
    {% include 'content-tile.twig' %}
  {% endfor %}
{% endif %}

{% endblock %}

{% block belowContent %}
{% endblock %}
