{% extends "base.twig" %}

{% block before_head %}
  <!-- archive-gallery-item.twig -->
{% endblock %}

{% block hero %}

{% endblock %}

{% block before_main %}
  {% include 'inc/widget-area.twig' with {'widgetContainer' : 'main-before'}%}
{% endblock %}


    {% block content %}
      <div class="l-post-thumb-list">
        <div class="l-post-thumb-list__list--column">
              {% for post in posts %}
                <div class="l-post-thumb-list__item--column">
                  <div class="l-post-thumb-list__post-thumb">
                      {% set postFormat = fn('get_post_format', post)? '-'~fn('get_post_format', post) : '' %}
                      {% include ['content/content'~postFormat~'.twig', 'content/content.twig'] %}
                  </div>
                </div>
              {% endfor %}
        </div>
      </div>
    {% endblock %}



{% block belowContent %}
  <div class="content__below">
    {% if posts.pagination.pages is not empty %}
    <div class="content__pagination">
      {% include 'inc/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
    </div>
    {% endif %}
  </div>
  <!-- removed comments in home.twig -->
{% endblock %}

{% set hasSideBar = false %}

{% block sidebar %}
  <!-- sidebar removed -->
{% endblock %}
