{%  set hideTitle = fn('get_field','hide_title')   %}
<article id="post-{{ post.id }}" class="single-service">


{% if hideTitle != true %}
    <header class="entry-header single-service__header ">
      {{ serviceCategory }}
      <h1 class="entry-title single-service__title ">
        <span>{{ post.title }}</span>
      </h1>
      <div class="entry-meta single-service__post-meta ">
        {% include 'inc/post-meta--page.twig' %}
      </div>
    </header>
  {% endif %}



    <div class="entry-content single-service__body ">
      {{ post.content }}
    </div>



    <footer class="single-service__footer ">
    </footer>


</article>