<div class="feature">
  <header class="feature__header">
    <h2 class="feature__title has-icon">
      <svg class="has-icon__icon " role="img" aria-label="Stretton Climate Care" preserveAspectRatio="none" >
        <title>Stretton Climate Care</title>
        <desc>Icon</desc>
        <use xlink:href="#icon-stretton-climate-care-logo-icon" />
      </svg>
      Electric Vehicle Day
    </h2>
  </header>
  <div class="feature__body">
    <div class="feature__video fitvid">
      {{ wp_oembed_get('https://www.youtube.com/watch?v=FV96XY7Etmo', {'width' : 780}) }}
    </div>
    <div class="feature__content">
      <p><strong>Stretton Climate Care annual Electric Vehicle Day.</strong><br>Stretton Climate Care are plugging in a fine array of electric vehicles and explaining the many benefits of driving electric. </p>
    </div>
    <div class="feature__cta">
      <a href="electric-vehicle-day" class="btn--cta1">Find Out More</a>
    </div>
  </div>

</div>