<div class="footer">
  <div class="footer__content">
    <p> Stretton Climate Care is a registered charity in England and Wales (No. 1159816)</p>
    <small>To the extent permitted at law, Stretton Climate Care does not accept any responsibility for any statements
      made by product providers on this website. You must not rely on this website without first taking specialist
      professional advice.</small>
  </div>
  <div class="footer__site-info">
    <p>
      <span> &copy; Stretton Climate Care 2007 - {{ "now" | date("Y") }} </span>
      <span class="sep"> | </span>
      <span><a title="Website Design Cardiff" href="http://ambercouch.co.uk">Website design by AmberCouch</a></span>

    </p>
  </div>
</div>