<div class="footer">
  <div class="footer__content">
    {{footer_widgets}}
  </div>
  <div class="footer__site-info">
    <p>
      <span> &copy; Stretton Climate Care 2007 - {{ "now" | date("Y") }} </span>
      <span class="sep"> | </span>
      <span><a title="Website Design Cardiff" href="http://ambercouch.co.uk">Cardiff Website Designer AmberCouch</a></span>

    </p>
  </div>
</div>