<div class="hero" style="background-image: url('/wp-content/uploads/2016/04/thomas-vaughn-bathrooms-hero.jpg');">
  <div class="hero__container">

    <div class="hero__offer">
      <div class="offer">
        <div class="offer__text">10% Off all Tiles in September!</div>
        <a class="offer__link" href="/contact">contact us for more info.</a>
      </div>
    </div>
    <div class="hero__content">


      <div class="hero__call-to-action">
        <ul class="hero__menu">
          <li class="hero__menu__item"><a class="hero__link " href="{{   fn('get_post_type_archive_link', 'our-work')  }}" >Our<br> Work</a></li>
          <li class="hero__menu__item"><a class="hero__link" href="/be-inspired" >Be<br> Inspired</a></li>
          <li class="hero__menu__item"><a class="hero__link" href="{{   fn('get_post_type_archive_link', 'tile')  }}" >Tile<br> Galley</a></li>
        </ul>
      </div>
    </div>
    {#<div class="hero__scroll-to">#}
      {#<div class="scroll-to"><a href="#primary" class="scroll-to__link">#}
          {#<svg class="scroll-to__icon" role="img" aria-label="Scroll to content" preserveAspectRatio="none">#}
            {#<title>Scroll icon</title>#}
            {#<desc>Scroll to content</desc>#}
            {#<use xlink:href="#icon-scroll-down" />#}
          {#</svg>#}
        {#</a>#}
      {#</div>#}
    {#</div>#}
  </div>
</div>