<section class="site__hero">
  <div class="hero">
    <div class="hero__container">
      <div class="hero__image">
        <img  alt="" class="hero__img" src="/content/uploads/2016/01/shutterstock_110700254_optimised.jpg"
              srcset="/content/uploads/2016/01/shutterstock_110700254_optimised-300x200.jpg 300w,
                 /content/uploads/2016/01/shutterstock_110700254_optimised-768x512.jpg 768w,
                 /content/uploads/2016/01/shutterstock_110700254_optimised-1024x683.jpg 1024w,
                 /content/uploads/2016/01/shutterstock_110700254_optimised.jpg 2000w"
        >
      </div>

      <div class="hero__content">
        <div class="hero__logo">
          <svg class="icon hero__svg" role="img" aria-label="{{ site.title }} {{ site.description }}" preserveAspectRatio="none" >
            <title>{{ site.title }}</title>
            <desc>{{ site.description }}</desc>
            <use xlink:href="#icon-stretton-climate-care-logo-main" />
          </svg>
        </div>
        <div class="hero__call-to-action">
          <a href="#primary" class="btn--cta1">Read Our Blog</a>
          <a href="/home-energy-checks" class="btn--cta1">Get A Home Energy Check</a>
        </div>
      </div>
    </div>
  </div>
</section>