{% extends "base.twig" %}

{% block before_head %}
  <!-- home.twig -->
{% endblock %}

{% block before_main %}
<section class="l-site__main-before--blog">
  <div class="l-main-before--blog">
    <div class="l-section--blog-intro">
      <div class="l-section__body ">
        <div class="l-section__cols is-col-50-50">
          <div class="l-section__col--1">
            <div class="l-section__coll-content">
              {{ post.content }}
            </div>
          </div>
          <div class="l-section__col--2">
            <div class="l-section__coll-content">
              <div class="c-post-thumb__feature-image{{ modClass }}">
                {% include "inc/feature-image.twig" with {
                  'imgObj' : post.thumbnail,
                  'templateCap' : 'hide'
                }
                %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="l-section__footer">
        <div class="l-section__footer-wrapper">
          <div class="l-section__footer-container--blog">
            <div class="l-section__footer-content--blog">

                <a class="c-btn--scroll-blogs" data-scroll href="#primary" >
                  <span class="c-btn__label">
                    View All Blog Posts
                  </span>
                  <span class="c-btn__icon--scroll-blogs">
                      <span class="c-svg-icon">
                        {% include "inc/svg-icon.twig" with {'icon' : 'icon-arrow-down'} %}
                      </span>
                  </span>
                </a>

            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</section>
  {% endblock %}

{% block before_content %}
  <section class="l-content-before">

    {% include 'inc/header.twig' with {
      'templateTitle' : 'Categories',
      'headerModClass' : '--blog-cates'
    } %}
    <div class="l-content-before__nav-menu">
      {{ function('do_shortcode', '[act_menu name="blog-filters"]') }}
    </div>

  </section>

{% endblock %}

{% block hero %}
  {% if removeHero %}
  {% else %}
  <section id="siteHero" class="l-site__hero">
    {% include 'inc/hero.twig' ignore missing %}
  </section>
  {% endif %}
{% endblock %}


{% block content %}
  {% include 'loop-template-post.twig' %}
{% endblock %}



{% block belowContent %}
  <div class="l-content-below">
    {% if posts.pagination.pages is not empty %}
      <div class="l-content__pagination">
        <div class="c-pagination--load-more">
          <div class="c-pagination__btn">
            <button class="c-btn--load-more" data-load-more data-container-selector=".l-post-thumb-list__list--blog">
              <span class="c-btn__label">Load More</span> <span class="c-btn__icon--load-more">{%  include 'inc/svg-icon.twig' with {'icon' : 'icon-arrow-down'} %}</span> <span class="c-btn__load-text">Loading...</span>
            </button>

          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <!-- removed comments in home.twig -->
{% endblock %}

{% set hasSideBar = false %}

{% block sidebar %}

{% endblock %}
