{% extends "base.twig" %}
{%  set templateClass = '--home' %}

{% block before_head %}
  <!-- home.twig -->
{% endblock %}

 {% block before_main %}
   {% if beforeContentType == 'simple' %}
     <div class="l-site__info-banner--blog-simple">
       <div class="c-info-banner--blog-simple">
         <header class="c-info-banner__header">
           <h3 class="c-info-banner__heading">
             <span class="c-info-banner__title">{{ beforeContentTitle}}</span>
           </h3>
         </header>
         <div class="c-info-banner__content--blog-simple">
           <p>{{ beforeContentText }}</p>
         </div>
       </div>
     </div>

   {% endif %}
 {% endblock %}

{% block content %}

  {% for post in posts %}
    {% set postFormat = fn('get_post_format', post)? '-'~fn('get_post_format', post) : '' %}
    {% include 'content/content'~postFormat~'.twig' %}<br>
  {% endfor %}

{% endblock %}

{% block belowContent %}
  <div class="content__below some test">
    {% if posts.pagination.pages is not empty %}
      <div class="content__pagination">
        {% include 'inc/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
      </div>
    {% endif %}
  </div>
  <!-- removed comments in home.twig -->
{% endblock %}
