{% extends "base.twig" %}

{% block before_head %}
  <!-- home.twig -->
{% endblock %}

{% block hero %}
  {% if removeHero %}
  {% else %}
  <section id="siteHero" class="l-site__hero">
    {% include 'inc/hero.twig' ignore missing %}
  </section>
  {% endif %}
{% endblock %}


    {% block content %}
      <div class="l-post-thumb-list--blog">
        <ul class="l-post-thumb-list__list--blog" data-isotope="blog">
              {% for post in posts %}
                <li class="l-post-thumb-list__item--blog"  >
                  <div class="l-post-thumb-list__post-thumb">
                    {% include ["inc/post-thumb.twig"] with {'postType' : 'blog', 'headerTitle' : post.title} %}
                  </div>
                </li>
              {% endfor %}
        </ul>
      </div>
    {% endblock %}



{% block belowContent %}
  <div class="l-content__below">
    {% if posts.pagination.pages is not empty %}
    <div class="l-content__pagination">
      {% include 'inc/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
    </div>
    {% endif %}
  </div>
  <!-- removed comments in home.twig -->
{% endblock %}

{% set hasSideBar = false %}

{% block sidebar %}

{% endblock %}
