{% extends "base.twig" %}

{% block before_head %}
  <!-- home.twig -->
{% endblock %}

{% block hero %}
  {% if removeHero %}
  {% else %}
  <section id="siteHero" class="l-site__hero">
    {% include 'inc/hero.twig' ignore missing %}
  </section>
  {% endif %}
{% endblock %}

{% block content %}

  {% for post in posts %}
    {% set postFormat = fn('get_post_format', post)? '-'~fn('get_post_format', post) : '' %}
    {% include ['content/content'~postFormat~'.twig', 'content/content.twig'] %}
  {% endfor %}
{% endblock %}

{% block belowContent %}
  <div class="content__below">
    {% if posts.pagination.pages is not empty %}
    <div class="content__pagination">
      {% include 'inc/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
    </div>
    {% endif %}
  </div>
  <!-- removed comments in home.twig -->
{% endblock %}

{% set hasSideBar = true %}

{% block sidebar %}
  <div id="sidebar" class="c-main__sidebar">
    <div class="c-sidebar-widgets">
      {{ sidebar_widgets }}
    </div>
  </div>
{% endblock %}
