{% extends "base.twig" %}

{% block before_head %}
<!-- index.twig -->
{% endblock %}

{% block hero %}
{% endblock %}

{% block before_content %}
 {% if catDescription %}
  <div class="l-content__before-content u-fw500">
    {{ catDescription }}
  </div>
  {% endif %}
{% endblock %}

{% block content %}

  {% for post in posts %}
    {% set postFormat = fn('get_post_format', post)? '-'~fn('get_post_format', post) : '' %}
    {% include ['content/content'~postFormat~'.twig', 'content/content.twig'] %}
  {% endfor %}
{% endblock %}

{% block belowContent %}
{% endblock %}

