{% extends "base.twig" %}

{% block before_head %}
<!-- index.twig -->
{% endblock %}

{% block hero %}
{% endblock %}

{% block before_content %}
 {% if catDescription %}
  <div class="l-content__before-content u-fw500">
    {{ catDescription }}
  </div>
  {% endif %}
{% endblock %}

{% block content %}

  <div class="l-content__post-loop">
    <div class="l-post-loop">
      {% for post in posts %}
        {% if loop.index == 3 %}
          <div class="l-post-loop__cta o-box u-tac u-mbl u-bgc2 u-col-white">
            <div class="c-cta">
              <div class="c-cta__content">
                <p>If you are worried about the impact Corona Virus has had on your business and would like to talk to us about the support available for you, please book a free 10 minute consultation. </p>
              </div>
              <div class="c-cta__footer">
                <div class="c-cta__btn">
                  <a href="#modal" class="o-btn">Book A Call Today</a>
                </div>
              </div>
            </div>
          </div>
          <hr class="o-sep--hr">
        {% endif %}
        {% set postFormat = fn('get_post_format', post)? '-'~fn('get_post_format', post) : '' %}
        <div class="l-post-loop__post">
          {% include ['content/content'~postFormat~'.twig', 'content/content.twig'] %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="remodal u-tal" data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <p>Fill in your detail below and click Send. We will then contact you to arrange your free consultation.</p>
    <div class="c-contact-form--book-call">
      {{ function('do_shortcode', '[contact-form-7 id="1605" title="Book Call"]') }}
    </div>
  </div>
{% endblock %}

{% block belowContent %}
{% endblock %}

