<div class="island--events">
  <div class="island--events__feature-image ">
    <div class="feature-image--island">
      <img class="feature-image--island__img" src="/content/uploads/2015/04/the-big-finish.jpg" alt="The Giving Machine"/>
    </div>
  </div>
  <header class="island--events__header">
    <h3 class="island--events__title">Stretton Climate Care Events</h3>
  </header>
  <div class="island--events__body">
    Stretton Climate Care host regular local event for all the family.
  </div>
  <div class="island--events__cta">
    <a href="/events" class="island--events__btn btn--cta1">See our events list</a>
  </div>
</div>