<div class="island--charity">
  <div class="island--charity__feature-image ">
    <div class="feature-image--island has-overlay">
      <img class="feature-image--island__img" src="/content/uploads/2016/02/berries.jpg" alt="The Giving Machine"/>
      <div class="feature-image--island__overlay has-overlay__overlay">
        <svg class="icon feature-image--island__icon" a-label="The Giving Machine" preserveAspectRatio="none">
          <title>The Giving Machine</title>
          <desc>Donate for free</desc>
          <use xlink:href="#icon-the-giving-machine"/>
        </svg>
      </div>
    </div>
  </div>
  <header class="island--charity__header">
    <h3 class="island--charity__title">Support and Donations</h3>
  </header>
  <div class="island--charity__body">
    Donating to Stretton Climate Care is easy and won’t cost you a penny to support our planet.
  </div>
  <div class="island--charity__cta">
    <a href="/donate" class="island--charity__btn btn--cta1">Find out how to donate</a>
  </div>
</div>