{# This is an example of a twig template.
 it can be copied to your theme template folder if you are using the timber plugin #}

<div class="l-post-thumb-list--post">
  <ul id="postThumbListPost" class="l-post-thumb-list__list--post" data-flickity='{ "cellAlign": "center", "contain": true, "pageDots": false, "wrapAround": true}'>
    {% for post in posts %}
      <li class="l-post-thumb-list__item--post">
        {% include ["inc/post-thumb-post.twig"] with  {'postType' : 'post' }%}
      </li>
    {% endfor %}
  </ul>
</div>
