{# This is an example of a twig template.
 it can be copied to your theme template folder if you are using the timber plugin #}
<div class="l-post-thumb-list--project">
  <ul class="l-post-thumb-list__list--project">
    {% for post in posts %}
      <li class="l-post-thumb-list__item--project">
        {% set headerTitle = (post.meta('project_thumb_title') ? post.meta('project_thumb_title') : post.title) %}
        {% include ["inc/post-slide.twig"] with {'postType' : 'project', 'headerTitle' : headerTitle} %}
      </li>
    {% endfor %}
  </ul>
</div>
