{# This is an example of a twig template.
 it can be copied to your theme template folder if you are using the timber plugin #}
<div class="l-post-thumb-list--service">
  <ul class="l-post-thumb-list__list--service">
    {% for post in posts %}
      <li class="l-post-thumb-list__item--service">
        {% set headerTitle = (post.meta('custom_post_thumb_title') ? post.meta('custom_post_thumb_title') : post.title) %}
        {% include ["inc/post-thumb.twig"] with {'postType' : 'service', 'headerTitle' : headerTitle} %}
      </li>
    {% endfor %}
  </ul>
</div>
