{# This is an example of a twig template.
 it can be copied to your theme template folder if you are using the timber plugin #}
<div class="l-post-thumb-list--case-study">
  <ul class="l-post-thumb-list__list--case-study">
    {% for post in posts %}
      <li class="l-post-thumb-list__item--case-study">
        {% set headerTitle = (post.meta('author_name')) ? post.meta('author_name') : post.title %}
        {% set headerSubtitleAfter = (post.meta('author_strapline')) ? post.meta('author_strapline') : 'hide' %}
        {% include ["inc/post-thumb-case-study.twig"] with {
          'postType' : 'case-study-thumb',
          'headerTitle' : headerTitle,
          'featureImage' : Image(post.meta('author_image'))
        } %}
      </li>
    {% endfor %}
  </ul>
</div>
