{# This is an example of a twig template.
 it can be copied to your theme template folder if you are using the timber plugin #}
<div class="l-product-list woocommerce">
  <ul class="l-product-list__list">
    {% for post in posts %}
      {% set product = fn('wc_get_product' , post.ID ) %}
      {% set variants = product.get_available_variations() %}
      {% set attributes = product.get_attributes() %}
      {% set defaultAtts = product.get_default_attributes() %}
      {% set classAjaxAdd = product.supports('ajax_add_to_cart') ? 'add_to_cart_button ajax_add_to_cart' : '' %}
      {% set productType = '' %}
      {% for att, value in defaultAtts %}
        {% if att == 'pa_product-type' %}
          {% set productType = fn('get_term_by', 'slug', value, 'pa_product-type') %}
        {% endif %}
      {% endfor %}
      <li class="l-product-list__item item-test">
        <div class="l-product-list__post-thumb">
          {% include ["inc/post-thumb--product.twig"] %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

