<header class="main__header--blog">
  <h1 class="main__title--blog">Climate Care Blog</h1>
  {#the_archive_description( '<div class="taxonomy-description">', '</div>' );#}
</header><!-- .page-header -->