<div class="navigation--social" >

  {{ fn('get_search_form') }}

  <span id="mastheadSearchBtn" class=" navigation--social__btn btn--search" data-state="off">
    <svg class="icon btn__icon" role="img" aria-label="Follow Stretton Climate Care on Twitter" preserveAspectRatio="none">
      <title>Stretton Climate Care on Twitter</title>
      <desc>Follow Stretton Climate Care on Twitter</desc>
      <use xlink:href="#icon-search"/>
    </svg>
  </span>

  <a href="//twitter.com/ecowarriorandco" class="navigation--social__btn btn--twitter">
    <svg class="icon btn__icon" role="img" aria-label="Follow Stretton Climate Care on Twitter" preserveAspectRatio="none">
      <title>Stretton Climate Care on Twitter</title>
      <desc>Follow Stretton Climate Care on Twitter</desc>
      <use xlink:href="#icon-twitter"/>
    </svg>
  </a>
  <a href="//www.facebook.com/StrettonClimateCare/" class=" navigation--social__btn btn--fb">
    <svg class="icon btn__icon" role="img" aria-label="Follow Stretton Climate Care on Twitter" preserveAspectRatio="none">
      <title>Stretton Climate Care on Twitter</title>
      <desc>Follow Stretton Climate Care on Twitter</desc>
      <use xlink:href="#icon-facebook"/>
    </svg>
  </a>

</div>