{% extends "base.twig" %}

{% set templateClass =  template ? '--'~template  : '' %}
{% set templateSlug = template ?  '-'~template  : '' %}

{% block before_head %}
  <!-- page.twig -->
  <!-- template - {{ template }} -->
  <!-- {{ hidePageTitle }} -->
{% endblock %}

{% block hero %}
  {% if pageBannerImage == '' %}
    <!-- add a page banner -->
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block before_main %}
  {% if (posts[0].before_main_title != '') or (posts[0].before_main_content != '')%}
    <section class="site__before-main">
      {% include 'inc/before-main.twig' %}
    </section>
  {% endif %}
{% endblock %}

{% block content %}

  {% for post in posts %}
    {% include 'content/content-single-page'~template_slug~'.twig' %}
  {% endfor %}

{% endblock %}






