{% extends "base.twig" %}

{% set templateClass =  template ? '--'~template  : '' %}
{% set templateSlug = template ?  '-'~template  : '' %}

{% block before_head %}
  <!-- page.twig -->
  <!-- template - {{ template }} -->
  <!-- {{ hidePageTitle }} -->
{% endblock %}

{% block hero %}
  {% if pageBannerImg != ''
    or cssPageBannerColourCast != ''
    or pageSettingsShowSiteHero == true
    or (fn('is_front_page') and pageSettingsHideSiteHero != true )
  %}
  <section id="siteHero" class="l-site__hero{{ templateClass }}">
    {% include 'inc/hero.twig' ignore missing %}
  </section>
  {% endif %}
{% endblock %}

{% block before_main %}

{% endblock %}

{% block content %}

  {% for post in posts %}
    {% include 'content/content-single-page'~template_slug~'.twig' %}
  {% endfor %}

{% endblock %}

{% block belowContent %}
  {% if not pageGlobalSettingHideComments or pageSettingsShowComments %}
    {{ parent() }}
  {% endif %}
{% endblock %}






