{% extends "base.twig" %}
{% set modContentClass = '' %}
{% set modBaseClass = '--'~template  %}
{% set templateClass =  template ? '--'~template  : '' %}
{% set templateSlug = template ?  '-'~template  : '' %}


  {% block before_head %}
    <!-- single-service.twig -->
    <!-- postFormat {{postFormat}} -->

  {% endblock %}

 {% block hero %}
 {% endblock %}

  {% block feature %}
  {% endblock %}

  {% block contentHeader %}
    <div class="l-content__header">
      {% include "inc/header.twig"
        with {
        templateTitle : 'Services',
        headingLevel : '2' ,
        headerModClass : '--service-intro',
        templateIcon: 'hide'
      }%}
    </div>
  {% endblock %}

  {% block content %}
    {{  fn('is_paged')? fn('the_posts_navigation') : '' }}
    {% for post in posts %}
    {% include  ['content/content-single'~templateSlug~'.twig', 'content/content-single-page.twig'] %}
  {% endfor %}
  {{  fn('is_paged')? fn('the_posts_navigation') : '' }}
{% endblock %}

  {% block contentAside %}

  {% endblock %}

{% block afterContent %}
{%  endblock %}

{% block belowContent %}
  <!-- removed comments -->
{% endblock %}





{% set hasSideBar  = false %}

{% block sidebar %}
 <!-- sidebar removed -->
{% endblock %}
