{% extends "base.twig" %}

  {% block hero %}
  {% endblock %}

{% block feature %}
{% endblock %}


{% block content %}
  {{  fn('is_paged')? fn('the_posts_navigation') : '' }}

  {% for post in posts %}
    {% set postFormat = fn('get_post_format', post)? '-'~fn('get_post_format', post) : '' %}
    {% include 'content-single-event.twig' %}
  {% endfor %}
  {{ fn('the_posts_navigation') }}

  <section id="comments" class="comments">
    <h3 class="comments__title">Comments</h3>
    <div class="comments__response">
      {% for cmt in post.get_comments() %}
        {% include "comment.twig" with {comment:cmt} %}
      {% endfor %}
    </div>
    <h3 class="comments__title">Leave a Reply</h3>
    <div class="comments__respond">
      {{ comment_form }}
    </div>
  </section>

{% endblock %}






