{% extends "base.twig" %}

  {% block hero %}
    <section class="site__hero">
      <div class="hero--service" style="background-image: url('{{  bannerImage.url }}');" >
        <img src="{{ bannerImage.url }}" alt="{{ bannerImage.alt }}" class="hero--service__image">
      </div>
    </section>
  {% endblock %}

{% block feature %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    {% include 'content-single-service.twig' %}
  {% endfor %}
{% endblock %}

{% block afterContent %}
  <section class="after-content--service">
    <div class="after-content--service__content">
      {{ serviceFooter }}
    </div>
  </section>
{% endblock %}

{% block subsidiary %}
{% endblock %}






