.u-db{
  display: block;
}

.u-dilb{
  display: inline-block;
}

.u-dil{
  display: inline;
}

.u-df{
  display: flex;
  @include mq($until : tablet){
    flex-direction: column;
  }
}

.u-fw{
  flex-wrap: wrap;
}