.u-m0{
  margin: 0 !important;
}
.u-mt{
  margin: $inuit-global-spacing-unit-tiny !important;
}
.u-ms{
  margin: $inuit-global-spacing-unit-small !important;
}
.u-mm{
  margin: $inuit-global-spacing-unit !important;
}
.u-ml{
  margin: $inuit-global-spacing-unit-large !important;
}
.u-mh{
  margin: $inuit-global-spacing-unit-huge !important;
}

.u-ml0{
  margin-left: 0 !important;
}
.u-mlt{
  margin-left: $inuit-global-spacing-unit-tiny !important;
}
.u-mls{
  margin-left: $inuit-global-spacing-unit-small !important;
}

.u-mlm{
  margin-left: $inuit-global-spacing-unit !important;
}
.u-mll{
  margin-left: $inuit-global-spacing-unit-large !important;
}
.u-mlh{
  margin-left: $inuit-global-spacing-unit-huge !important;
}

.u-mr0{
  margin-right: 0 !important;
}
.u-mrt{
  margin-right: $inuit-global-spacing-unit-tiny !important;
}
.u-mrs{
  margin-right: $inuit-global-spacing-unit-small !important;
}
.u-mrm{
  margin-right: $inuit-global-spacing-unit !important;
}
.u-mrl{
  margin-right: $inuit-global-spacing-unit-large !important;
}
.u-mrh{
  margin-right: $inuit-global-spacing-unit-huge !important;
}

.u-mt0{
  margin-top: 0 !important;
}
.u-mtt{
  margin-top: $inuit-global-spacing-unit-tiny !important;
}
.u-mts{
  margin-top: $inuit-global-spacing-unit-small !important;
}
.u-mtm{
  margin-top: $inuit-global-spacing-unit !important;
}
.u-mtl{
  margin-top: $inuit-global-spacing-unit-large !important;
}
.u-mth{
  margin-top: $inuit-global-spacing-unit-huge !important;
}

.u-mb0{
  margin-bottom: 0 !important;
}
.u-mbt{
  margin-bottom: $inuit-global-spacing-unit-tiny !important;
}
.u-mbs{
  margin-bottom: $inuit-global-spacing-unit-small !important;
}
.u-mbn{
  margin-bottom: $inuit-global-spacing-unit !important;
}
.u-mbl{
  margin-bottom: $inuit-global-spacing-unit-large !important;
}
.u-mbh{
  margin-bottom: $inuit-global-spacing-unit-huge !important;
}

.u-m0a{
  margin: 0 auto !important;
}

.u-mla{
  margin-left:auto !important;
}

.u-mra{
  margin-right:auto !important;
}