.u-p0{
  padding: 0 !important;
}
.u-pt{
   padding: $inuit-global-spacing-unit-tiny !important;
 }
.u-ps{
  padding: $inuit-global-spacing-unit-small !important;
}
.u-pm{
  padding: $inuit-global-spacing-unit !important;
}
.u-pl{
  padding: $inuit-global-spacing-unit-large !important;
}
.u-ph{
  padding: $inuit-global-spacing-unit-huge !important;
}

.u-pl0{
  padding-left: 0 !important;
}
.u-plt{
  padding-left: $inuit-global-spacing-unit-tiny !important;
}
.u-pls{
  padding-left: $inuit-global-spacing-unit-small !important;
}
.u-plm{
  padding-left: $inuit-global-spacing-unit !important;
}
.u-pll{
  padding-left: $inuit-global-spacing-unit-large !important;
}
.u-plh{
  padding-left: $inuit-global-spacing-unit-huge !important;
}

.u-pr0{
  padding-right: 0 !important;
}
.u-prt{
  padding-right: $inuit-global-spacing-unit-tiny !important;
}
.u-prs{
  padding-right: $inuit-global-spacing-unit-small !important;
}
.u-prm{
  padding-right: $inuit-global-spacing-unit !important;
}
.u-prl{
  padding-right: $inuit-global-spacing-unit-large !important;
}
.u-prh{
  padding-right: $inuit-global-spacing-unit-huge !important;
}

.u-p0{
  padding-top: 0 !important;
}
.u-ptt{
  padding-top: $inuit-global-spacing-unit-tiny !important;
}
.u-pts{
  padding-top: $inuit-global-spacing-unit-small !important;
}
.u-ptm{
  padding-top: $inuit-global-spacing-unit !important;
}
.u-ptl{
  padding-top: $inuit-global-spacing-unit-large !important;
}
.u-pth{
  padding-top: $inuit-global-spacing-unit-huge !important;
}

.u-pb0{
  padding-left: 0 !important;
}
.u-pbt{
  padding-left: $inuit-global-spacing-unit-tiny !important;
}
.u-pbs{
  padding-left: $inuit-global-spacing-unit-small !important;
}
.u-pbm{
  padding-left: $inuit-global-spacing-unit !important;
}
.u-pbl{
  padding-left: $inuit-global-spacing-unit-large !important;
}
.u-pbh{
  padding-left: $inuit-global-spacing-unit-huge !important;
}