//text-align
.u-ta-c, .u-tac{
  text-align: center !important;
}
.u-ta-l, .u-tal{
  text-align: left !important;
}
.u-ta-r, .u-tar{
   text-align: right !important;
 }
.u-ta-j, .u-taj{
  text-align: justify !important;
}



//text-transform
.u-tt-u{
   text-transform: uppercase;
 }
.u-tt-l{
  text-transform: lowercase;
}
.u-tt-c{
  text-transform: capitalize;
}

.u-td-n{
  text-decoration: none;
  *{
    text-decoration: none;
  }
}
.u-td-u{
  text-decoration: underline;
  a{
    text-decoration: underline;
  }
}

