.u-d-b{
  display: block;
}

.u-d-b--{
  &desktop{
    @include mq($from : desktop){
      display: block;
    }
  }
  &tablet{
    @include mq($from : tablet, $until : desktop){
      display: block;
    }
  }
  &mobile{
    @include mq($from : mobile, $until : tablet){
      display: block;
    }
  }

}

.u-d-ilb{
  display: inline-block !important;
}

.u-d-il{
  display: inline;
}

.u-d-f{
  display: flex;
}

.u-ai-e{
  align-items: flex-end;
}

.u-fw{
  flex-wrap: wrap;
}
.u-d-n{
  display: none;
}
.u-d-n{
  display: none;
}
.u-d-n--{
  &desktop{
    @include mq($from: desktop){
      display: none !important;
    }
  }
  &tablet{
    @include mq($from: tablet, $until : desktop){
      display: none !important;
    }
  }
  &mobile{
    @include mq($from: mobile, $until : tablet){
      display: none !important;
    }
  }
  &tiny{
        @include mq($until: mobile){
      display: none !important;
    }
  }


}

