$font-sizes: (
        1: $act-fs-1,
        2: $act-fs-2,
        3: $act-fs-3,
        4: $act-fs-4,
        5: $act-fs-5,
        6: $act-fs-6,
        g: $act-fs-g,
        m: $act-fs-m,
        k: $act-fs-k
);

@each $key, $size in $font-sizes {
  // Base font size class
  .u-fs-#{$key} {
    @include act-font-size($size);
  }

  // Responsive classes
  @each $breakpoint, $mq in $act-breakpoints {
    .u-fs-#{$key}--#{$breakpoint} {
      @include mq($mq...) {
        @include act-font-size($size, $important : true);
      }
    }
  }
}


//Font weight
.u-fw-1 {
  font-weight: 100;
}
.u-fw-2 {
  font-weight: 200;
}
.u-fw-3 {
  font-weight: 300;
}
.u-fw-4 {
  font-weight: 400;
}
.u-fw-5 {
  font-weight: 500;
}
.u-fw-6 {
  font-weight: 600;
}
.u-fw-7 {
  font-weight: 700;
}
.u-fw-8 {
  font-weight: 800;
}
.u-fw-9 {
  font-weight: 900;
}

.u-fw-l{
  font-weight: lighter;
}
.u-fw-n{
  font-weight: normal;
}
.u-fw-b{
  font-weight: bold;
}

.u-fst-n{
  font-style: normal;
}
.u-fst-i{
  font-style: italic;
}
.u-fst-o{
  font-style: oblique;
}

//Font family

.u-ff-s{
  font-family: $act-font-family-serif;
}
.u-ff-ss{
  font-family: $act-font-family-sans;
}
.u-ff-a{
  font-family: $act-font-family-alt;
}
.u-ff-m{
  font-family: $act-font-family-mono;
}
.u-ff-h{
  font-family: $act-font-family-headings;
}
