.u-col1, .u-col-1{
  color: $brand-col-1 !important;
  *{
    color: $brand-col-1;
  }
  [class*=u-col]{
    *{
      color: inherit;
    }
  }
}

.u-col2, .u-col-2 {
  color: $brand-col-2 !important;
  *{
    color: $brand-col-2;
  }
  [class*=u-col]{
    *{
      color: inherit;
    }
  }
}

.u-col3, .u-col-3 {
  color: $brand-col-3 !important;
  *{
    color: $brand-col-3;
  }
  [class*=u-col]{
    *{
      color: inherit;
    }
  }
}

.u-col4, .u-col-4{
  color: $brand-col-4 !important;
  *{
    color: $brand-col-4;
  }
  [class*=u-col]{
    *{
      color: inherit;
    }
  }
}

.u-col5, .u-col-5 {
  color: $brand-col-5 !important;
  *{
    color: $brand-col-5;
  }
  [class*=u-col]{
    *{
      color: inherit;
    }
  }
}

.u-col6, .u-col-6 {
  color: $brand-col-6 !important;
  *{
    color: $brand-col-6;
  }
  [class*=u-col]{
    *{
      color: inherit;
    }
  }
}

.u-col7, .u-col-7 {
  color: $brand-col-7 !important;
  *{
    color: $brand-col-7;
  }
  [class*=u-col]{
    *{
      color: inherit;
    }
  }
}

.u-col8, .u-col-8 {
  color: $brand-col-8 !important;
  *{
    color: $brand-col-8;
  }
  [class*=u-col]{
    *{
      color: inherit;
    }
  }
}

.u-col9, .u-col-9 {
  color: $brand-col-9 !important;
  *{
    color: $brand-col-9;
  }
  [class*=u-col]{
    *{
      color: inherit;
    }
  }
}

.u-col-w{
   color: white !important;
  *{
    color: white;
  }
  [class*=u-col]{
    *{
      color: inherit;
    }
  }
 }

.u-col-b{
  color: black !important;
  *{
    color: black;
  }
  [class*=u-col]{
    *{
      color: inherit;
    }
  }

}
