.u-c1{
  color: $brand-col-1;
}
.u-c2{
  color: $brand-col-2;
}
.u-c3{
  color: $brand-col-3;
}
.u-c4{
  color: $brand-col-4;
}
.u-c5{
  color: $brand-col-5;
}
.u-c6{
  color: $brand-col-6;
}
.u-c7{
  color: $brand-col-7;
}
.u-c8{
  color: $brand-col-8;
}
.u-c9{
  color: $brand-col-9;
}

.u-cwhite{
  color: white;
}
.u-cblack{
  color: black;
}