.u-jc-l{
 justify-content: flex-start !important;
}
.u-jc-r{
  justify-content: flex-end !important;
}
.u-jc-c{
  justify-content: center !important;
}

.u-ai-c{
  align-items: center !important;
}

.u-ai-s{
  align-items: flex-start!important;
}

.u-ai-e{
  align-items: flex-end!important;
}

