
.u-lh-1{
  line-height: 1;
}
.u-lh-1-1{
  line-height: 1.1;
}
.u-lh-1-2{
  line-height: 1.2;
}
.u-lh-1-3{
  line-height: 1.3;
}
.u-lh-1-4{
  line-height: 1.4;
}
u-lh-1-5{
  line-height: 1.5;
}
.u-lh-1-6{
  line-height: 1.6;
}
.u-lh-1-7{
  line-height: 1.7;
}
.u-lh-1-8{
  line-height: 1.8;
}
.u-lh-1-9{
  line-height: 1.9;
}
.u-lh-2{
  line-height: 2;
}

.u-lh-t{
  line-height: $act-unit-t;
}
.u-lh-s{
  line-height: $act-unit-s;
}
.u-lh, .u-lh-m{
  line-height: $act-unit;
}
.u-lh-l{
  line-height: $act-unit-l;
}
.u-lh-h{
  line-height: $act-unit-h;
}
