
.u-col1, .u-col-1{
  color: $brand-col-1 !important;
  *{
    color: $brand-col-1 !important;
  }
}

.u-col2, .u-col-2 {
  color: $brand-col-2 !important;

  *{
    color: $brand-col-2 !important;
  }
}

.u-col3, .u-col-3 {
  color: $brand-col-3 !important;
  *{
    color: $brand-col-3 !important;
  }
}

.u-col4, .u-col-4{
  color: $brand-col-4 !important;
  *{
    color: $brand-col-4 !important;
  }
}

.u-col5, .u-col-5 {
  color: $brand-col-5 !important;
  *{
    color: $brand-col-5 !important;
  }
}

.u-col6, .u-col-6 {
  color: $brand-col-6 !important;
  *{
    color: $brand-col-6 !important;
  }
}

.u-col7, .u-col-7 {
  color: $brand-col-7 !important;
  *{
    color: $brand-col-7 !important;
  }

}

.u-col8, .u-col-8 {
  color: $brand-col-8 !important;
  *{
    color: $brand-col-8 !important;
  }

}

.u-col9, .u-col-9 {
  color: $brand-col-9 !important;
  *{
    color: $brand-col-9 !important;
  }
}

.u-col-w{
   color: white !important;
  *{
    color: white !important;
  }
 }

.u-col-b{
  color: #000 !important;
  *{
    color: #000 !important;
  }
}
