//text-align
.u-tac{
  text-align: center !important;
}
.u-tal{
  text-align: left !important;
}
.u-tar{
   text-align: right !important;
 }
.u-taj{
  text-align: justify !important;
}



//text-transform
.u-ttu{
   text-transform: uppercase !important;
 }
.u-ttl{
  text-transform: lowercase !important;
}
.u-ttc{
  text-transform: capitalize !important;
}

.u-tdn{
  text-decoration: none !important;

  *{
    text-decoration: none;
  }
}
.u-tdu{
  text-decoration: underline !important;
  a{
    text-decoration: underline;
  }
}
