.u-bor-none{
  border-style: none;
}
.u-bor-sol{
  border-style: solid;
}
.u-bor-dot{
  border-style: dotted;
}
.u-bor-dash{
  border-style: dotted;
}

.u-bor-col-1{
  border-color: $brand-col-1;
}
.u-bor-col-2{
  border-color: $brand-col-2;
}
.u-bor-col-3{
  border-color: $brand-col-3;
}
.u-bor-col-4{
  border-color: $brand-col-4;
}
.u-bor-col-5{
  border-color: $brand-col-5;
}
.u-bor-col-6{
  border-color: $brand-col-6;
}
.u-bor-col-7{
  border-color: $brand-col-7;
}
.u-bor-col-8{
  border-color: $brand-col-8;
}
.u-bor-col-9{
  border-color: $brand-col-9;
}


.u-bor-t-none{
  border-top-style: none !important;
}
.u-bor-r-none{
  border-right-style: none !important;
}
.u-bor-b-none{
  border-bottom-style: none !important;
}
.u-bor-l-none{
  border-left-style: none !important;
}

.u-bor-w-1{
  border-width: 1px !important;
  border-style: solid;
}
.u-bor-w-2{
  border-width: 2px !important;
  border-style: solid;
}
.u-bor-w-3{
  border-width: 3px !important;
  border-style: solid;
}
.u-bor-w-4{
  border-width: 4px !important;
  border-style: solid;
}
.u-bor-w-5{
  border-width: 5px !important;
  border-style: solid;
}
.u-bor-w-t{
  border-width: $act-unit-t !important;
  border-style: solid;
}
.u-bor-w-s{
  border-width: $act-unit-s !important;
  border-style: solid;
}
.u-bor-w-m{
  border-width: $act-unit !important;
  border-style: solid;
}
.u-bor-w-l{
  border-width: $act-unit-l !important;
  border-style: solid;
}
.u-bor-w-h{
  border-width: $act-unit-h !important;
  border-style: solid;
}

.u-brad-t{
   border-radius: $act-unit-t !important;
 }
.u-brad-s{
  border-radius: $act-unit-s !important;
}
.u-brad-m{
  border-radius: $act-unit !important;
}
.u-brad{
  border-radius: $act-unit !important;
}
.u-brad-l{
  border-radius: $act-unit-l !important;
}
.u-brad-h{
  border-radius: $act-unit-h !important;
}

.u-bshad{
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}
