//text-align
.u-ta-c{
  text-align: center;
}
.u-ta-l{
  text-align: left;
}
.u-ta-r{
   text-align: right;
 }
.u-ta-j{
  text-align: justify;
}

.u-ta-c--{
  &mobile{
    @include mq($from : mobile, $until : tablet){
      text-align: center;
    }
  }
}



//text-transform
.u-tt-u{
   text-transform: uppercase;
 }
.u-tt-l{
  text-transform: lowercase;
}
.u-tt-c{
  text-transform: capitalize;
}

.u-td-n{
  text-decoration: none;

  *{
    text-decoration: none;
  }
}
.u-td-u{
  text-decoration: underline;
  a{
    text-decoration: underline;
  }
}

