.u-col1, .u-col-1{
  color: $brand-col-1 !important;
  p{
    color: $brand-col-1
  }
  span{
      color: $brand-col-1
  }
}

.u-col2, .u-col-2 {
  color: $brand-col-2 !important;
  p{
    color: $brand-col-2
  }
  span{
      color: $brand-col-2
  }

}

.u-col3, .u-col-3 {
  color: $brand-col-3 !important;
  p{
    color: $brand-col-3
  }
  span{
      color: $brand-col-3
  }
}

.u-col4, .u-col-4{
  color: $brand-col-4 !important;
  p{
    color: $brand-col-4
  }
  span{
      color: $brand-col-4
  }
}

.u-col5, .u-col-5 {
  color: $brand-col-5 !important;
  p{
    color: $brand-col-5
  }
  span{
      color: $brand-col-5
  }
}

.u-col6, .u-col-6 {
  color: $brand-col-6 !important;
  p{
    color: $brand-col-6
  }
  span{
      color: $brand-col-6
  }
}

.u-col7, .u-col-7 {
  color: $brand-col-7 !important;
  p{
    color: $brand-col-7
  }
  span{
      color: $brand-col-7
  }
}

.u-col8, .u-col-8 {
  color: $brand-col-8 !important;
  p{
    color: $brand-col-8
  }
  span{
      color: $brand-col-8
  }
}

.u-col9, .u-col-9 {
  color: $brand-col-9 !important;
  p{
    color: $brand-col-9
  }
  span{
      color: $brand-col-9
  }
}

.u-col-w{
   color: white !important;
  p{
    color: white
  }
  span{
      color: white
  }
 }

.u-col-b{
  color: black !important;
  p{
    color: black;
  }
  span{
    color: black;
  }

}
