.u-w-100vw{
   width: 100vw  !important;
 }

.u-w-100{
  width: 100% !important;
}

/*
UTILITIES width in px from 500 to 1500
  u-w-[xxx]px
 */

.u-w-500px{
   width: 500px !important;
 }

.u-w-600px{
  width: 600px !important;
}

.u-w-700px{
  width: 700px !important;
}

.u-w-800px{
  max-width: 800px !important;
}

.u-w-900px{
  width: 900px !important;
}

.u-w-1000px{
   width: 1000px !important;
 }

.u-w-1100px{
  width: 1100px !important;
}

.u-w-1200px{
  width: 1200px !important;
}

.u-w-1300px{
  width: 1300px !important;
}

.u-w-1400px{
  width: 1400px !important;
}

.u-w-1500px{
  width: 1500px !important;
}

/*
UTILITIES width in %
 */

.u-max-100{
  max-width: 100% !important;
}

.u-max-75{
  max-width: 75% !important;
}

.u-max-50{
  max-width: 50% !important;
}

.u-max-25{
  max-width: 50% !important;
}

/*
UTILITIES max-width in px
*/

.u-max-800px{
  max-width: 800px !important;
}
