.u-p0, .u-p-0{
  padding: 0 !important;
}
.u-pt, .u-p-t{
   padding: $inuit-global-spacing-unit-tiny;
 }
.u-ps, .u-p-s{
  padding: $inuit-global-spacing-unit-small;
}
.u-pm, .u-p-m{
  padding: $inuit-global-spacing-unit;
}
.u-pl, .u-p-l{
  padding: $inuit-global-spacing-unit-large;
}
.u-ph, .u-p-h{
  padding: $inuit-global-spacing-unit-huge;
}

.u-pl0, .u-pl-0{
  padding-left: 0 !important;
}
.u-plt, .u-pl-t{
  padding-left: $inuit-global-spacing-unit-tiny;
}
.u-pls, .u-pl-s{
  padding-left: $inuit-global-spacing-unit-small;
}
.u-plm, .u-pl-m{
  padding-left: $inuit-global-spacing-unit;
}
.u-pll, .u-pl-l{
  padding-left: $inuit-global-spacing-unit-large;
}
.u-plh, .u-pl-h{
  padding-left: $inuit-global-spacing-unit-huge;
}

.u-pr0, .u-pr-0{
  padding-right: 0;
}
.u-prt, .u-pr-t{
  padding-right: $inuit-global-spacing-unit-tiny;
}
.u-prs, .u-pr-s{
  padding-right: $inuit-global-spacing-unit-small;
}
.u-prm, .u-pr-m{
  padding-right: $inuit-global-spacing-unit;
}
.u-prl, .u-pr-l{
  padding-right: $inuit-global-spacing-unit-large;
}
.u-prh, .u-pr-h{
  padding-right: $inuit-global-spacing-unit-huge;
}

.u-pt0, .u-pt-0{
  padding-top: 0 !important;
}
.u-ptt, .u-pt-t{
  padding-top: $inuit-global-spacing-unit-tiny;
}
.u-pts, .u-pt-s{
  padding-top: $inuit-global-spacing-unit-small;
}
.u-ptm, .u-pt-m{
  padding-top: $inuit-global-spacing-unit;
}
.u-ptl, .u-pt-l{
  padding-top: $inuit-global-spacing-unit-large;
}
.u-pth, .u-pt-h{
  padding-top: $inuit-global-spacing-unit-huge;
}

.u-pb0, .u-pb-0{
  padding-left: 0;
}
.u-pbt, .u-pb-t{
  padding-left: $inuit-global-spacing-unit-tiny;
}
.u-pbs, .u-pb-s{
  padding-left: $inuit-global-spacing-unit-small;
}
.u-pbm, .u-pb-m{
  padding-left: $inuit-global-spacing-unit;
}
.u-pbl, .u-pb-l{
  padding-left: $inuit-global-spacing-unit-large;
}
.u-pbh, .u-pb-h{
  padding-left: $inuit-global-spacing-unit-huge;
}
