.u-d-b{
  display: block;
}

.u-d-ilb{
  display: inline-block;
}

.u-d-il{
  display: inline;
}

.u-d-f{
  display: flex;
}
.u-d-ilf{
  display: block;
  @include mq($from : desktop){
    display: flex;
  }

}

.u-f-w{
  flex-wrap: wrap;
}

.u-fa-c{
    align-items: center;
  }
.u-fj-c{
  justify-content: center;
}
