.u-d-b{
  display: block !important;
}

.u-d-ilb{
  display: inline-block !important;
}

.u-d-il{
  display: inline !important;
}

.u-d-f{
  display: flex !important;
}

.u-d-n{
  display: none !important;
}

.u-fw-w{
  flex-wrap: wrap !important;
}


.u-hide-cart-empty{
  .is-cart-empty &{
    display: none !important;
  }
}

.u-hide-cart-not-empty{
  .is-cart-not-empty &{
    display: none !important;
  }
}

