//margin
.u-m-0{
  margin: 0;
}

.u-mt{
  margin: $inuit-global-spacing-unit-tiny;
}
.u-ms{
  margin: $inuit-global-spacing-unit-small;
}
.u-mm{
  margin: $inuit-global-spacing-unit;
}
.u-ml{
  margin: $inuit-global-spacing-unit-large;
}
.u-mh{
  margin: $inuit-global-spacing-unit-huge;
}

//margin-left
.u-ml-0{
  margin-left:0;
}
.u-ml-t{
  margin-left: $inuit-global-spacing-unit-tiny !important;
}
.u-ml-s{
  margin-left: $inuit-global-spacing-unit-small !important;
}
.u-ml-m{
  margin-left: $inuit-global-spacing-unit !important;
}
.u-ml-l{
  margin-left: $inuit-global-spacing-unit-large !important;
}
.u-ml-h{
  margin-left: $inuit-global-spacing-unit-huge !important;
}

//margin-right
.u-mr-t{
  margin-right: $inuit-global-spacing-unit-tiny !important;
}
.u-mr-s{
  margin-right: $inuit-global-spacing-unit-small !important;
}
.u-mr-m{
  margin-right: $inuit-global-spacing-unit !important;
}
.u-mr-l{
  margin-right: $inuit-global-spacing-unit-large !important;
}
.u-mr-h{
  margin-right: $inuit-global-spacing-unit-huge !important;
}

//margin-top
.u-mt-0{
  margin-top: 0 !important;
}
.u-mt-t{
  margin-top: $inuit-global-spacing-unit-tiny !important;
}
.u-mt-s{
  margin-top: $inuit-global-spacing-unit-small !important;
}
.u-mt-m{
  margin-top: $inuit-global-spacing-unit !important;
}
.u-mt-l{
  margin-top: $inuit-global-spacing-unit-large !important;
}
.u-mt-h{
  margin-top: $inuit-global-spacing-unit-huge !important;
}


//margin-bottom
.u-mb-0{
  margin-bottom:0 !important;
}

.u-mb-t{
  margin-bottom: $inuit-global-spacing-unit-tiny !important;
}
.u-mb-s{
  margin-bottom: $inuit-global-spacing-unit-small !important;
}
.u-mb-m{
  margin-bottom: $inuit-global-spacing-unit !important;
}
.u-mb-l{
  margin-bottom: $inuit-global-spacing-unit-large !important;
}
.u-mb-h{
  margin-bottom: $inuit-global-spacing-unit-huge !important;
}

.u-m0a, .u-m-0a{
  margin: 0 auto;
}

.u-mla, .u-ml-a{
  margin-left:auto;
}

.u-mra, .u-mr-a{
  margin-right:auto;
}
