.u-p0, .u-p-0{
  padding: 0 !important;
}
.u-pt, .u-p-t{
   padding: $act-unit-t!important;
 }
.u-ps, .u-p-s{
  padding: $act-unit-s!important;
}
.u-pm, .u-p-m{
  padding: $act-unit!important;
}
.u-pl, .u-p-l{
  padding: $act-unit-l!important;
}
.u-ph, .u-p-h{
  padding: $act-unit-h!important;
}

.u-pl0, .u-pl-0{
  padding-left: 0 !important;
}
.u-plt, .u-pl-t{
  padding-left: $act-unit-t!important;
}
.u-pls, .u-pl-s{
  padding-left: $act-unit-s!important;
}
.u-plm, .u-pl-m{
  padding-left: $act-unit!important;
}
.u-pll, .u-pl-l{
  padding-left: $act-unit-l!important;
}
.u-plh, .u-pl-h{
  padding-left: $act-unit-h!important;
}

.u-pr0, .u-pr-0{
  padding-right: 0!important;
}
.u-prt, .u-pr-t{
  padding-right: $act-unit-t!important;
}
.u-prs, .u-pr-s{
  padding-right: $act-unit-s!important;
}
.u-prm, .u-pr-m{
  padding-right: $act-unit!important;
}
.u-prl, .u-pr-l{
  padding-right: $act-unit-l!important;
}
.u-prh, .u-pr-h{
  padding-right: $act-unit-h!important;
}

.u-pt0, .u-pt-0{
  padding-top: 0 !important;
}
.u-ptt, .u-pt-t{
  padding-top: $act-unit-t!important;
}
.u-pts, .u-pt-s{
  padding-top: $act-unit-s!important;
}
.u-ptm, .u-pt-m{
  padding-top: $act-unit!important;
}
.u-ptl, .u-pt-l{
  padding-top: $act-unit-l!important;
}
.u-pth, .u-pt-h{
  padding-top: $act-unit-h!important;
}

.u-pb0, .u-pb-0{
  padding-bottom: 0!important;
}
.u-pbt, .u-pb-t{
  padding-bottom: $act-unit-t!important;
}
.u-pbs, .u-pb-s{
  padding-bottom: $act-unit-s!important;
}
.u-pbm, .u-pb-m{
  padding-bottom: $act-unit!important;
}
.u-pbl, .u-pb-l{
  padding-bottom: $act-unit-l!important;
}
.u-pbh, .u-pb-h{
  padding-bottom: $act-unit-h!important;
}
