<div class="c-before-main">
  <div class="c-before-main__content">
    {% if (posts[0].before_main_title != '') %}
      <header class="c-before-main__header">
        <h2 class="c-before-main__heading" >
          <span class="c-before-main__title">{{ posts[0].before_main_title }}</span>
        </h2>
      </header>
    {% endif %}
    {% if (posts[0].before_main_content != '') %}
    <div class="c-before-main__body">
      {{posts[0].before_main_content }}
    </div>
    {% endif %}
  </div>
</div>