<div class="c-comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
	<div class="c-comment__icon">
		{% include 'inc/svg-icon.twig' with {icon : 'icon-quote-left-shl'}%}
	</div>

	<blockquote class="c-comment__content">
		<div class="c-comment__body">{{comment.comment_content|wpautop}}</div>
		<cite class="c-comment__cite">{{comment.author.name}}</cite>
</blockquote>
</div>
