<section id="comments" class="l-comments">
  <div class="l-comments__wrapper--responses">
    <div class="l-comments__responses">
      <div class="l-responses-list">

        {% if post.comments %}
          <ol class="l-responses-list__list">
            {% for cmt in post.comments %}
              <li class="l-responses-list__item">
                <div class="l-responses-list__comment">

                  {% include "inc/comment.twig" with {comment:cmt} %}

                </div>

              </li>
            {% endfor %}
          </ol>
        {% endif %}
      </div>
    </div>
  </div>
{% if showCommentForm != false %}
  <div class="l-comments__wrapper--comment-form">
      <div class="c-contact-form--comment-form">
        <h3 class="c-contact-form__heading--comment-form">Leave a Review</h3>
      </div>
    {% if post.comment_status == "closed" %}
      <p> comments for this post are closed </p>
    {% else %}
      <!-- comment form -->
      {% include "inc/comment-form.twig" %}
    {% endif %}
  </div>
  {% endif %}

</section>
