<div class="footer{{ not footer_widgets ? '--empty' : ''}}">
  {% if footer_widgets == '' %}
    <!-- Add some widgets to the footer -->
  {% else %}
  <div class="footer__footer-widgets">
    <div class="footer-widgets">
    {{footer_widgets}}
    </div>
  </div>
  {% endif %}
  <div class="footer__site-info">
    <div class="site-info">
    {{ site_info }}
    </div>
  </div>
</div>