{%  set bannerImg = fn('get_field','banner_image','options')   %}
{%  set bannerContent = fn('get_field','banner_content','options')   %}
{%  set bannerLogo = fn('get_field','banner_logo','options')   %}
{% set menuName = "hero" %}
{% set menu = _context['menu' ~ menuName | capitalize ] %}
<div class="hero" style="background-image: url('{{  bannerImg.url }}');">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__logo">
          <img class="hero__logo-img" src=" {{  bannerLogo.url  }}" alt="{{ bannerLogo.alt }}">
      </div>
      <div class="hero__content">
        {{  bannerContent  }}
      </div>
      <div class="hero__call-to-action">
        {% if not hideBannerMenu and menu | length %}
          <div class="c-hero__nav-menu--hero-cta">
            {% include 'inc/navigation.twig' %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
