<div class="l-masthead{{ templateClass }} {{ (mastheadbefore_widgets) ? 'has-before-widgets' : 'no-before-widgets' }}">

  {% if mastheadbefore_widgets == '' %}
    <!-- Add some widgets to the mastheadbefore-->
  {% else %}
    <div class="l-masthead__widget-area--masthead-before-widgets">
      <div class="l-widget-area--masthead-before-widgets" >
        {{mastheadbefore_widgets}}
      </div>
    </div>
  {% endif %}

  <div class="l-masthead__branding">
    <div class="l-masthead__site-title">
      {% if fn('get_field', 'company_logo', 'option') != false %}
        {% include 'inc/site-title-upload.twig' %}
      {%  elseif acSettings.svgLogo   %}
        {% include 'inc/site-title-svg.twig' %}
      {% else %}
        {% include 'inc/site-title-text.twig' %}
      {% endif %}
    </div>
  </div>

  <div class="l-masthead__navigation">
    {% set menuName = "primary" %}
  {% include 'inc/navigation.twig' %}
  </div>



  {% if mastheadafter_widgets == '' %}
    <!-- Add some widgets to the mastheadafter -->
  {% else %}
    <div class="l-masthead__widget-area--masthead-after-widgets">
      <div class="l-widget-area--masthead-after-widgets" >
        {{mastheadafter_widgets}}
      </div>
    </div>
  {% endif %}

</div>

