<div class="c-post-meta__section--social-share">
  <h6 class="c-post-meta__heading--social-share">Share</h6>
  <div class="c-post-meta__nav-menu--social-share">
    <div class="c-nav-menu--social-share">
      <div class="c-nav-menu__list--social-share">
        <div class="c-nav-menu__item--social-share">
          <a class="c-nav-menu__link--social-share" href="http://twitter.com/share?url={{ post.link }}&text={{ post.title }}&size=l&count=none" target="_blank">
            <span class="c-nav-menu__link-label--social-share">Share on Twitter</span><span class="c-nav-menu__svg-icon">{% include 'inc/svg-icon.twig' with {'icon' : 'icon-twitter'} %}</span>
          </a>
        </div>
        <div class="c-nav-menu__item--social-share">
          <a class="c-nav-menu__link--social-share" href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}" target="_blank">
            <span class="c-nav-menu__link-label--social-share">Share on Facebook</span><span class="c-nav-menu__svg-icon">{% include 'inc/svg-icon.twig' with {'icon' : 'icon-facebook'} %}</span>
          </a>
        </div>
        <div class="c-nav-menu__item--social-share">
          <a class="c-nav-menu__link--social-share" href="https://www.linkedin.com/sharing/share-offsite/?url={{ post.link }}" target="_blank">
            <span class="c-nav-menu__link-label--social-share">Share on Linkedin</span><span class="c-nav-menu__svg-icon">{% include 'inc/svg-icon.twig' with {'icon' : 'icon-linkedin'} %}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>




