{% set tempModClass = (tempModClass) ? tempModClass : null %}
{% set typeModClass = (postType) ?  '--'~postType : null %}
{% set modClass = (tempModClass) ? tempModClass : typeModClass %}
{% set headerTitle = (headerTitle) ? headerTitle : post.title %}


<article {{ fn('post_class', ['c-post-thumb'~modClass]) }}>
  <a href="{{ post.link }}" class="ac-test c-post-thumb__thumb-link{{ modClass }}">

      {% if headerTitle != false %}
        <div class="c-post-thumb__header{{ modClass }}">
          {% include "inc/header.twig" with {
            'headerModClass' : modClass,
            'templateTitle' :  headerTitle,
            'templateSubtitleAfter' : 'hide'
          } %}
        </div>
      {% endif %}

  </a>

</article>
