{% set modClass = (postType) ? '--'~postType : '' %}
{% set headerTitle = (headerTitle) ? headerTitle : post.title %}

<article {{ fn('post_class', ['c-post-slide'] ) }}>
  <a href="{{ post.link }}" class="ac-test-slide c-post-thumb__thumb-link">

  <div class="c-post-slide__feature-image">
     <img class="c-post-slide__img--slide" src="{{ post.thumbnail.src('feature500') }}" />
  </div>

<div class="c-post-slide__content">
  <div class="c-post-slide__header">
    {% include "inc/header.twig" %}
  </div>
</div>


  </a>

</article>
