<div class="c-post-meta">

  <div class="c-post-meta__section--post-author">
    <div class="c-post-meta__post-author">
      <span class="c-post-meta__label" >by</span> <span class="c-post-meta__author-name">{{ post.author }}</span>
    </div>
  </div>

</div>
