<div class="c-post-meta">

  <div class="c-post-meta__section--post-date">
    <div class="c-post-meta__post-date">
      <span class="c-post-meta__label" >Posted on</span> <span class="c-post-meta__date-published">{{ post.date }}</span>
    </div>
  </div>

</div>
