{% set modClass = (postType) ? '--'~postType : '' %}
{% set headerTitle = (headerTitle) ? headerTitle : post.title %}
{% set postUrl = (post.meta('hide_project_content_link') and post.meta('project_url')) ? post.meta('project_url') : post.link %}

<article {{ fn('post_class', ['c-post-slide'] ) }}>


  <div class="c-post-slide__feature-image">
    <a href="{{ post.link }}" class="c-post-silde__link--slide">
     {% include 'inc/feature-image.twig' with {'templateImageSize' : 'original', 'templateModClass' : '--slide'}%}
    </a>
  </div>

<div class="c-post-slide__content">
  <div class="o-wrapper--flex-col-centre">
    <div class="c-post-slide__header">
      {% include "inc/header.twig" with {
        'preSubHeading' : 'Project',
        'headerModClass' : '--slide'
      } %}
    </div>
    {% if not post.meta('hide_project_content_link') %}
    <a class='c-btn--slide-more' href="{{ post.link }}">Find out more</a>
    {% elseif  post.meta('project_url')%}
      <a class='c-btn--slide-more' href="{{ post.meta('project_url') }}">Visit the website</a>
    {% endif %}
  </div>

</div>



</article>
