<div class="c-post-meta__section--post-author">
    <div class="c-post-meta__post-author">
      <span class="c-post-meta__label--post-author" >Posted by</span> <span class="c-post-meta__author-name">{{ post.author }}</span>
    </div>
  </div>


