<div class="subsidiary">
  {% if menuService and not hideServiceMenu %}
  <div class="subsidiary__navigation">
    {% include 'inc/navigation-service.twig' %}
  </div>
  {% endif %}
  {% if subsidiary_widgets and not hideSubsidiaryWidgets%}
  <div class="subsidiary__widgets">
    <div class="subsidiary-widgets">
      {{ subsidiary_widgets }}
    </div>
  </div>
  {% endif %}
</div>