<div class="l-subsidiary">
  {% if menuService %}
  <div class="l-subsidiary__navigation">
    {% include 'inc/navigation-service.twig' %}
  </div>
  {% endif %}
  {% if subsidiary_widgets %}
  <div class="l-subsidiary__widget-area">
      {{ subsidiary_widgets }}
  </div>
  {% endif %}
</div>
