<div class="subsidiary">
  {% if menuService %}
  <div class="subsidiary__navigation">
    {% include 'inc/navigation-service.twig' %}
  </div>
  {% endif %}
  {% if subsidiary_widgets %}
  <div class="subsidiary__widgets">
      {{ subsidiary_widgets }}
  </div>
  {% endif %}
</div>