{% set icon = (icon) ? icon : 'icon-check' %}
<div class="c-svg-icon--svg-use">
  <svg class="c-svg-icon__svg--svg-use" preserveAspectRatio="none" viewBox="0 0 100 100">
    <use xlink:href="#{{ icon }}"></use>
  </svg>
</div>

