{% if mainbefore_widgets == '' %}
  <!-- Add some widgets to the mastheadbefore-->
{% else %}
  <div class="c-masthead__masthead-before-widgets">
    <div class="masthead-before-widgets" >
      {{mainbefore_widgets}}
    </div>
  </div>
{% endif %}
